body{ font-weight:normal;}
#mainNav{background:#000;}


.contact-page-area .form-area input, .contact-page-area .form-area textarea{
	color:#000;
}
.contact-page-area[_ngcontent-hej-c5] .form-area[_ngcontent-hej-c5] input[_ngcontent-hej-c5], .contact-page-area[_ngcontent-hej-c5] .form-area[_ngcontent-hej-c5] textarea[_ngcontent-hej-c5] {
    color: #000 !important;
}