

/* HeroSearch private styles */
body{padding-top: 70px;}
#mainNav{padding-bottom: 0px;padding-top: 0px;background: #000 !important;}

.search-result li {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width: 195px;
  height: 16px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
  list-style-type: none;
}

.search-result li:hover {
  background-color: #607D8B;
}

.search-result li a {
  color: #888;
  display: block;
  text-decoration: none;
}

.search-result li a:hover {
  color: white;
}
.search-result li a:active {
  color: white;
}
#search-box {
  width: 200px;
  height: 20px;
}


ul.search-result {
  margin-top: 0;
  padding-left: 0;
}
.bg-dark search_menu_l{
	z-index:-1 !important;
}
.search_menu>li>a{
    padding: 12px;
}
/* for advanced search */
		.custom-control{
    font-weight: normal;
}
.dropdown-toggle{
    padding-left: 10px;
    border-radius: 0px !important;
}
.dropdown.dropdown-lg .dropdown-menu {
    padding: 15px;
}

.dropdown.dropdown-lg .dropdown-menu{
    min-width: 580px;
}
.dropdown-menu{
    box-shadow: 1px 4px 8px -1px #c1c1c1;
}
.dropdown-menu {
    top: 46px !important;
}
/*@media (min-width: 979px) {
  .dropdown-toggle:hover > .dropdown.dropdown-lg .dropdown-menu {
    display: block;
  }
  body{
	  display:none;
  }
}*/

/* end advanced search */

