/* HeroSearch private styles */
body{padding-top: 70px;}
#mainNav{padding-bottom: 0px;padding-top: 0px;background: #000 !important;}
input[type="radio"], input[type="checkbox"]{
	height:10px !important;
}

.search-result li {
  border-bottom: 1px solid gray;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  width: 195px;
  height: 16px;
  padding: 5px;
  background-color: white;
  cursor: pointer;
  list-style-type: none;
}

.search-result li:hover {
  background-color: #607D8B;
}

.search-result li a {
  color: #888;
  display: block;
  text-decoration: none;
}

.search-result li a:hover {
  color: white;
}
.search-result li a:active {
  color: white;
}
#search-box {
  width: 200px;
  height: 20px;
}


ul.search-result {
  margin-top: 0;
  padding-left: 0;
}
.bg-dark search_menu_l{
	z-index:-1 !important;
}
.search_menu>li>a{
    padding: 12px;
}
/* for advanced search */
		.custom-control{
    font-weight: normal;
}
.dropdown-toggle{
    padding-left: 10px;
    border-radius: 0px !important;
}
.dropdown.dropdown-lg .dropdown-menu {
    padding: 15px;
}

.dropdown.dropdown-lg .dropdown-menu{
    min-width: 550px;
}
.dropdown-menu{
    box-shadow: 1px 4px 8px -1px #c1c1c1;
}
.dropdown-menu {
    top: 46px !important;
}
/*@media (min-width: 979px) {
  .dropdown-toggle:hover > .dropdown.dropdown-lg .dropdown-menu {
    display: block;
  }
  body{
	  display:none;
  }
}*/

/* end advanced search */

/* for video */
.d-block {
    cursor: pointer;
}
.icons_thum a{
	color: #fed136 !important;
}
.icons_thum1>span {
    width: 24px;
    height: 24px;
    background: rgba(0,0,0,0.3);
    border-radius: 50%;
    color: #fff;
    padding: 10px;
}
.icons_thum1 {
    position: fixed;
    right: 0px;
    right: 20px;
    top: 100px;
}
.main-content .photos .photo-item:hover .photo-text-more .icons_thum1 {
    position: fixed;
    top: 100px;
}
.main-content .photos .photo-text-more {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: 30px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.main-content .photos .d-block:hover .photo-text-more {
    margin-top: 0;
    opacity: 1;
    visibility: visible;
}
.main-content .photos .photo-item img{
	   /* object-fit: contain !important;*/
		background:#58303066 !important;
}
/* for video end  */
.grid ng-masonry-grid-item a, .grid ng-masonry-grid-item img{
	display: inherit !important;
}


.icons_thum2 a{
	color: #fed136 !important;
}
.icons_thum2>span {
    width: 24px;
    height: 24px;
    background: rgba(0,0,0,0.3);
    border-radius: 50%;
    color: #fff;
    padding: 10px;
}
.icons_thum2 {
    position: absolute;
    right: 0px;
    right: 7px;
    /* top: 100px; */
    bottom: 0px;
}
.main-content .photos .photo-item:hover .photo-text-more .icons_thum2 {
    position: fixed;
    top: 100px;
}
