<div class="loader-bg" *ngIf="loadingData">
    <div class="loader">
        Loading
        <span></span>
    </div>
</div>
<div class="bg-dark search_menu_l"  style="/*background: #151414*/background:#60048b !important; !important; position: fixed; width: 100%;z-index:1;margin-top: -17px;">


    <ul class="search_menu search_menu col-md-6 m-auto col-sm-6" style="width:390px">
        <li [class]="searchData.curated == 1 ? 'active' : ' '"><a href="javascript:void(0)" (click)="onTabClick(2)">RELEVENCE</a></li>
       <li [class]="searchData.letest == 1 ? 'active' : ' '"><a href="javascript:void(0)" (click)="onTabClick(1)">LATEST</a></li>
       <li [class]="searchData.populer == 1 ? 'active' : ' '"><a href="javascript:void(0)" (click)="onTabClick(3)">POPULAR</a></li>
    </ul>
    
    
    
</div>

<div class="site-wrap" >
  <div  [ngClass]="show == true ? 'page-wrapper chiller-theme toggled' : 'page-wrapper chiller-theme'">
  <a id="show-sidebar" class="btn btn-sm btn-dark" href="javascript:void(0)" (click)="show=!show" style="font-size: 17px;color:#fff;">
      <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
    </a>
 
        <!-- Sidebar -->
 
        <nav id="sidebar" class="sidebar" *ngIf="show">
        
        
  <div class="sidebar-content">
    <perfect-scrollbar>
      <div class="sidebar-header">
      <div class="col-md-12">
      <div class="row">
      <div class="col-md-10"><a>FILTERS</a></div>
        <div class="col-md-2"><a (click)="toggle()" class="" style="cursor:pointer;color:#fff;font-size: 17px;"><i class="fa fa-chevron-circle-left" aria-hidden="true"></i></a></div>
        </div>
        </div>
      </div>
     <div class="sidebar-profile" >
       <a id="show-sidebar" class="btn btn-sm btn-dark" href="javascript:void(0)" >
      <i class="fas fa-bars"></i>
    </a>
       <!-- <div class="user-pic">
          <img class="img-responsive img-rounded" src="assets/img/user.jpg" alt="User picture">
        </div>-->
        <div class="user-info" *ngIf="currentUser">
         <!-- <span class="user-name">Jhon
            <strong>Smith</strong>
          </span>
          <span class="user-role">Administrator</span>
          <span class="user-status">
            <i class="fa fa-circle"></i>
            <span>Online</span>
          </span>-->
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-lg-12 col-xl-12" *ngIf="!footerCssEle">
      		<form class="search_m header_serach mt-3 mb-3">
              <div class="input-group search-bar">
                  <div class="input-group-btn" ngbDropdown >
                      <button type="button" class="btn btn-secondary" id="dropdownBasic1" ngbDropdownToggle >
    <!--                    <span *ngIf='productType == 3'>Photos + Videos</span>-->
                        <span *ngIf='productType == 1'>Photos Only</span>
                        <span *ngIf='productType == 2'>Videos Only</span>
                      </button>
                      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu" style="margin-top:100px;">
    <!--                    <a class="dropdown-item" href="javascript:void(0)" (click)="searchDropDownClick(3)" ngbDropdownItem>Photos + Videos</a>-->
                        <a class="dropdown-item" href="javascript:void(0)" (click)="searchDropDownClick(1)" ngbDropdownItem><i class=""></i> Photos Only</a>
                        <a class="dropdown-item" href="javascript:void(0)" (click)="searchDropDownClick(2)" ngbDropdownItem>Videos Only</a>
                      </div>
                  </div>
                  
                  <input type="text" [(ngModel)]="keywordEle" [ngModelOptions]="{standalone: true}" #ctrl="ngModel" (keydown)="onKeydown($event)"  class="form-control" aria-label="Text input with dropdown button">
                  <i class="fa fa-search" (click)="onKeydown($event)"  style="cursor:pointer;"></i>
            </div>
      		</form>
    </div>
      
      <div class="sidebar-menu">
      <div class="sidebar-header"> 
            <div class="btn-group btn-group-toggle search-select" data-toggle="buttons">
                <label  [class]="searchData.productType == 1 ? 'btn btn-dark active' : 'btn btn-dark'" (click)="searchDropDownClick(1)">
                    <input type="radio"  name="options" [(ngModel)]="searchData.productType" value="1">
                    <p class="mb-0"> <i class="fa fa-camera"></i> </p>
                    <p class="mb-0">PHOTOS</p> 
                  </label>
                  <label  [class]="searchData.productType == 2 ? 'btn btn-dark active' : 'btn btn-dark'" (click)="searchDropDownClick(2)">
                    <input type="radio" name="options" [(ngModel)]="searchData.productType" value="2">
                    <p class="mb-0"> <i class="fa fa-video"></i> </p>
                    <p class="mb-0">  VIDEOS </p>
                  </label>  
            </div>
        </div>
          <ul>
              <li class="sidebar-dropdown">
                  <a href="javascript:void(0)" class="text-white fw-6" (click)="sidebarSubmenu1=!sidebarSubmenu1">  
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                    <span> People</span>              
                  </a>  
                   <div class="sidebar-submenu" *ngIf="sidebarSubmenu1">
                    <ul>
                      <li *ngFor="let peoples of leftsideData.product_peoples">
                        <a href="javascript:void(0)" [ngClass]="getSideBarClassName('people',peoples.people_id) ? 'active' : ' '"  (click)="onSideMenuClick('people',peoples.people_id)">{{peoples.people_name}}</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="sidebar-dropdown">
                  <a href="javascript:void(0)" class="text-white fw-6" (click)="sidebarSubmenu2=!sidebarSubmenu2">
                    <i class="fa fa-shopping-cart"></i>
                    <span>Gender</span>
                  </a>
                  <div class="sidebar-submenu sidebar-submenu-btn" *ngIf="sidebarSubmenu2">
                    <a href="javascript:void(0)" [ngClass]="getSideBarClassName('gender',gender.gender_id) ? 'btn btn-dark active' : 'btn btn-dark'"  *ngFor="let gender of leftsideData.product_gender" (click)="onSideMenuClick('gender',gender.gender_id)"> 
                      {{gender.gender_name}}</a>
                  </div>
                </li>
                <li class="sidebar-dropdown">
                  <a href="javascript:void(0)" class="text-white fw-6" (click)="sidebarSubmenu3=!sidebarSubmenu3">
                    <i class="far fa-gem"></i>
                    <span>Ethnicity</span>
                  </a>
                  <div class="sidebar-submenu" *ngIf="sidebarSubmenu3">
                    <ul>
                      <li *ngFor="let ethinicities of leftsideData.product_ethinicities">
                        <a href="javascript:void(0)" [ngClass]="getSideBarClassName('ethinicity',ethinicities.ethinicity_id) ? 'active' : ' '"  (click)="onSideMenuClick('ethinicity',ethinicities.ethinicity_id)">{{ethinicities.ethinicity_name}}</a>
                      </li>
                    </ul>
                  </div>
                </li>
              <li class="sidebar-dropdown">
                  <a href="javascript:void(0)" class="text-white fw-6" (click)="sidebarSubmenu6=!sidebarSubmenu6">
                      <i class="fa fa-globe"></i>
                      <span>Orientations</span>
                  </a>
                  <div class="sidebar-submenu" *ngIf="sidebarSubmenu6">
                      <ul>
                          <li *ngFor="let orientation of leftsideData.product_orientations">
                              <a href="javascript:void(0)"  [ngClass]="getSideBarClassName('orientation',orientation.orientation_id) ? 'active' : ' '"  (click)="onSideMenuClick('orientation',orientation.orientation_id)">{{orientation.orientation_name}}</a>
                          </li>
                      </ul>
                  </div>
              </li>
                <li class="sidebar-dropdown">
                  <a href="javascript:void(0)" class="text-white fw-6" (click)="sidebarSubmenu4=!sidebarSubmenu4">
                    <i class="fa fa-chart-line"></i>
                    <span>Location</span>
                  </a>
                  <div class="sidebar-submenu" *ngIf="sidebarSubmenu4">
                    <ul>
                      <li  *ngFor="let locations of leftsideData.product_locations">
                        <a href="javascript:void(0)" [ngClass]="getSideBarClassName('locations',locations.location_id) ? 'active' : ' '"  (click)="onSideMenuClick('locations',locations.location_id)">{{locations.location_name}}</a>
                     </li>
                    </ul>
                  </div>
                </li>
                <li class="sidebar-dropdown">
                  <a href="javascript:void(0)" class="text-white fw-6" (click)="sidebarSubmenu5=!sidebarSubmenu5">
                    <i class="fa fa-globe"></i>
                    <span>Color</span>
                  </a>
                  <div class="sidebar-submenu" *ngIf="sidebarSubmenu5">
                    <ul>
                      <li  *ngFor="let colors of leftsideData.product_colors">
                        <a href="javascript:void(0)" [ngClass]="getSideBarClassName('colors',colors.pcolor_id) ? 'active' : ' '"  (click)="onSideMenuClick('colors',colors.pcolor_id)">{{colors.pcolor_name}}</a>
                      </li>
                     
                    </ul>
                  </div>
                </li>

                 <li class="sidebar-dropdown">
                  <a href="javascript:void(0)" class="text-white fw-6"  (click)="sidebarSubmenu7=!sidebarSubmenu7">
                    <i class="fa fa-globe"></i>
                    <span>Image Types</span>
                  </a>
                  <div class="sidebar-submenu" *ngIf="sidebarSubmenu7">
                    <ul>
                      <li *ngFor="let imageTypes of leftsideData.product_imagetypes">
                        <a href="javascript:void(0)" [ngClass]="getSideBarClassName('imageTypes',imageTypes.imagetype_id) ? 'active' : ' '"    (click)="onSideMenuClick('imageTypes',imageTypes.imagetype_id)">{{imageTypes.imagetype_name}}</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="sidebar-dropdown">
                  <a href="javascript:void(0)" class="text-white fw-6"  (click)="sidebarSubmenu8=!sidebarSubmenu8">
                    <i class="fa fa-globe"></i>
                    <span>Image Sizes</span>
                  </a>
                  <div class="sidebar-submenu" *ngIf="sidebarSubmenu8">
                    <ul>
                      <li *ngFor="let imagesizes of leftsideData.product_imagesizes">
                        <a href="javascript:void(0)" [ngClass]="getSideBarClassName('imagesizes',imagesizes.imagesize_id) ? 'active' : ' '"  (click)="onSideMenuClick('imagesizes',imagesizes.imagesize_id)">{{imagesizes.imagesize_name}}</a>
                      </li>
                    </ul>
                  </div>
                </li>
                <li class="sidebar-dropdown">
                    <a href="javascript:void(0)" class="text-white fw-6"  (click)="sidebarSubmenu9=!sidebarSubmenu9">
                      <i class="fa fa-globe"></i>
                      <span>Sort Types</span>
                    </a>
                    <div class="sidebar-submenu" *ngIf="sidebarSubmenu9">
                      <ul>
                        <li *ngFor="let sorttype of leftsideData.product_sorttype">
                          <a href="javascript:void(0)" [ngClass]="getSideBarClassName('sorttype',sorttype.sorttype_id) ? 'active' : ' '" (click)="onSideMenuClick('sorttype',sorttype.sorttype_id)">{{sorttype.sorttype_name}}</a>
                        </li>
                      </ul>
                    </div>
                </li>
          </ul>
        </div>
    </perfect-scrollbar>
  </div>
  <!--<div class="sidebar-footer">
    <div class="dropdown" dropdown>

      <a href="#" dropdownToggle>
        <i class="fa fa-bell"></i>
        <span class="badge badge-pill badge-warning notification">5</span>
      </a>
      <div class="dropdown-menu notifications" *dropdownMenu>
        <div class="notifications-header">
          <i class="fa fa-bell"></i>
          Notifications
        </div>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">
          <div class="notification-content">
            <div class="icon">
              <i class="fas fa-check text-success border border-success"></i>
            </div>
            <div class="content">
              <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing
                elit. In totam explicabo</div>
              <div class="notification-time">
                6 minutes ago
              </div>
            </div>
          </div>
        </a>
        <a class="dropdown-item" href="#">
          <div class="notification-content">
            <div class="icon">
              <i class="fas fa-exclamation text-info border border-info"></i>
            </div>
            <div class="content">
              <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing
                elit. In totam explicabo</div>
              <div class="notification-time">
                Today
              </div>
            </div>
          </div>
        </a>
        <a class="dropdown-item" href="#">
          <div class="notification-content">
            <div class="icon">
              <i class="fas fa-exclamation-triangle text-warning border border-warning"></i>

            </div>
            <div class="content">
              <div class="notification-detail">Lorem ipsum dolor sit amet consectetur adipisicing
                elit. In totam explicabo</div>
              <div class="notification-time">
                Yesterday
              </div>
            </div>
          </div>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item text-center" href="#">View all notifications</a>
      </div>
    </div>
    <div class="dropdown" dropdown>
      <a href="#" dropdownToggle>
        <i class="fa fa-envelope"></i>
        <span class="badge badge-pill badge-success notification">7</span>
      </a>
      <div class="dropdown-menu messages" *dropdownMenu>
        <div class="messages-header">
          <i class="fa fa-envelope"></i>
          Messages
        </div>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">
          <div class="message-content">
            <div class="pic">
              <img src="assets/img/user.jpg" alt="">
            </div>
            <div class="content">
              <div class="message-title">
                <strong> Jhon doe</strong>
              </div>
              <div class="message-detail">Lorem ipsum dolor sit amet consectetur adipisicing
                elit. In totam explicabo</div>
            </div>
          </div>

        </a>
        <a class="dropdown-item" href="#">
          <div class="message-content">
            <div class="pic">
              <img src="assets/img/user.jpg" alt="">
            </div>
            <div class="content">
              <div class="message-title">
                <strong> Jhon doe</strong>
              </div>
              <div class="message-detail">Lorem ipsum dolor sit amet consectetur adipisicing
                elit. In totam explicabo</div>
            </div>
          </div>

        </a>
        <a class="dropdown-item" href="#">
          <div class="message-content">
            <div class="pic">
              <img src="assets/img/user.jpg" alt="">
            </div>
            <div class="content">
              <div class="message-title">
                <strong> Jhon doe</strong>
              </div>
              <div class="message-detail">Lorem ipsum dolor sit amet consectetur adipisicing
                elit. In totam explicabo</div>
            </div>
          </div>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item text-center" href="#">View all messages</a>

      </div>
    </div>
    <div class="dropdown" dropdown>
      <a href="#" dropdownToggle>
        <i class="fa fa-cog"></i>
        <span class="badge-sonar"></span>
      </a>
      <div class="dropdown-menu" *dropdownMenu>
        <a class="dropdown-item" href="#">My profile</a>
        <a class="dropdown-item" href="#">Help</a>
        <a class="dropdown-item" href="#">Setting</a>
      </div>
    </div>
    <div>
      <a href="#">
        <i class="fa fa-power-off"></i>
      </a>
    </div>
  </div>-->
</nav>

 
        <!-- /#sidebar-wrapper -->
    
    
    
    
    
    
<!-- mt-5 -->
    <main class="page-content mt-3">
       
        <main class="main-content">
          <div style="width: 100%; z-index: 9999; background: #000; top:132px;left:19%;padding: 10px;">
            <p><small>290154 Exclusive Royalty-Free stock photos and videos for beauty</small></p>     
            <span class="f-12">Related:</span> 
            <span class="related_key mt-10">
             <a href="/search?type={{searchData.productType}}&keyword={{keys}}" class="btn btn-outline-light btn-sm f-12" title="underwater" *ngFor="let keys of keyword">{{keys}}</a>
            </span>
          </div> 
          <div class="clearfix"></div>

          <div class="photos"><!-- pt-5 mt-5 -->
              <div class="row align-items-stretch">
                  <div [ngClass]="getClassName(aosimges)" data-aos="fade-up" data-aos-delay="200"  *ngFor="let aosimges of aoslSliderImages | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize;let i= index">
                      <a routerLink="/detail/{{aosimges.api_product_id}}/{{aosimges.product_web}}/{{aosimges.product_main_type}}" class="d-block photo-item">
                        <div class="">
                            <img *ngIf="aosimges.product_main_type == 'Image'" src="{{aosimges.product_thumbnail}}" alt="Image" class="img-fluid">

                            <div class="photo-text-more">
                          <h3 class="heading">{{aosimges.product_title}}</h3>
                          <span class="meta">{{aosimges.description}} Photos</span>
                          <p class="icons_thum">
                            <span><i class="fa fa-image"></i></span>
                            <span><i class="fa fa-heart"></i></span>
                            <span><i class="fa fa-plus"></i></span>
                        </p>
                        </div>
                        </div>
                      </a>
                      <a  *ngIf="aosimges.product_main_type != 'Image'" routerLink="/detail/{{aosimges.api_product_id}}/{{aosimges.product_web}}/{{aosimges.product_main_type}}" class="d-block ">
                          <video  width="400" height="300" [poster]="aosimges.product_thumbnail" #htmlVideoElement controls onmouseover="this.play()"
                                  onmouseout="this.load()"
                                  style="width: 100% !important;background: #7d494957;object-fit: cover;">
                              <source src="{{aosimges.product_main_image}}" type="video/mp4">
                              Your browser does not support the video tag.
                          </video>
                          <!-- <iframe  *ngIf="aosimges.mimetype != 'image/jpeg'" src="https://www.youtube.com/embed/xcJtL7QggTI?rel=0&amp;autoplay=0&mute=1" webkitallowfullscreen mozallowfullscreen allowfullscreen height="300" width="100%"></iframe>  -->
                      </a>
                  </div>
              </div>
              <div class="col-md-5 col-sm-6 col-12 m-auto pagination_d" *ngIf="aoslSliderImages.length !=0">
                  <ngb-pagination [collectionSize]="aoslSliderImages.length"  [pageSize]="pageSize"
                  [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" (pageChange)="onPageChange($event)"
                  [boundaryLinks]="true"></ngb-pagination>
                  
                  

              </div>
          </div>
        </main>
    </main>

  </div>
</div>
