.catList{position:fixed; top:50px; width:100%; min-height:50px; z-index:999;}
.catList li {display:inline-block;}
.catList li>a{padding:25px 40px; display:block; color:#000;}
.catList li>a:hover{background:#dbdbdb; color:#000}
.catList  ul{
	display: flex;
    justify-content: center;
	}
.mytabs{background: none;}
.mytabs>li>.nav-link{padding:1rem;}
.mytabs>li{margin-bottom: 10px;}
.mytabs>li>.nav-link{background-color: #e9ecef !important; color:#aaa !important; font-weight: 600;}
.mytabs>li>.nav-link.active{background: #000; color:#fed136;}
.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;

}


.avatar-upload {
  position: relative;
  max-width: 205px;
 }
.avatar-upload .avatar-edit {
  position: absolute;
  right: 12px;
  z-index: 1;
  top: 10px;
}
.avatar-upload .avatar-edit input {
  display: none;
}
.avatar-upload .avatar-edit input + label {
  display: inline-block;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
}
.avatar-upload .avatar-edit input + label:hover {
  background: #f1f1f1;
  border-color: #d6d6d6;
}
.avatar-upload .avatar-edit input + label:after {
  content: "\f040";
  font-family: 'FontAwesome';
  color: #757575;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
}
.avatar-upload .avatar-preview {
  width: 192px;
  height: 192px;
  position: relative;
  border-radius: 100%;
  border: 6px solid #F8F8F8;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.avatar-upload .avatar-preview > div {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.fade:not(.show){display: none;}



.faq-nav {
  flex-direction: column;
  margin: 0 0 32px;
  border-radius: 2px;
  border: 1px solid #ddd;
  box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
}
.faq-nav .nav-link {
  position: relative;
  display: block;
  margin: 0;
  padding: 13px 16px;
  background-color: #fff;
  border: 0;
  border-bottom: 1px solid #ddd;
  border-radius: 0;
  color: #616161;
  transition: background-color .2s ease;
}
.faq-nav .nav-link:hover {
  background-color: #f6f6f6;
}
.faq-nav .nav-link.active {
  background-color: #f6f6f6;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
}
.faq-nav .nav-link:last-of-type {
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom: 0;
}
.faq-nav .nav-link i.mdi {
  margin-right: 5px;
  font-size: 18px;
  position: relative;
}

.tab-content.faq_tab-content {
  box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
}
.tab-content.faq_tab-content .card {
  border-radius: 0;
}
.tab-content.faq_tab-content .card-header {
  padding: 15px 16px;
  border-radius: 0;
  background-color: #f6f6f6;
}
.tab-content.faq_tab-content .card-header h5 {
  margin: 0;
}
.tab-content.faq_tab-content .card-header h5 button {
  display: block;
  width: 100%;
  padding: 0;
  border: 0;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.87);
  text-align: left;
  white-space: normal;
}
.tab-content.faq_tab-content .card-header h5 button:hover, 
.tab-content.faq_tab-content .card-header h5 button:focus, 
.tab-content.faq_tab-content .card-header h5 button:active,
 .tab-content.faq_tab-content .card-header h5 button:hover:active {
  text-decoration: none;
}
.tab-content.faq_tab-content .card-body p {
  color: #616161;
}
.tab-content.faq_tab-content .card-body p:last-of-type {
  margin: 0;
}

.accordion > .card:not(:first-child) {
  border-top: 0;
}

.collapse.show .card-body {
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
}
.btn-rounded {
    border-radius: 50px;
 
}
.btn-secondary, .btn-secondary.disabled {
    -webkit-transition: 0.2s ease-in;
    -o-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
    background-color: #ffffff;
    color: #8d97ad;
}

.card.card-shadow {
    -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
    box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}
.display-5 {
    font-size: 3rem;
}

.pricing1 .title {
    margin-top: 20px;
    font-weight: 500;
    margin-bottom: 5px;
    font-size: 1.4rem;
}
.pricing1 .subtitle {
    font-size: 14px;
}
.subtitle {
    color: #8d97ad;
    line-height: 24px;
}
.pricing1 .pricing {
    margin: 35px 0;
}
.pricing1 .pricing .display-5 {
    color: #263238;
}
.pricing1 .pricing sup {
    font-size: 18px;
    top: -20px;
}
.pricing1 .list-inline li {
    padding: 8px 0;
    display: block;
    color:#8d97ad;
}
.btn-success-gradiant {
    background: #2cdd9b;
    background: -webkit-linear-gradient(legacy-direction(to right), #2cdd9b 0%, #1dc8cc 100%);
    background: -webkit-gradient(linear, left top, right top, from(#2cdd9b), to(#1dc8cc));
    background: -webkit-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: -o-linear-gradient(left, #2cdd9b 0%, #1dc8cc 100%);
    background: linear-gradient(to right, #2cdd9b 0%, #1dc8cc 100%);
    border: 0px;
}
.columnFive{width:1250px !important; margin:auto;}
.banner-area{ margin-top:86px !important;}
.banner-area.banner-area-new{/*background:url(../../img/banner/b2.jpg) no-repeat;*/
background-size:cover;
 margin-top:86px !important;}
.circle_img{width: 150px; height: 150px; border-radius: 50%; border:2px solid #fff; padding: 2px; margin:-50px auto 20px;}
.uPrf_contr{position: relative; top: -100px;}
.pro_follwers>li{display: inline-block; padding:5px;}
.product-info{width: 150px;}
.product-info>i.fa{font-size: 16px; color: #ddd;}
.cart_option>a{color:#999;}
.cart_option>a:hover{color:#000;}
.show-promocode{display: none;}
.f-30:before{font-size:30px !important;}
.f-24:before{font-size:24px !important;}
.f-20:before{font-size:20px !important;}
.f-28:before{font-size:28px !important;}
.f-32:before{font-size:32px !important;}
.f-36:before{font-size:36px !important;}
.f-40:before{font-size:40px !important;}
.font-normal{font-weight: normal !important;}
.Contributor_form .form-control{height: 40px !important;}
.Contributor_form label{font-size: 13px !important; color: #333 !important;}
.con-bg{
	/*background: url(../../images/beauty.jpg) center;*/
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;}
    .layer {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex; align-items: center;
}
.pos-rel{position: relative;}
.icon_view{position: absolute;
    top: 40px;
    right: 16px;
    color: #999;}
    .account-list>li>a{color: #333; font-weight: 600; display: inline-block; padding: 15px 0px;}
    .table.border-0 td{border:none;}
    .text-muted {
    color: #8e9a9d !important;
}
.fw-6{font-weight: 600;}
.z-depth-0{box-shadow:none !important;}
/*.account-list>li>a.active{color:#ef6c57}*/

tabs{
	width:100%;
}
option{
	color: #000;
}