



    <section class="banner-area relative">
      <div class="overlay overlay-bg"></div>
      <div class="banner-content text-center">
        <h1>Edit Profile</h1>
        <p>
          Elementum libero hac leo integer. Risus hac parturient feugiat litora
          <br />
          cursus hendrerit bibendum per
        </p>
      </div>
    </section>
    <!-- End banner Area -->

    <!-- Start contact-page Area -->
    <section class="contact-page-area section-gap">
      <div class="container">
        <div class="col-md-12">
             <div class="row">
             <tabs>
  <tab tabTitle="Contact Details">
    <form>
    	<div class="tab-pane fade show active" id="cdetails">
                   <h2 class="text-left">Contact Details</h2>
                   <div class="clearfix"></div>
                    <div class="row pt-4">
                          <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                            <input name="name" placeholder="First Name" class="common-input mb-20 form-control" required type="text"/>
                          </div>

                          <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                           <input placeholder="Last Name" class="common-input mb-20 form-control" required type="text" />
                          </div>

                          <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                           <input name="mailid" placeholder="Email" class="common-input mb-20 form-control" required type="email"/>
                          </div>

                           <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                           <input placeholder="My Account Number is" class="common-input mb-20 form-control" required type="text"/>
                          </div>

                          <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                           <input placeholder="My Preferred Language is" class="common-input mb-20 form-control" required type="text"/>
                          </div>


                              <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                             <select class="common-input mb-20 form-control">
                                <option>Select Time zone</option>
                                <option>UTC</option>
                             </select>
                            </div>              
                 
                           </div>
                            
                            <div class="col-lg-12">
                              <div class="alert-msg" style="text-align: left;"></div>
                              <button class="primary-btn text-uppercase" style="float: right;">Save</button>
                            </div>

                          </div>
    </form>
  </tab>
  <tab tabTitle="Password">
  <form>
   <div class="tab-pane fade show" id="pswrd">
                   <h2 class="text-left">Password</h2>
                   <p class="text-left"> Requirements: 8+ characters, uppercase, lowercase, and at least one number</p>
                   <div class="clearfix"></div>
              <div class="row pt-4">

                <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                  <input  placeholder="Your Old Password" class="common-input mb-20 form-control" required type="password"/>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                 <input placeholder="Your New Password" class="common-input mb-20 form-control" required type="password" />
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                 <input placeholder="Repeat your new password" class="common-input mb-20 form-control" required type="password"/>
                </div>

                
                 
                 
                </div>
                
                <div class="col-lg-12">
                  <div class="alert-msg" style="text-align: left;"></div>
                  <button class="primary-btn text-uppercase" style="float: right;" >Save</button>
                </div>
              </div>
  </form>
  </tab>
  <tab tabTitle="Address">
    <form>
    	<div class="tab-pane fade show" id="address">
                   <h2 class="text-left">Address</h2>
                       <div class="clearfix"></div>
                  <div class="row pt-4">

                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                     <select class="common-input mb-20 form-control">
                        <option>Select Country</option>
                        <option>Canada</option>

                     </select>
                    </div>

                                  <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                                    <textarea placeholder="Address 1"  class="common-input mb-20 form-control" style="height: 70px;"></textarea>
                                  </div>

                                 <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                                    <textarea placeholder="Address 2"  class="common-input mb-20 form-control" style="height: 70px;"></textarea>
                                  </div>

                                    <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                                   <input placeholder="City" class="common-input mb-20 form-control" required type="text"/>
                                  </div>

                                 <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                                   <select class="common-input mb-20 form-control">
                                      <option>Select City</option>
                                      <option>Canada</option>

                                   </select>
                                  </div>
                                  <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                                   <input placeholder="Postal Zip" class="common-input mb-20 form-control" required type="text"/>
                                  </div>
                               </div>
                
                                      <div class="col-lg-12">
                                        <div class="alert-msg" style="text-align: left;"></div>
                                        <button class="primary-btn text-uppercase" style="float: right;" >Save</button>
                                      </div>
              </div>
    </form>
  </tab>
  <tab tabTitle="Email Preferences">
    <form>
    	<div class="tab-pane fade show" id="emailp">
                   <h2 class="text-left">Mailing Preferences</h2>
                   <p class="pt-4 text-left">Stay informed with news, tips, and trends chosen by the Image Footage creative team by checking the boxes below. You can opt-out with a single click at any time and your email address is never shared with third parties.</p>
                       <div class="clearfix"></div>
                  <div class="pt-4">

                                  <div class="custom-control form-group checkbox  text-left">                                  
                                      <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                                      <label class="custom-control-label" for="customCheck">Subscribe to Arts & Culture to keep up to date on design trends, new artist spotlights, and hot sets.</label>
                                  </div>

                                   <div class="custom-control form-group checkbox text-left">                                  
                                      <input type="checkbox" class="custom-control-input" id="customCheck2" name="example1">
                                      <label class="custom-control-label" for="customCheck2">Subscribe to Curations for recommended content and curated art we think you'll like.
                                       </label>
                                  </div>

                                   <div class="custom-control form-group checkbox text-left">                                  
                                      <input type="checkbox" class="custom-control-input" id="customCheck3" name="example1">
                                      <label class="custom-control-label" for="customCheck3">Subscribe to Product News for updates on new features, site updates, and discounts.</label>
                                  </div>

                                   <div class="custom-control form-group checkbox text-left">                                  
                                      <input type="checkbox" class="custom-control-input" id="customCheck4" name="example">
                                      <label class="custom-control-label" for="customCheck4">Subscribe to Tips & Tricks for getting started with Image Footage and how to discover fresh content.</label>
                                  </div>

                                 
                                      <div class="col-lg-12">
                                        <div class="alert-msg" style="text-align: left;"></div>
                                        <button class="primary-btn text-uppercase" style="float: right;" >Save</button>
                                      </div>
              </div>
           </div>
    </form>
  </tab>
  <tab tabTitle="Mature Content Preferences">
    <form>
    	<div class="tab-pane fade show" id="mcp">
                   <h2 class="text-left">Mature Content Preferences</h2>
                   <p class="pt-4 text-left">Image Footage United contains a variety of content on many different subjects. Some of this content may contain imagery that may be offensive or not appropriate in some business environments. If you choose, we can filter this out from our page feeds and search results.</p>
                   <p class="pt-2 text-left">Please keep in mind that our contributors do their best to tag their own content but there may be occasional omissions.</p>
                       <div class="clearfix"></div>
                  <div class="pt-4">

                                  <div class="custom-control form-group checkbox  text-left">                                  
                                      <input type="checkbox" class="custom-control-input" id="customCheck5" name="example1">
                                      <label class="custom-control-label" for="customCheck5">Please hide content containing Mature Content.</label>
                                  </div>
                                      <div class="col-lg-12">
                                        <div class="alert-msg" style="text-align: left;"></div>
                                        <button class="primary-btn text-uppercase" style="float: right;">Save</button>
                                      </div>
              </div>
           </div>
    </form>
  </tab>
  <tab tabTitle="Avatar image">
    <form>
    	<div class="tab-pane fade show" id="apic">
                   <h2 class="text-left">Avatar Image</h2>               
                     
                  <div class="pt-4">
                            <div class="avatar-upload">
                                <div class="avatar-edit">
                                    <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                                    <label for="imageUpload"></label>
                                </div>
                                <div class="avatar-preview">
                                    <div id="imagePreview" style="background-image: url(http://i.pravatar.cc/500?img=7);">
                                    </div>
                                </div>
                               </div>

                                      <div class="col-lg-12">
                                        <div class="alert-msg" style="text-align: left;"></div>
                                        <button class="primary-btn text-uppercase" style="float: right;">Save</button>
                                      </div>
              </div>
           </div>
    </form>
  </tab>
</tabs>
<tabs>
  <tab tabTitle="Billing Details">
  <form>
    <div class="tab-pane fade show" id="bdetails">
                   <h2 class="text-left">Billing Details</h2>
                   <p class="pt-4 text-left">Image Footage does not save credit card information on its servers.</p>
                   <p class="pt-2 text-left">We store a unique, non-identifiable token that we can use to perform transactions. If you choose not to store a token with us, you will be asked to fill in your credit card information at each purchase.</p>

                   <button type="button" class="btn btn-success float-left">ADD A CREDIT CARD</button>
                       <div class="clearfix"></div>
                  <div class="pt-4">
                     <div class="row pt-4">
                          <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                            <input name="name" placeholder="Billing Email (Optional)" class="common-input mb-20 form-control" required type="text"/>
                          </div>

                          <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                           <input placeholder="VAT Number (Optional)" class="common-input mb-20 form-control" required type="text" />
                          </div>
                        </div>
                            <div class="col-lg-12">
                                        <div class="alert-msg" style="text-align: left;"></div>
                                        <button class="primary-btn text-uppercase" style="float: right;">Save</button>
                                      </div>
              </div>
           </div>
  </form>
  </tab>
   <tab tabTitle="Company Details">
    <form>
    	<div class="tab-pane fade show" id="compdetails">
                   <h2 class="text-left">Company Details</h2>
                   <p class="pt-4 text-left"><b>ACCOUNT TYPE</b></p>
<div class="text-left">
                   <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" class="custom-control-input" id="Individual" name="example" value="customEx">
    <label class="custom-control-label" for="Individual">Individual</label>
  </div>
  <div class="custom-control custom-radio custom-control-inline">
    <input type="radio" class="custom-control-input" id="Business" name="example" value="customEx">
    <label class="custom-control-label" for="Business">Business</label>
  </div>


</div>

                       <div class="clearfix"></div>
                  <div class="pt-4">
                     <div class="row pt-4">
                          <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                            <input name="name" placeholder="Company Name" class="common-input mb-20 form-control" required type="text"/>
                          </div>

                          <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                           <input placeholder="Job Title" class="common-input mb-20 form-control" required type="text" />
                          </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                             <select class="common-input mb-20 form-control">
                                <option>Select Department</option>
                                <option>UTC</option>
                             </select>
                            </div>   

                              <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                             <select class="common-input mb-20 form-control">
                                <option>Select Purchasing For</option>
                                <option>UTC</option>
                             </select>
                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6 form-group">
                           <input placeholder="Industry" class="common-input mb-20 form-control" required type="text" />
                          </div>   
                        </div>
                            <div class="col-lg-12">
                                        <div class="alert-msg" style="text-align: left;"></div>
                                        <button class="primary-btn text-uppercase" style="float: right;">Save</button>
                                      </div>
              </div>
           </div>
    </form>
  </tab>
  <tab tabTitle="Privacy Settings">
    <form>
    	<div class="tab-pane fade show" id="privacysett">
                   <h2 class="text-left">Privacy Settings</h2>
                   <p class="pt-4 text-left">When you created an account with Image Footage you agreed to our Content License Agreement, Terms and Conditions, and Privacy Policy. This is a requirement in order to use Image Footage services, purchase images and videos, and use key features of the Image Footage site. If you no longer agree to our terms, check the box below and save your changes to deactivate your account. We will save your login information if you decide to come back later.</p>
                   <p class="pt-2 text-left">Please keep in mind that our contributors do their best to tag their own content but there may be occasional omissions.</p>
                       <div class="clearfix"></div>
                  <div class="pt-4">

                                  <div class="custom-control form-group checkbox  text-left">                                  
                                      <input type="checkbox" class="custom-control-input" id="customCheck6" name="example1">
                                      <label class="custom-control-label" for="customCheck6">I would like to deactivate my account.</label>
                                  </div>
                                      <div class="col-lg-12">
                                        <div class="alert-msg" style="text-align: left;"></div>
                                        <button class="primary-btn text-uppercase" style="float: right;" >Save</button>
                                      </div>
              </div>
           </div>
    </form>
  </tab>
  <tab tabTitle="Upload Prodcuts">
    <form>
    	<div class="tab-pane fade show" id="uploadpro">
                   <h2 class="text-left">Upload Products</h2>
                   <div class="clearfix"></div>
                    <div class="row pt-4">
                          
<div class="col-lg-6 col-md-6 col-sm-6 form-group text-left">
                                <label>Select Main category</label>
                             <select class="common-input mb-20 form-control">
                                
                                <option>Images</option>
                                <option>Footages</option>
                             </select>
                            </div>  
                          </div>
                           <div class="row">

                            <div class="col-lg-6 col-md-6 col-sm-6 form-group  text-left">
                              <label>Select Main category</label>
                             <select class="common-input mb-20 form-control">
                               
                                <option>Images</option>
                                <option>Footages</option>
                             </select>
                            </div>             
                 
                           </div>

 <div class="row">
   <div class="col-lg-6 col-md-6 col-sm-6 form-group  text-left">
                           <label class="text-muted">File Browser</label>
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="customFile">
          <label class="custom-file-label" for="customFile">Choose file</label>
        </div>
      </div>
                            
                            <div class="col-lg-12 text-left">
                              <div class="alert-msg" style="text-align: left;"></div>
                              <button class="primary-btn text-uppercase">Save</button>
                            </div>

                          </div>
 </div>
    </form>
  </tab>
</tabs>
         
          
 
          

          
          </div>
        </div>


        </div>
       
        <!-- own design by ak-->
        
        <!--end-->
   
    <!--  </div>-->
    </section>

