<div class="site-wrap mt-5 pt-5">
    <main class="main-content mt-5 pt-5">
      <div class="container photos">
        <div class="row">
          
          <div class="col-md-10 pt-3"  data-aos="fade-up">
            <h2 class="text-white mb-4">Create your Image Footage account</h2>
            <p>Already have an account? <a href="#">Login</a></p>
  
                    <form action="#"  class="mt-5 pt-5">
                      
                      
  
                      <div class="row form-group mb-5">
                        <div class="col-md-4 col-sm-4 mb-3 mb-md-0">
                          <label class="text-white" for="fname">First Name</label>
                          <input type="text" id="fname" class="form-control text-white">
                        </div>
                        <div class="col-md-4 col-sm-4 ">
                          <label class="text-white" for="lname">Last Name</label>
                          <input type="text" id="lname" class="form-control text-white">
                        </div>
                        <div class="col-md-4 col-sm-4 ">
                          <label class="text-white" for="email">Email</label> 
                          <input type="email" id="email" class="form-control text-white">
                        </div>
                      </div>
  
                      <div class="row form-group mb-5">
                        
                        <div class="col-md-4 col-sm-4">
                          <label class="text-white" for="pswrd">Password</label> 
                          <input type="password" id="pswrd" class="form-control text-white">
                        </div>
                         <div class="col-md-4 col-sm-4">
                          <label class="text-white" for="cnfpswrd">Confirm Password</label> 
                          <input type="password" id="cnfpswrd" class="form-control text-white">
                        </div>
                        
                        <div class="col-md-4 col-sm-4">
                          <label class="text-white" for="jobTitle">Job Title</label> 
                          <input type="text" id="jobTitle" class="form-control text-white">
                        </div>
                      </div>
                
                      <div class="row form-group mb-5">
                        <div class="col-md-4 col-sm-4">
                          <label class="text-white" for="companyName">Company</label> 
                          <input type="text" id="companyName" class="form-control">
                        </div>
                        <div class="col-md-4 col-sm-4">
                          <label class="text-white" for="phne">Phone</label> 
                          <input type="tel" id="phne" class="form-control">
                        </div>
                        
                        <div class="col-md-4 col-sm-4">
                          <label class="text-white" for="mbnum">Mobile Number</label> 
                          <input type="tel" id="mbnum" class="form-control">
                        </div>
                      </div>
                      
                      <div class="row form-group mb-5">
                        <div class="col-md-4 col-sm-4">
                          <label class="text-white" for="country">Slect Country</label> 
                          
                          <select class="form-control  text-white" id="select-language1" onchange=console.log(this.value)> <option value=php>India</option> <option value=javascript>Australia</option> <option value=python>Srilanka</option> <option value=java>Pakistan</option> </select> 
                          
                        </div>
                        <div class="col-md-4 col-sm-4">
                          <label class="text-white" for="state">Select State</label> 
                          
                          <select class="form-control  text-white" id="select-language2" onchange=console.log(this.value)> <option value=php>India</option> <option value=javascript>Australia</option> <option value=python>Srilanka</option> <option value=java>Pakistan</option> </select> 
                          
                        </div>
                        
                        <div class="col-md-4 col-sm-4">
                          <label class="text-white" for="city">Select City</label> 
                          
                          <select class="form-control  text-white" id="select-language3" onchange=console.log(this.value)> <option value=php>India</option> <option value=javascript>Australia</option> <option value=python>Srilanka</option> <option value=java>Pakistan</option> </select> 
                          
                        </div>
                      </div>
  
  <div class="row form-group mb-5">
                        <div class="col-md-4 col-sm-4">
                          <label class="text-white" for="zipCode">Zip Code</label> 
                          <input type="text" id="zipCode" class="form-control">
                        </div>
                        
                        <div class="col-md-8 col-sm-8">
                          <label class="text-white" for="message">Address</label> 
                          <textarea name="message" id="message" cols="5" rows="1" class="form-control" placeholder=""></textarea>
                        </div>
                        
                      </div>
                      
                      <div class="row form-group mb-5">
                        <div class="custom-control custom-checkbox">
    <input type="checkbox" class="custom-control-input" id="customCheck">
    <label class="custom-control-label" for="customCheck"> Make me an Approved Client* with the ability to license and download images online without a credit card.</label>
  </div>
                        
                        
                        
                      </div>
                     
                     
                    
                      <div class="row form-group text-center">
                        <div class="col-md-12">
                          <input type="submit" value="Create Account" class="btn btn-warning btn-md text-white">
                        </div>
                      </div>
  
          
                    </form>
                 
          
          </div>
  
        </div>
  
        
      </div>
    </main>
  
  </div>