/*body{ font-weight:normal; background: # !important;}*/
/*#mainNav{background:#000;}*/
/*hr {*/
/*    border-top: 1px solid #ddd !important;*/
/*}*/

body{
	background: #f1f5f6 !important;
}
.regform{
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
	background:#fff;
	color:#000;
}
#mainNav {
    padding-bottom: 0px;
    padding-top: 0px;
    background: #000 !important;
}
.regform form{
	padding: 15px;
}
.regform .form-control {
    /*border: 1px solid #dedede;*/
	border: 1px solid #afaeae;
    color: #333 !important;
    padding: 12px;
    height: 45px;
    background: #fff;
}