<div class="loader-bg align-items-center" *ngIf="loadingData">
    <!--    <div class="loader">-->
    <!--        Loading-->
    <!--        <span></span>-->
    <!--    </div>-->
    <div class="loader2"><img src="assets/images/loader.gif" width="300px"></div>
</div>
<!-- mt-5 pt-5 -->
<div class="site-wrap " appNoRightClick>
    <main class="main-content mt-5 pt-5">
      <div class="container photos">
        <div class="row">
          
          <div class="col-md-12 pt-3 regform"  data-aos="fade-up">
            <h2 class="mb-4 text-center">Create your Image Footage account</h2>
            <p class="text-center">Already have an account? <a (click)="clickLoginPopup()">Login</a></p>
            <p class="text-right">All (*) fields are mandatory.</p>
  
                    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()"  class="mt-5 pt-5">
  
                      <div class="row form-group mb-5">
                          <div class="col-md-4 col-sm-4 mb-3 mb-md-0">
                          <!-- text-white -->
                              <label class="">First Name*</label>
                              <input type="text" formControlName="first_name" [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }" class="form-control text-white">
                              <div *ngIf="submitted && f.first_name.errors" class="invalid-feedback">
                                  <div *ngIf="f.first_name.errors.required">First Name is required</div>
                              </div>
                          </div>
                          <div class="col-md-4 col-sm-4 ">
                              <label class="" >Last Name*</label>
                              <input type="text" formControlName="last_name" id="lname" [ngClass]="{ 'is-invalid': submitted && f.last_name.errors }"  class="form-control text-white">
                              <div *ngIf="submitted && f.last_name.errors" class="invalid-feedback">
                                  <div *ngIf="f.last_name.errors.required">Last Name is required</div>
                              </div>
                          </div>
                          <div class="col-md-4 col-sm-4 ">
                            <label class="">Email*</label>
                            <input type="text" formControlName="email" id="email" class="form-control text-white" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <div *ngIf="f.email.errors.required">Email is required</div>
                                <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                            </div>
                          </div>
                      </div>
  
                      <div class="row form-group mb-5">                        
                        <div class="col-md-4 col-sm-4">
                            <label class="" >Password*</label>
                            <input type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" id="pswrd" class="form-control text-white">
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Password is required</div>
                                <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <label class="">Confirm Password*</label>
                            <input type="password" formControlName="confirmPassword" id="cnfpswrd" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" class="form-control text-white">
                            <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                                <div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
                                <div *ngIf="f.confirmPassword.errors.mustMatch">Passwords must match</div>
                            </div>
                        </div>
                        
                        <div class="col-md-4 col-sm-4">
                          <label class="">Job Title*</label>
                          <input type="text" formControlName="occupation" id="jobTitle" [ngClass]="{ 'is-invalid': submitted && f.occupation.errors }" class="form-control text-white">
                          <div *ngIf="submitted && f.occupation.errors" class="invalid-feedback">
                            <div *ngIf="f.occupation.errors.required">JobTitle is required</div>
                          </div>
                        </div>
                      </div>
                
                      <div class="row form-group mb-5">
                        <div class="col-md-4 col-sm-4">
                          <label class="">Company*</label>
                          <input type="text" id="companyName" formControlName="company" [ngClass]="{ 'is-invalid': submitted && f.company.errors }" class="form-control text-white">
                          <div *ngIf="submitted && f.company.errors" class="invalid-feedback">
                            <div *ngIf="f.company.errors.required">Company is required</div>
                          </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                          <label class="">Phone*</label>
                          <input type="text" id="phne" formControlName="phoneNumber" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }" class="form-control text-white">
                          <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
                            <div *ngIf="f.phoneNumber.errors.required">PhoneNumber is required</div>
                          </div>
                        </div>
                        
                        <div class="col-md-4 col-sm-4">
                          <label class="">Mobile Number*</label>
                          <input type="text" id="mbnum" formControlName="mobileNumber" [ngClass]="{ 'is-invalid': submitted && f.mobileNumber.errors }" class="form-control text-white">
                          <div *ngIf="submitted && f.mobileNumber.errors" class="invalid-feedback">
                            <div *ngIf="f.mobileNumber.errors.required">MobileNumber is required</div>
                            <div *ngIf="f.mobileNumber.errors.pattern">Mobile number should be 10 number digits</div>
                          </div>
                        </div>
                      </div>
                      
                      <div class="row form-group mb-5">
                        <div class="col-md-4 col-sm-4">
                            <label class="" >Select Country*</label>
                            <select class="form-control" id="select-language1" [ngClass]="{ 'is-invalid': submitted && f.country.errors }"  formControlName="country" (change)="onChangeCountry($event.target.value)">
                                <option *ngFor="let country of countryInfo; let i = index"  value="{{country.id}}">{{country.name}}</option>
                            </select> 
                            <div *ngIf="submitted && f.country.errors" class="invalid-feedback">
                                <div *ngIf="f.country.errors.required">Country is required</div>
                             </div>
                        </div>
                        <div class="col-md-4 col-sm-4">
                            <label class="" >Select State*</label>
                            <select class="form-control" id="select-language2" formControlName="state" [ngClass]="{ 'is-invalid': submitted && f.state.errors }" (change)="onChangeState($event.target.value)">
                                <option *ngIf="stateInfo == []" value="-1">--Select State--</option>
                                <option *ngFor="let state of stateInfo; let j = index"  value="{{state.id}}">{{state.state}}</option>
                            </select> 
                            <div *ngIf="submitted && f.state.errors" class="invalid-feedback">
                                <div *ngIf="f.state.errors.required">State is required</div>
                             </div>
                        </div>                        
                        <div class="col-md-4 col-sm-4">
                            <label class="">Select City*</label>
                            <select class="form-control  text-white" id="select-language3" formControlName="city" [ngClass]="{ 'is-invalid': submitted && f.city.errors }" (change)="onChangeCity($event.target.value)">
                                <option *ngIf="cityInfo == []" value="-1">--Select CIty--</option>
                                <option *ngFor="let city of cityInfo; let k = index"  value="{{city.id}}">{{city.name}}</option>
                            </select> 
                            <div *ngIf="submitted && f.city.errors" class="invalid-feedback">
                                <div *ngIf="f.city.errors.required">City is required</div>
                             </div>
                        </div>
                      </div>
  
                      <div class="row form-group mb-5">
                          <div class="col-md-4 col-sm-4">
                            <label class="" >Zip Code*</label>
                            <input type="text" id="pincode" class="form-control" formControlName="pincode"  [ngClass]="{ 'is-invalid': submitted && f.pincode.errors }">
                            <div *ngIf="submitted && f.pincode.errors" class="invalid-feedback" >
                                <div *ngIf="f.pincode.errors.required">ZipCode is required</div>
                                <div *ngIf="f.pincode.errors.minlength || f.pincode.errors.maxlength">ZipCode number should be 6 digits</div>
                              </div>
                          </div>
                          
                          <div class="col-md-8 col-sm-8">
                            <label class="">Address*</label>
                            <textarea name="address" id="address" cols="5" rows="1" class="form-control" placeholder="" [ngClass]="{ 'is-invalid': submitted && f.address.errors }" formControlName="address"></textarea>
                            <div *ngIf="submitted && f.address.errors" class="invalid-feedback">
                                <div *ngIf="f.address.errors.required">Address is required</div>
                            </div>
                          </div>                        
                      </div>
                      
                      <div class="row form-group mb-5">
                          <div class="custom-control custom-checkbox">
                              <input type="checkbox" class="custom-control-input" formControlName="iagree" [ngClass]="{ 'is-invalid': submitted && f.iagree.errors }" id="customCheck" ngModel required>
                              <label class="custom-control-label" for="customCheck">Terms & Conditions</label>
                              <div *ngIf="submitted && f.iagree.errors" class="invalid-feedback">
                                  <div *ngIf="f.iagree.errors.required">Please accept Terms & Conditions</div>
                              </div>   
                          </div>
                         
                         
                      </div>
                       
                    
                      <div class="row form-group text-center">
                        <div class="col-md-12">
                          <button [disabled]="loading" type="submit" class="btn btn-success btn-md ">Create Account</button>
                        </div>
                      </div>
  
          
                    </form>
                 
          
          </div>
  
        </div>
  
        
      </div>
    </main>
  
  </div>

  <ng-container *ngIf="showloginPopup">
      <app-login [openLoginPopup]="showloginPopup" (closeLoginPopup)="hideLoginPopup($event)"></app-login>
  </ng-container>
