nav#mainNav {
    background: #000 !important;
   /* padding-top: 25px;
    padding-bottom: 25px;*/
}
#mainNav {
    padding-bottom: 0px;
    padding-top: 0px;
    /*background: #000 !important;*/
}
body {
    padding-top: 0px !important;
}
.main-content .photos .photo-item img{
	    object-fit: contain !important;
		background: #58303066 !important;
}
.gallery {
-webkit-column-count: 5;
-moz-column-count: 5;
column-count: 5;
-webkit-column-width: 22%;
-moz-column-width: 22%;
column-width: 22%; }
.gallery .pics {
-webkit-transition: all 350ms ease;
transition: all 350ms ease; }
.gallery .animation {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1); }

@media (max-width: 450px) {
.gallery {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-width: 100%;
-moz-column-width: 100%;
column-width: 100%;
}
}

@media (max-width: 400px) {
.btn.filter {
padding-left: 1.1rem;
padding-right: 1.1rem;
}
}
.red{
	color:red;
}
