<div class="loader-bg" *ngIf="loadingData">
    <div class="loader">
        Loading
        <span></span>
    </div>
</div>
<!-- pt-5 -->
<div class="site-wrap mt-5  bg-dark" *ngIf="webtype==2" >
    <main class="main-content p-0">
        <div class="container-fluid photos">
            <div class="row mr-2">

                <div class="col-md-8 col-sm-8 col-xl-8 col-lg-8">
                    <div class="cartItem" *ngIf="detailPageInfo">

                        <div class="p-3">
                            <p class="text-white f-20 mb-0 pt-1">{{detailPageInfo.metadata.title}}</p>
                            <p>{{detailPageInfo.metadata.description}}</p>
							<!-- data-aos="fade-up" -->
                            <div >
                            <!-- photo-item -->
                                <a  class="d-block " style="text-align: center;">
                                    <img src="{{detailPageInfo.media.preview_url_no_wm}}" #element alt="Image" class="img-fluid">
                                    <!--<div class="photo-text-more">
                                        <div class="photo-text-more">
                                            <h3 class="heading">{{detailPageInfo.metadata.title}}</h3>
                                            <span class="meta">{{detailPageInfo.photoCount}}</span>
                                        </div>
                                    </div>-->
                                </a>
                            </div>

                            <div class="p-3">
                                <div style="float: right;">
                                 <a href="{{filePreview}}" download="{{imagefootId+'.jpg'}}"><i class="fas fa-download"></i></a> &nbsp;&nbsp;
                                 <a (click)="addtolightbox(imagefootId)"><i class="fas fa-heart"></i></a>
                                </div>
                                <p class="text-white text-uppercase"><strong>Related Keywords</strong></p>
                                <div class="related_key">
                                    <a href="/search?type=1&keyword={{keys}}" class="btn btn-outline-light btn-sm f-12" title="underwater" *ngFor="let keys of keyword">{{keys}}</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xl-4 col-lg-4 pt-3 cart_right pl-3 mt-3" *ngIf="detailPageInfo">

                    <div class="p-3">
                        <ul class="nav nav-tabs mytabs">
                            <li class="nav-item">
                             <a class="nav-link "  [ngClass]="[ standardTab ? 'active' : '']" data-toggle="tab"  (click)="tabshow('1')">Standard License</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" [ngClass]="[ extendedTab ? 'active' : '']" data-toggle="tab"  (click)="tabshow('2')">Extended License</a>
                            </li>

                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content pt-3" >
                            <div id="stalic" *ngIf="standardTab" class="tab-pane active">
                                <p class="text-white text-uppercase lsp-1 f-14 pt-3">standard Royalty Free Licenses</p>

                                <div class="btn-group btn-group-toggle mb-1 col-md-12" data-toggle="buttons">
                                	<div class="row">
                                    	<label class="btn btn-dark col-md-3" *ngFor="let cost of detailPageInfo.articles.singlebuy_list.singlebuy[0].sizes.article;let i=index;let first=first;">
                                        <input type="radio" name="options" id="option{{i}}" autocomplete="off" [class]="i==0 ? 'checked' : ''" (click)="checkPriceTotal(cost)" style="display:none;">
                                        <p class="f-12">{{cost.description}}</p>
                                        <!-- | currency:'INR'-->
                                        <p class="f-15 mb-0"> <i class="fa fa-inr"></i> {{cost.price*80  | number }}</p>
                                    </label>
                                    </div>
                                </div>
                                <p><small><span class="text-warning">Standard Use Only</span> <!--<span style="cursor:pointer;" (click)="open(content)">Learn More</span>--></small></p>
                            </div>
                            <div id="extlic" *ngIf="extendedTab" class="tab-pane active">

                                <p class="text-white lsp-1 f-14 text-uppercase pt-3">Extended Licenses</p>
                                <div class="btn-group btn-group-toggle mb-4  d-block" data-toggle="buttons">
                                    <label class="btn btn-dark text-left border-0" *ngFor="let license of detailPageInfo.articles.singlebuy_list.singlebuy[0].extended_rights.article;let j=index;let first=first;">
                                        <input type="radio" name="options" id="option{{j}}" autocomplete="off" [class]="j==0 ? 'checked' : ''" (click)="addExtendedPriceTotal(license)">
                                        <div class="row align-items-center">
                                            <div class="col-md-9 col-sm-9 col-lg-9" >
                                                <p class="f-14  fw-6 pt-2" >{{license.name}}</p>
                                            </div>
                                            <div class="col-md-3 col-sm-3 col-lg-3">
                                                <p class="mb-0"><strong><i class="fa fa-inr"></i> {{license.price*80 | number}}</strong></p>
                                            </div>
                                        </div>

                                    </label>
                                    <p><small><span class="text-warning">Extended Use Only</span> <span style="cursor:pointer;" (click)="open(content1)">Learn More</span></small></p>
                                 </div>

                            </div>
                            <p *ngIf="detailPageInfo.metadata.editorial != 'no'"><small><span class="text-warning">Editorial Use Only</span> <span style="cursor:pointer;" (click)="open(content)">Learn More</span></small></p>

                        </div>





                        <!-- <p class="text-white">Use This Image Exclusively</p>
                        <div class="btn-group" role="group" aria-label="Basic example">
                          <button type="button" class="btn btn-dark">Market Freeze</button>
                          <button type="button" class="btn btn-dark dropdown-toggle exclus" data-toggle="dropdown">Select a Duration</button>
                          <ul class="dropdown-menu selctDura">
                              <li class="dropdown-item"><a href="#">Item I</a></li>
                              <li class="dropdown-item"><a href="#">Item II</a></li>
                              <li class="dropdown-item"><a href="#">Item III</a></li>
                              <li class="dropdown-item"><a href="#">Item IV</a></li>
                              <li class="dropdown-item"><a href="#">Item V</a></li>
                              <li class="dropdown-item"><a href="#">Other</a></li>
                            </ul>
                        </div> -->

                        <div class="row mt-5" *ngIf="total>0">
                            <div class="col-12">
                               <p class="text-white" *ngIf="currunt_selected_price>0">Selected Price:-  {{currunt_selected_price | number}} </p>
                               <p class="text-white" *ngIf="extended_price>0">Selected Extended Price :-  {{extended_price | number}}</p>
                             </div>
                            <div class="col-4">
                                <p class="text-white"><strong>TOTAL</strong></p>
                            </div>
                            <div class="col-8 text-right">
                                <h2 class="text-warning f-24 fw-6">{{total | number}} INR</h2>
                            </div>
                        </div>
<!--                        <div class="row mt-5">-->
<!--                            <div class="col-4">-->
<!--                                <p class="text-white"><strong>TOTAL</strong></p>-->
<!--                            </div>-->
<!--                            <div class="col-8 text-right">-->
<!--                                <h2 class="text-warning f-24 fw-6">$100.00 USD</h2>-->
<!--                            </div>-->
<!--                        </div>-->

                        <div class="row mt-2 mb-5">
                            <div class="col-12">
                                <button type="button" *ngIf="!addedCartItem" class="btn btn-warning rounded-0 p-3 shadow text-white d-block  w-100" (click)="addToCheckoutItem(detailPageInfo,standard,total,extended,'2')">ADD TO CART</button>
                                <button type="button" *ngIf="addedCartItem" class="btn btn-warning rounded-0 p-3 shadow text-white d-block  w-100" (click)="checkout()">Checkout</button>
                                <br/><button type="button" *ngIf="showloginPopup==false && currentUser?.image_downlaod==1" class="btn btn-warning rounded-0 p-3 shadow text-white d-block  w-100" (click)="download(detailPageInfo,standard,total,extended,'2')">Download</button>

                                <!--<p>This image is exclusive to Image Footage</p>-->
                            </div>
                        </div>
                        <h6 class="text-center" style="color:#ffffffa8;">DETAILS</h6>
                        <br />
                       
                        <div class="col-md-12">
<!--                            <div class="row">-->
<!--                                <div class="col-md-4">Restrictions</div>-->
<!--                                <div class="col-md-1">:</div>-->
<!--                                <div class="col-md-7">Contact your local office for all commercial or promotional uses.</div>-->
<!--                            </div>-->
                            <div class="row">
                                <div class="col-md-4">Title</div>
                                <div class="col-md-1">:</div>
                                <div class="col-md-7">{{detailPageInfo.metadata.title}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Credit</div>
                                <div class="col-md-1">:</div>
                                <div class="col-md-7">{{detailPageInfo.metadata.author_realname}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Product ID</div>
                                <div class="col-md-1">:</div>
                                <div class="col-md-7">{{imagefootId}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Width</div>
                                <div class="col-md-1">:</div>
                                <div class="col-md-7">{{detailPageInfo.media.width}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Height</div>
                                <div class="col-md-1">:</div>
                                <div class="col-md-7">{{detailPageInfo.media.height}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Mime_type</div>
                                <div class="col-md-1">:</div>
                                <div class="col-md-7">{{detailPageInfo.media.mime_type}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Author ID</div>
                                <div class="col-md-1">:</div>
                                <div class="col-md-7">{{detailPageInfo.metadata.author_id}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Model-release</div>
                                <div class="col-md-1">:</div>
                                <div class="col-md-7">{{detailPageInfo.metadata.model_release.toUpperCase()}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Property release</div>
                                <div class="col-md-1">:</div>
                                <div class="col-md-7">{{detailPageInfo.metadata.property_release.toUpperCase()}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Editorial #</div>
                                <div class="col-md-1">:</div>
                                <div class="col-md-7">{{detailPageInfo.metadata.editorial.toUpperCase()}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Premium</div>
                                <div class="col-md-1">:</div>
                                <div class="col-md-7">{{detailPageInfo.options.premium.toUpperCase()}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Rights managed </div>
                                <div class="col-md-1">:</div>
                                <div class="col-md-7">{{detailPageInfo.options.rights_managed.toUpperCase()}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Date created</div>
                                <div class="col-md-1">:</div>
                                <div class="col-md-7">{{detailPageInfo.metadata.date}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">License type</div>
                                <div class="col-md-1">:</div>
                                <div class="col-md-7"><p  *ngIf="detailPageInfo.options.extended=='yes' && extendedTab">Extended</p>
                                <p *ngIf="!extendedTab">Standard</p></div>
                            </div>
                            <!--<div class="row">
                                <div class="col-md-3">Release info :</div>
                                <div class="col-md-9">Not released. More information</div>
                            </div>-->
<!--                            <div class="row">-->
<!--                                <div class="col-md-4">Max file size</div>-->
<!--                                <div class="col-md-1">:</div>-->
<!--                                <div class="col-md-7">{{detailPageInfo.media.width}} x {{detailPageInfo.media.height}}</div>-->
<!--                            </div>-->
                        </div>
                     </div>
                </div>
            </div>

    <div class="bg-black p-3">
        <div class="row align-items-stretch">
          <div class="row mx-auto my-auto mb-5">
            
            <h3 class="col-md-12" style="color: #fcbe11;">Related Images<hr /></h3>
            <div  infiniteScroll
                    [infiniteScrollDistance]="2"
                    [infiniteScrollUpDistance]="1.5"
                    [infiniteScrollThrottle]="2000"
                    (scrolled)="onScrollDown()"
                    (scrolledUp)="onScrollUp()">
                  <div class="row align-items-stretch">
                  
                  
                  
                  
                                              <!-- Grid row -->
<div class="gallery" id="gallery">
  <!-- Grid column -->
  <div class="mb-3 pics animation all 2" *ngFor="let aosimges of relatedData; let i = index;">
    <img class="img-fluid" *ngIf="aosimges.product_main_type == 'Image'" src="{{aosimges.product_thumbnail}}" alt="Image" alt="Card image cap" (click)="onNavigate('/detail/',aosimges.api_product_id,aosimges.product_web,aosimges.product_main_type)" style="cursor:pointer;">
    <div class="photo-text-more">
                         
                         <!-- <p class="icons_thum2">
                            
                            <span *ngIf="!currentUser"><a href="#" style='cursor:pointer;' (click)="clickLoginPopup()"><i class="fa fa-heart"></i></a></span>
                            <span *ngIf="currentUser"><a style='cursor:pointer;'  (click)="addtolightbox(aosimges)"><i class="fa fa-heart"></i></a></span>
                            <span *ngIf="!currentUser"><a href="#" style='cursor:pointer;' (click)="clickLoginPopup()"><i class="fa fa-plus"></i></a></span>
                            <span *ngIf="currentUser"><a href="#" style='cursor:pointer;'  ><i class="fa fa-plus"></i></a></span>
                        </p>-->
                        </div>
  </div>
  <!-- Grid column -->
</div>
<!-- Grid row -->
                  
                  
                  
                  
                  
                      <!--<div [ngClass]="getClassName(aosimges)" data-aos="fade-up" data-aos-delay="200"  *ngFor="let aosimges of relatedData;let i= index">
                         
                          <span  class=" photo-item" >
                        <div class="">
                            <img *ngIf="aosimges.product_main_type == 'Image'" src="{{aosimges.product_thumbnail}}" alt="Image" class="img-fluid" (click)="onNavigate('/detail/',aosimges.api_product_id,aosimges.product_web,aosimges.product_main_type)">

                            <div class="photo-text-more">
                         
                        </div>
                        </div>
                      </span>
                         
                          <span  *ngIf="aosimges.product_main_type != 'Image'"  class="photo-item ">
                      <span style="position:absolute;margin-left:10px;margin-top:5px;color: #ffbe0b;"><i class="fa fa-video-camera" aria-hidden="true"></i></span>
                          <video  width="400" height="300" [muted]="'muted'" [poster]="aosimges.product_thumbnail" #htmlVideoElement controlsList="nodownload"  onmouseover="this.play()" onmouseout="this.load()"  (click)="onNavigate('/detail/',aosimges.api_product_id,aosimges.product_web,aosimges.product_main_type)" style="width: 100% !important;background: #7d494957;object-fit: cover;">
                              <source src="{{aosimges.product_main_image}}" type="video/mp4">
                              Your browser does not support the video tag.
                          </video>
                             
                          <div class="photo-text-more" >
                       	  <div class="photo-text-more" >
                        <br />
                        <p class="icons_thum1" >
                        
                            <span *ngIf="!currentUser"><a href="#" style='cursor:pointer;' (click)="clickLoginPopup()"><i class="fa fa-heart"></i></a></span>
                            <span *ngIf="currentUser"><a style='cursor:pointer;'  (click)="addtolightbox(aosimges)"><i class="fa fa-heart"></i></a></span>
                            <span *ngIf="!currentUser"><a href="#" style='cursor:pointer;' (click)="clickLoginPopup()"><i class="fa fa-plus"></i></a></span>
                            <span *ngIf="currentUser"><a href="#" style='cursor:pointer;'  ><i class="fa fa-plus"></i></a></span>
                        </p>
                      </div>
                      </div>
                      </span>
                      </div>-->
                  </div>
              </div>
            
          </div>
          <div class="row mx-auto my-auto mb-5">
            <div id="recipeCarousel" class="carousel slide w-100 related_slider" *ngIf="carouselSliderImages">
                <h3 class="text-white f-18 mb-3 float-left">{{carouselSliderImages.categoryLabel}}</h3>
                <a href="javascript:void(0)" class="text-warning float-right"><strong>See All</strong></a>
                <div class="carousel-inner" role="listbox">
                    <ngb-carousel *ngIf="carouselSliderImages" [showNavigationArrows]="true" [showNavigationIndicators]="false" [interval]="1000" [pauseOnHover]="true">
                        <div class="carousel-item">
                            <ng-template ngbSlide *ngFor="let carouseimges of carouselSliderImages.categoryImages;let i= index">
                              <div class="row">
                                  <div [ngClass]="getClassName(images)" *ngFor="let images of carouseimges">
                                      <a href="javascript:void(0)" class="d-block photo-item">
                                          <img *ngIf="images.type == 'photo'" src="assets/images/{{images.imageName}}" alt="Image" class="img-fluid">
                                          <iframe  *ngIf="images.type == 'video'" src="https://www.youtube.com/embed/xcJtL7QggTI?rel=0&amp;autoplay=0&mute=1" webkitallowfullscreen mozallowfullscreen allowfullscreen height="300" width="100%"></iframe>
                                          <div class="photo-text-more">
                                              <div class="photo-text-more">
                                                <h3 class="heading">{{images.name}}</h3>
                                                <span class="meta">{{images.count}} Photos</span>
                                              </div>
                                          </div>
                                      </a>
                                  </div>
                              </div>
                            </ng-template>
                        </div>
                    </ngb-carousel>


                </div>
            </div>
          </div>
          <div class="row mx-auto my-auto mb-5">
            <div id="recipeCarousel" class="carousel slide w-100 related_slider" *ngIf="carouselSliderImages">
                <h3 class="text-white f-18 mb-3 float-left">{{carouselSliderImages.categoryLabel}}</h3>
                <a href="javascript:void(0)" class="text-warning float-right"><strong>See All</strong></a>
                <div class="carousel-inner" role="listbox">
                    <ngb-carousel  [showNavigationArrows]="true" [showNavigationIndicators]="false" [interval]="1000" [pauseOnHover]="true">
                        <div class="carousel-item">
                            <ng-template ngbSlide *ngFor="let carouseimges of carouselSliderImages.categoryImages;let i= index">
                              <div class="row">
                                  <div [ngClass]="getClassName(images)" *ngFor="let images of carouseimges">
                                      <a href="javascript:void(0)" class="d-block photo-item">
                                          <img *ngIf="images.type == 'photo'" src="assets/images/{{images.imageName}}" alt="Image" class="img-fluid">
                                          <iframe  *ngIf="images.type == 'video'" src="https://www.youtube.com/embed/xcJtL7QggTI?rel=0&amp;autoplay=0&mute=1" webkitallowfullscreen mozallowfullscreen allowfullscreen height="300" width="100%"></iframe>
                                          <div class="photo-text-more">
                                              <div class="photo-text-more">
                                                <h3 class="heading">{{images.name}}</h3>
                                                <span class="meta">{{images.count}} Photos</span>
                                              </div>
                                          </div>
                                      </a>
                                  </div>
                              </div>
                            </ng-template>
                        </div>
                    </ngb-carousel>


                </div>
            </div>
          </div>

          <div [ngClass]="getClassName(aosimges)" data-aos="fade-up" data-aos-delay="200"  *ngFor="let aosimges of aoslSliderImagesData | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize;let i= index">
            <a routerLink="/detail/{{aosimges.id}}" class="d-block photo-item">
              <img *ngIf="aosimges.type == 'photo'" src="assets/images/{{aosimges.imageName}}" alt="Image" class="img-fluid">
              <iframe  *ngIf="aosimges.type == 'video'" src="https://www.youtube.com/embed/xcJtL7QggTI?rel=0&amp;autoplay=0&mute=1" webkitallowfullscreen mozallowfullscreen allowfullscreen height="300" width="100%"></iframe>
              <div class="photo-text-more">

                <div class="photo-text-more">
                <h3 class="heading">{{aosimges.name}}</h3>
                <span class="meta">{{aosimges.count}} Photos</span>
              </div>
              </div>
            </a>
          </div>
        </div>
            </div>
         <!--<div class="col-md-5 col-sm-6 col-12 m-auto">

               <ngb-pagination [collectionSize]="aoslSliderImagesData.length"  [pageSize]="pageSize" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
      </div>-->

        </div>
    </main>

            </div>

<div class="site-wrap mt-5 pt-1 bg-dark" *ngIf="webtype==3" >

    <main class="main-content p-0">
        <div class="container-fluid photos">
            <div class="row mr-2">

                <div class="col-md-8 col-sm-8 col-xl-8 col-lg-8">
                    <div class="cartItem" *ngIf="detailPageInfo">
						<!-- p-3 -->
                        <div class="">
                            <p class="text-white f-20 mb-0 pt-3 pl-3">{{detailPageInfo[0].items[0].n}}</p>
                            <p class="pl-3">{{detailPageInfo[0].items[0].desc}}</p>
<!-- data-aos="fade-up" -->
                            <div >
                                <a  class="d-block">
                                <!-- class="embed-responsive embed-responsive-16by9"-->
                                    <div  style="text-align:center;">
                                    <video controls [poster]="'https://p5iconsp.s3-accelerate.amazonaws.com/'+detailPageInfo[2]" controlsList="nodownload"  onmouseover="this.play()" onmouseout="this.load()" >
                                        <source src="{{detailPageInfo[0].flv_base+detailPageInfo[1]}}" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                    </div>
                                </a>
<!--                                    <div class="photo-text-more">-->
<!--                                        <div class="photo-text-more">-->
<!--                                            <h3 class="heading">{{detailPageInfo[0].items[0].pf}}</h3>-->
<!--&lt;!&ndash;                                            <span class="meta">{{detailPageInfo.photoCount}}</span>&ndash;&gt;-->
<!--                                        </div>-->
<!--                                    </div>-->

                            </div>

                            <div class="p-3">
                                <div style="float: right;">
                                    <a href="{{detailPageInfo[4]}}" download="{{detailPageInfo[3]+'.mp4'}}"><i class="fas fa-download"></i></a> &nbsp;&nbsp;
                                    <a (click)="addtolightbox(detailPageInfo[3])"><i class="fas fa-heart"></i></a>
                                </div>
                                <p class="text-white text-uppercase"><strong>Related Keywords</strong></p>
                                <div class="related_key">
                                    <a href="/search?type=2&keyword={{keys}}" class="btn btn-outline-light btn-sm f-12" title="underwater" *ngFor="let keys of keyword">{{keys}}</a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-4 col-sm-4 col-xl-4 col-lg-4 pt-3 cart_right pl-3 mt-3" *ngIf="detailPageInfo">

                    <div class="p-3">
                        <ul class="nav nav-tabs mytabs">
                            <li class="nav-item">
                                <a class="nav-link " [ngClass]="[ standardTab ? 'active' : '']" data-toggle="tab"  (click)="tabshow('1')">Standard License</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content pt-3" >
                            <div id="stalic" *ngIf="standardTab" class="tab-pane active">
                                <p class="text-white text-uppercase lsp-1 f-14 pt-3">standard Royalty Free Licenses</p>

                                <div class="btn-group btn-group-toggle mb-1" data-toggle="buttons">
                                    <label class="btn btn-dark" *ngFor="let cost of detailPageInfo[0].items[0].versions;let i=index;let first=first;">
                                        <input type="radio" name="options" id="option{{i}}" autocomplete="off" [class]="i==0 ? 'checked' : ''" (click)="checkPriceTotalFootage(cost)">
                                        <p class="f-12">{{cost.size}}</p>
                                        <p class="f-15 mb-0"> <i class="fa fa-inr"></i> {{cost.pr | number}}</p>
                                    </label>
                                </div>
                               <p><small><span class="text-warning">Standard Use Only</span> <!--<span style="cursor:pointer;" (click)="open(content)">Learn More</span>--></small></p>
                            </div>
                        </div>
                        <!-- <p class="text-white">Use This Image Exclusively</p>
                        <div class="btn-group" role="group" aria-label="Basic example">
                          <button type="button" class="btn btn-dark">Market Freeze</button>
                          <button type="button" class="btn btn-dark dropdown-toggle exclus" data-toggle="dropdown">Select a Duration</button>
                          <ul class="dropdown-menu selctDura">
                              <li class="dropdown-item"><a href="#">Item I</a></li>
                              <li class="dropdown-item"><a href="#">Item II</a></li>
                              <li class="dropdown-item"><a href="#">Item III</a></li>
                              <li class="dropdown-item"><a href="#">Item IV</a></li>
                              <li class="dropdown-item"><a href="#">Item V</a></li>
                              <li class="dropdown-item"><a href="#">Other</a></li>
                            </ul>
                        </div> -->

                        <div class="row mt-5" *ngIf="total>0">
                            <div class="col-12">
                                <p class="text-white" *ngIf="currunt_selected_price>0">Selected Price:-  {{currunt_selected_price | number}} </p>
                                <p class="text-white" *ngIf="extended_price>0">Selected Extended Price :-  {{extended_price | number}}</p>
                            </div>
                            <div class="col-4">
                                <p class="text-white"><strong>TOTAL</strong></p>
                            </div>
                            <div class="col-8 text-right">
                                <h2 class="text-warning f-24 fw-6">{{total |number }} INR</h2>
                            </div>
                        </div>

                        <div class="row mt-2 mb-5">
                            <div class="col-12">
                                <button type="button" *ngIf="!addedCartItem" class="btn btn-warning rounded-0 p-3 shadow text-white d-block  w-100" (click)="addToCheckoutItem(detailPageInfo,standard,total,extended,'3')">ADD TO CART</button>
                                <button type="button" *ngIf="addedCartItem" class="btn btn-warning rounded-0 p-3 shadow text-white d-block  w-100" (click)="checkout()">Checkout</button>
                                <br/><button type="button" *ngIf="showloginPopup==false && currentUser?.footage_downlaod==1" class="btn btn-warning rounded-0 p-3 shadow text-white d-block  w-100" (click)="download(detailPageInfo,standard,total,extended,'3')">Download</button>
                                <!-- <p>This image is exclusive to Image Footage</p>-->
                            </div>
                        </div>

                        <h6 class="text-center" style="color:#ffffffa8;">DETAILS</h6>
                        <br />
                        <!--<table class="f-12">
                            <tbody>
                            <tr>
                                <td width="20%">Restrictions :</td>
                                <td>Contact your local office for all commercial or promotional uses.</td>
                            </tr>
                            <tr>
                                <td>Credit :</td>
                                <td>{{detailPageInfo[0].items[0].artistname}}</td>
                            </tr>
                            <tr>
                                <td>Product ID :</td>
                                <td>{{detailPageInfo[3]}}</td>
                            </tr>
                            <tr>
                                <td>Duration # :</td>
                                <td>{{detailPageInfo[0].items[0].dur}}</td>
                            </tr>
                                                        <tr>
                                                            <td>Collection :</td>
                                                            <td>Getty Images News</td>
                                                        </tr>
                            <tr>
                                <td>Date created :</td>
                                <td>{{detailPageInfo[0].items[0].date}}</td>
                            </tr>
                            <tr>
                                <td>License type :</td>
                                <td>Standard</td>

                            </tr>
                            <tr>
                                <td>Release info :</td>
                                <td>Not released. More information</td>
                            </tr>
                                                        <tr>
                                                            <td>Source :</td>
                                                            <td>Getty Images AsiaPac</td>
                                                        </tr>



                            <tr>
                                <td>Max file size :</td>
                                <td>{{detailPageInfo[0].items[0].filesize}}</td>
                            </tr>
                            </tbody>

                        </table>-->
                        <div class="col-md-12">
<!--                            <div class="row">-->
<!--                                <div class="col-md-4">Restrictions</div>-->
<!--                                <div class="col-md-1">:</div>-->
<!--                                <div class="col-md-7">Contact your local office for all commercial or promotional uses.</div>-->
<!--                            </div>-->
                            <div class="row">
                                <div class="col-md-4">Credit</div>
                                <div class="col-md-1">:</div>
                                <div class="col-md-7">{{detailPageInfo[0].items[0].artistname}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Product ID</div>
                                <div class="col-md-1">:</div>
                                <div class="col-md-7">{{detailPageInfo[3]}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Duration #</div>
                                <div class="col-md-1">:</div>
                                <div class="col-md-7">{{detailPageInfo[0].items[0].dur}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">Date created</div>
                                <div class="col-md-1">:</div>
                                <div class="col-md-7">{{detailPageInfo[0].items[0].date}}</div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">License type</div>
                                <div class="col-md-1">:</div>
                                <div class="col-md-7">Standard</div>
                            </div>
                            <!--<div class="row">
                                <div class="col-md-3">Release info :</div>
                                <div class="col-md-9">Not released. More information</div>
                            </div>-->
                            <div class="row">
                                <div class="col-md-4">Max file size</div>
                                <div class="col-md-1">:</div>
                                <div class="col-md-7">{{detailPageInfo[0].items[0].filesize}}</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="bg-black p-3">
                <div class="row align-items-stretch">
                    <div class="row mx-auto my-auto mb-5">


 <h3 class="col-md-12" style="color: #fcbe11;">Related Footages<hr /></h3>

                        <div  infiniteScroll
                              [infiniteScrollDistance]="2"
                              [infiniteScrollUpDistance]="1.5"
                              [infiniteScrollThrottle]="2000"
                              (scrolled)="onScrollDown()"
                              (scrolledUp)="onScrollUp()">
                            <div class="row align-items-stretch">
                            
                            

                            
                            
                                <div [ngClass]="getClassName(aosimges)" data-aos="fade-up" data-aos-delay="200"  *ngFor="let aosimges of relatedData;let i= index"  >

                                    <!--routerLink="/detail/{{aosimges.api_product_id}}/{{aosimges.product_web}}/{{aosimges.product_main_type}}" d-block-->
                                    <span  class=" photo-item" >
                        <div class="">
                <span  *ngIf="aosimges.product_main_type != 'Image'"  class="photo-item ">
                      <span style="position:absolute;margin-left:10px;margin-top:5px;color: #ffbe0b;"><i class="fa fa-video-camera" aria-hidden="true"></i></span>

                    <!-- <iframe  *ngIf="aosimges.mimetype != 'image/jpeg'" src="https://www.youtube.com/embed/xcJtL7QggTI?rel=0&amp;autoplay=0&mute=1" webkitallowfullscreen mozallowfullscreen allowfullscreen height="300" width="100%"></iframe>  -->
                          <div class="photo-text-more" >
                       	  <div class="photo-text-more" >
                        <br />
                        <p class="icons_thum1" >
                        	<!--<span><a href=""><i class="fa fa-image"></i></a></span>-->
                            <!--<span *ngIf="!currentUser"><a href="#" style='cursor:pointer;' (click)="clickLoginPopup()"><i class="fa fa-heart"></i></a></span>
                            <span *ngIf="currentUser"><a style='cursor:pointer;'  (click)="addtolightbox(aosimges)"><i class="fa fa-heart"></i></a></span>
                            <span *ngIf="!currentUser"><a href="#" style='cursor:pointer;' (click)="clickLoginPopup()"><i class="fa fa-plus"></i></a></span>
                            <span *ngIf="currentUser"><a href="#" style='cursor:pointer;'  ><i class="fa fa-plus"></i></a></span>-->
                        </p>
                      </div>
                      </div>
                      </span>
                            <video  width="400" height="300"   [muted]="'muted'" [poster]="aosimges.product_thumbnail" #htmlVideoElement controlsList="nodownload"  onmouseover="this.play()" onmouseout="this.load()"  (click)="onNavigate('/detail/',aosimges.api_product_id,aosimges.product_web,aosimges.product_main_type)" style="width: 100% !important;background: #7d494957;cursor:pointer;/*object-fit: cover;*/">
                              <source src="{{aosimges.product_main_image}}" type="video/mp4">
                              Your browser does not support the video tag.
                          </video>
                            <div class="photo-text-more">
                          <!--<h3 class="heading">{{aosimges.product_title}}</h3>
                          <span class="meta">{{aosimges.description}} Photos</span>-->
                                <!--<p class="icons_thum">

                                  <span *ngIf="!currentUser"><a href="#" style='cursor:pointer;' (click)="clickLoginPopup()"><i class="fa fa-heart"></i></a></span>
                                  <span *ngIf="currentUser"><a style='cursor:pointer;'  (click)="addtolightbox(aosimges)"><i class="fa fa-heart"></i></a></span>
                                  <span *ngIf="!currentUser"><a href="#" style='cursor:pointer;' (click)="clickLoginPopup()"><i class="fa fa-plus"></i></a></span>
                                  <span *ngIf="currentUser"><a href="#" style='cursor:pointer;'  ><i class="fa fa-plus"></i></a></span>
                              </p>-->
                        </div>
                        </div>
                      </span>
                                    <!--routerLink="/detail/{{aosimges.api_product_id}}/{{aosimges.product_web}}/{{aosimges.product_main_type}}" d-block-->
                                </div>

                            </div>
                        </div>




                    </div>
                    <div class="row mx-auto my-auto mb-5">
                        <div id="recipeCarousel" class="carousel slide w-100 related_slider" *ngIf="carouselSliderImages">
                            <h3 class="text-white f-18 mb-3 float-left">{{carouselSliderImages.categoryLabel}}</h3>
                            <a href="javascript:void(0)" class="text-warning float-right"><strong>See All</strong></a>
                            <div class="carousel-inner" role="listbox">
                                <ngb-carousel *ngIf="carouselSliderImages" [showNavigationArrows]="true" [showNavigationIndicators]="false" [interval]="1000" [pauseOnHover]="true">
                                    <div class="carousel-item">
                                        <ng-template ngbSlide *ngFor="let carouseimges of carouselSliderImages.categoryImages;let i= index">
                                            <div class="row">
                                                <div [ngClass]="getClassName(images)" *ngFor="let images of carouseimges">
                                                    <a href="javascript:void(0)" class="d-block photo-item">
                                                        <img *ngIf="images.type == 'photo'" src="assets/images/{{images.imageName}}" alt="Image" class="img-fluid">
                                                        <iframe  *ngIf="images.type == 'video'" src="https://www.youtube.com/embed/xcJtL7QggTI?rel=0&amp;autoplay=0&mute=1" webkitallowfullscreen mozallowfullscreen allowfullscreen height="300" width="100%"></iframe>
                                                        <div class="photo-text-more">
                                                            <div class="photo-text-more">
                                                                <h3 class="heading">{{images.name}}</h3>
                                                                <span class="meta">{{images.count}} Photos</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </div>
                                </ngb-carousel>


                            </div>
                        </div>
                    </div>
                    <div class="row mx-auto my-auto mb-5">
                        <div id="recipeCarousel" class="carousel slide w-100 related_slider" *ngIf="carouselSliderImages">
                            <h3 class="text-white f-18 mb-3 float-left">{{carouselSliderImages.categoryLabel}}</h3>
                            <a href="javascript:void(0)" class="text-warning float-right"><strong>See All</strong></a>
                            <div class="carousel-inner" role="listbox">
                                <ngb-carousel  [showNavigationArrows]="true" [showNavigationIndicators]="false" [interval]="1000" [pauseOnHover]="true">
                                    <div class="carousel-item">
                                        <ng-template ngbSlide *ngFor="let carouseimges of carouselSliderImages.categoryImages;let i= index">
                                            <div class="row">
                                                <div [ngClass]="getClassName(images)" *ngFor="let images of carouseimges">
                                                    <a href="javascript:void(0)" class="d-block photo-item">
                                                        <img *ngIf="images.type == 'photo'" src="assets/images/{{images.imageName}}" alt="Image" class="img-fluid">
                                                        <iframe  *ngIf="images.type == 'video'" src="https://www.youtube.com/embed/xcJtL7QggTI?rel=0&amp;autoplay=0&mute=1" webkitallowfullscreen mozallowfullscreen allowfullscreen height="300" width="100%"></iframe>
                                                        <div class="photo-text-more">
                                                            <div class="photo-text-more">
                                                                <h3 class="heading">{{images.name}}</h3>
                                                                <span class="meta">{{images.count}} Photos</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </ng-template>
                                    </div>
                                </ngb-carousel>


                            </div>
                        </div>
                    </div>

                    <div [ngClass]="getClassName(aosimges)" data-aos="fade-up" data-aos-delay="200"  *ngFor="let aosimges of aoslSliderImagesData | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize;let i= index">
                        <a routerLink="/detail/{{aosimges.id}}" class="d-block photo-item">
                            <img *ngIf="aosimges.type == 'photo'" src="assets/images/{{aosimges.imageName}}" alt="Image" class="img-fluid">
                            <iframe  *ngIf="aosimges.type == 'video'" src="https://www.youtube.com/embed/xcJtL7QggTI?rel=0&amp;autoplay=0&mute=1" webkitallowfullscreen mozallowfullscreen allowfullscreen height="300" width="100%"></iframe>
                            <div class="photo-text-more">

                                <div class="photo-text-more">
                                    <h3 class="heading">{{aosimges.name}}</h3>
                                    <span class="meta">{{aosimges.count}} Photos</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <!--<div class="col-md-5 col-sm-6 col-12 m-auto">

                <ngb-pagination [collectionSize]="aoslSliderImagesData.length"  [pageSize]="pageSize" [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
            </div>-->

        </div>
    </main>

</div>

<ng-container *ngIf="showloginPopup">
    <app-login [openLoginPopup]="showloginPopup" (closeLoginPopup)="hideLoginPopup($event)"></app-login>
</ng-container>



<ng-template #content let-c="close" let-d="dismiss" >
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title"> Editorial</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
<p>For editorial use only. This image cannot be used for advertising or promotional purposes. Allows use in all media, excluding broadcast and print covers. This image is for single-use in context only. For additional use, please relicense.</p>
<p>Learn more on our <a href="https://imagefootage.com/terms." target="_blank">https://imagefootage.com/terms.</a></p>
<p>Need additional rights or interested in commercial use? For enterprise access, Contact us:<a href="https://imagefootage.com/contactUs" target="_blank">https://imagefootage.com/contactUs</a></p>
 
  </div>
  <!--<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
  </div>-->
</ng-template>

<ng-template #content1 let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Extended License</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
  <ul>
   <li> Unlimited web distribution</li>
<li>Unlimited print copies</li>
<li>Unlimited packaging copies</li>
<li>Unlimited out of home advertising impressions</li>
<li>Allowed in merchandising</li>
<li>Allowed on web templates</li>
<li>Video production of any budget</li>
<li>Decoration in personal and commercial spaces</li>
    </ul>
    
  </div>
  <!--<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="c('Save click')">Save</button>
  </div>-->
</ng-template>
