nav#mainNav {
    background: #000 !important;
   /* padding-top: 25px;
    padding-bottom: 25px;*/
}
#mainNav {
    padding-bottom: 0px;
    padding-top: 0px;
    /*background: #000 !important;*/
}
body {
    padding-top: 0px !important;
}
.main-content .photos .photo-item img{
	    object-fit: contain !important;
		background: #58303066 !important;
}
.gallery {
-webkit-column-count: 5;
-moz-column-count: 5;
column-count: 5;
-webkit-column-width: 22%;
-moz-column-width: 22%;
column-width: 22%; }
.gallery .pics {
-webkit-transition: all 350ms ease;
transition: all 350ms ease; }
.gallery .animation {
-webkit-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1); }

@media (max-width: 450px) {
.gallery {
-webkit-column-count: 1;
-moz-column-count: 1;
column-count: 1;
-webkit-column-width: 100%;
-moz-column-width: 100%;
column-width: 100%;
}
.for_mobile{
	width:100%;
}
}

@media (max-width: 400px) {
.btn.filter {
padding-left: 1.1rem;
padding-right: 1.1rem;
}
.for_mobile{
	width:100%;
}
}
.red{
	color:red;
}
#expend {
  display:none;  
}
#expend + .smalldesc {
  max-height:30px;
  overflow:hidden;
  transition:all .3s ease;
}

#expend:checked + .smalldesc {
  max-height:250px;  
}

.rmore {
  color:blue;
 /* text-decoration:underline;*/
  cursor:pointer;
  margin: 10px;
}

.rmore:hover {
  text-decoration:none;  
}

/* for tags */
.tags a {    
    display: inline-block;
    height: 24px;
    line-height: 24px;
	margin-left: 10px;
	margin-top: 7px;
    position: relative;
    /*margin: 0 16px 8px 0;*/
    padding: 0 10px 0 12px;
    background: #7776;    
    -webkit-border-radius: 3px;    
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    color: #fff;
    font-size: 12px;
    text-decoration: none;
    text-shadow: 0 1px 2px rgba(0,0,0,0.2);
    font-weight: bold;
 }
/*.tags a:before {
    content: "";
    position: absolute;
    top:0;
    left: -12px;
    width: 0;
    height: 0;
    border-color: transparent #7776 transparent transparent;
    border-style: solid;
    border-width: 12px 12px 12px 0;        
}*/

/*.tags a:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 1px;
    float: left;
    width: 5px;
    height: 5px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
    box-shadow: -1px -1px 2px rgba(0,0,0,0.4);
}
*/