nav#mainNav {
    background: #000 !important;
   /* padding-top: 25px;
    padding-bottom: 25px;*/
}
#mainNav {
    padding-bottom: 0px;
    padding-top: 0px;
    /*background: #000 !important;*/
}
body {
    padding-top: 0px !important;
}
.main-content .photos .photo-item img{
	    object-fit: contain !important;
		background: #58303066 !important;
}