<!--<div class="loader-bg" *ngIf="loadingData">
    <div class="loader">
        Loading
        <span></span>
    </div>
</div>-->
<section class="mt-1">

    <div class="container">

        <div class="col-lg-8 col-md-8 col-sm-10 m-auto">

            <div class="card z-depth-0">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs" style="background: #ffcac6">
                        <!--  <div class="layer">  </div>   -->


                        <img src="/assets/images/resetpassword.png" class="img-fluid">

                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="bg-white p-5">
                            <div class="p-3">

                                <p class="f-20 mb-0"><b>Reset Password</b></p>
                                <p><small>Enter the email associated with your account and we'll send an email with instructions to reaet your passowrd.</small></p>
                                <form class="loignForm"  [formGroup]="changeresetpasswordForm" (ngSubmit)="onSubmit()">
                                
                               		 <div class="form-group mt-4">
                                    <input type="hidden" formControlName="otp" class="form-control" placeholder="otp" value="{{ otp }}">
                                    </div>
                                     <div class="form-group mt-4">
                                    <input type="hidden" formControlName="email" class="form-control" placeholder="email" value="{{ email }}">
                                    </div>
                                    <div class="form-group mt-4">
                                        <label class="text-uppercase f-12 text-black">Password</label>
                                        <input type="password" formControlName="password" class="form-control" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div>
                                    </div>


                                    <div class="form-group mt-4">
                                        <label class="text-uppercase f-12 text-black">Confirm Password</label>
                                        <input type="password" formControlName="confirm_password" class="form-control" placeholder="Confirm Password" [ngClass]="{ 'is-invalid': submitted && f.title.errors }">
                                        <div *ngIf="submitted && f.confirm_password.errors" class="invalid-feedback">
                        <div *ngIf="f.confirm_password.errors.required">Confirm Password is required</div>
                    </div>
                                    </div>



                                    <div class="form-group mt-5">

                                        <button type="submit"  class="btn btn-success btn-block text-white  p-3 text-uppercase">SUBMIT</button>

                                    </div>

                                </form>
                            </div>


                        </div>
                    </div>


                </div>


            </div>





        </div>


    </div>

</section>
