<div class="loader-bg" *ngIf="loadingData">
    <div class="loader">
        Loading
        <span></span>
    </div>
</div>
<section>
    <div class="container">
        <div class="card pb-3 shadow-sm" *ngIf="lightBoxListDataItems">
            <form method="#">
                <div class="table-responsive">
                    <table class="table cart-table">
                        <tbody>
                        <tr *ngFor="let wishList of lightBoxListDataItems;let i= index">
                            <td width="3%"> <div class="custom-control custom-checkbox">
                                <!--                          <input type="checkbox" class="custom-control-input" id=$index name="'example'+i">-->
                                <!--                          <label class="custom-control-label" for=$index></label>-->
                            </div>
                            </td>
                            <td width="25%" align="center">
                                <div class="product-info">
                                    <a href="javascript:void(0)" *ngIf="wishList.product_web=='2'" >
                                        <img src="{{wishList.product_thumbnail}}" alt="product-img"  style="width:200px;height: 200px;" />
                                    </a>
                                    <a href="javascript:void(0)" *ngIf="wishList.product_web=='3'" >
                                        <video  width="200" height="150" [poster]="wishList.product_thumbnail" controls controlsList="nodownload"  onmouseover="this.play()" onmouseout="this.load()">
                                            <source src="{{wishList.product_main_image}}" type="video/mp4">
                                            Your browser does not support the video tag.
                                        </video>
                                    </a>

                                </div>

                            </td>

                            <td width="50%">
                                <p class="mb-1 text-black f-18"><strong>{{wishList.product_title}}</strong></p>
                                <p class="mb-1 f-16"><strong></strong>  {{wishList.product_description}}</p>
                                <div class="clearfix"></div>
                                <div class="mt-2">
                                    <a  class="btn btn-danger btn-sm f-12" (click)="removeProductFromWishlist(wishList)"><i class="fa fa-times-circle"></i> Remove</a>
                                    <a  class="btn btn-success btn-sm f-12 text-white ml-1" routerLink="/detail/{{wishList.api_product_id}}/{{wishList.product_web}}/{{wishList.product_main_type}}"><i class="fa fa-heart"></i> Buy</a>
                                </div>

                            </td>

                        </tr>

                        </tbody>
                    </table>
                </div>

                <hr>

                <div class="col-12">
                </div>

            </form>
        </div>
        <div class="card pb-3 shadow-sm" *ngIf="!lightBoxListDataItems">
            Your Wishlist is Empty.
        </div>
    </div>
</section>
