<div class="loader-bg" *ngIf="loadingData">
    <div class="loader">
        Loading
        <span></span>
    </div>
</div>
<section class="mt-0">
    <div class="container"> 
        <div class="col-md-11 col-xl-11 col-lg-11 col-sm-11 m-auto">    
            <div class="card shadow">
                <div class="row">
                   <div class="col-lg-5 col-md-5 col-sm-6 con-bg">
                        <div class="layer">
                            <div class="p-5">
                                <div class="col-12">
                                    <p class="text-white f-24 mb-0"><i class="flaticon-user f-30"></i> Register</p>
                                    <p class="text-light">Sign up for a Contributor account.</p>
                                </div> 
                                <div class="col-12 pt-5 pb-5">
                                    <p class="text-white f-24 mb-0"><i class="flaticon-upload f-30"></i> Upload</p>
                                    <p class="text-light">Upload your original photos, vector illustrations or video footage.</p>
                                </div>      
                                <div class="col-12">
                                    <p class="text-white f-24 mb-0"><i class="flaticon-money f-30"></i> Earn!</p>
                                    <p class="text-light">Whenever a Buyer downloads your content, you earn!
                                    <a href="#" class="text-warning">*Earn up to 60% commissions.</a></p>
                                </div>
                            </div>
                        </div>                     
                   </div>
                   <div class="col-lg-7 col-md-7 col-sm-6">
                        <form [formGroup]="contributorForm" (ngSubmit)="onSubmit()"   class="loignForm pt-3 pb-3 pl-5 pr-5" *ngIf="otp==false">
                            <p class="text-right">Already a member? <a href="javascript:void()" (click)="clickLoginPopup()" > Sign in Here</a></p>
                            <h3 class="f-26 mb-3 font-normal text-center">Sign Up As A Image Footage Content Contributor</h3>
                            <div class="success" *ngIf="success_message!=null" style="color:green;">{{success_message}}</div>
                            <div class="error" *ngIf="error_message!=null" style="color:red;">{{error_message}}</div>
                            <div class="row form-group mt-4">
                                <div class="col-lg-6 col-md-6 col-sm-6 pl-2">
                                    <label>First Name</label>
                                    <input type="text" formControlName="contributor_fname" [ngClass]="{ 'is-invalid': submitted && f.contributor_fname.errors }" class="form-control rounded-0">
                                    <div *ngIf="submitted && f.contributor_fname.errors" class="invalid-feedback">
                                        <div *ngIf="f.contributor_fname.errors.required">First Name is required</div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 pr-2">
                                    <label>Last Name</label>
                                    <input type="text"  formControlName="contributor_lname" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.contributor_lname.errors }">
                                    <div *ngIf="submitted && f.contributor_lname.errors" class="invalid-feedback">
                                        <div *ngIf="f.contributor_lname.errors.required">Last Name is required</div>
                                    </div>
                                </div>
                            </div>
                            <div class="row form-group mt-4">
                                <div class="col-lg-6 col-md-6 col-sm-6 pl-2">
                                    <label>User Name</label>
                                    <input type="text" formControlName="contributor_name" [ngClass]="{ 'is-invalid': submitted && f.contributor_name.errors }" class="form-control rounded-0">
                                    <div *ngIf="submitted && f.contributor_name.errors" class="invalid-feedback">
                                            <div *ngIf="f.contributor_name.errors.required">User Name is required</div>
                                    </div>
                                </div>                      
                                <div class="col-lg-6 col-md-6 col-sm-6 pr-2">
                                    <label>Email Name</label>
                                    <input type="email"  formControlName="contributor_email" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.contributor_email.errors }">
                                    <div *ngIf="submitted && f.contributor_email.errors" class="invalid-feedback">
                                            <div *ngIf="f.contributor_email.errors.required">Email is required</div>
                                            <div *ngIf="f.contributor_email.errors.email">Email must be a valid email address</div>
                                    </div>
                                </div>                       
                            </div> 
                            <div class="row form-group mt-4 pos-rel">
                                <div class="col-lg-6 col-md-6 col-sm-6 pl-2">
                                    <label>Password</label>
                                    <input type="password" formControlName="contributor_password" [ngClass]="{ 'is-invalid': submitted && f.contributor_password.errors }" class="form-control rounded-0">
                                    <a href="#" class="icon_view"><i class="flaticon-view"></i></a>
                                    <div *ngIf="submitted && f.contributor_password.errors" class="invalid-feedback">
                                            <div *ngIf="f.contributor_password.errors.required">Password is required</div>
                                            <div *ngIf="f.contributor_password.errors.minlength">Password must be at least 6 characters</div>
                                    </div>
                                </div>                      
                                <div class="col-lg-6 col-md-6 col-sm-6 pr-2">
                                    <label>Phone No</label>
                                    <input type="tel" formControlName="contributor_mobile" [ngClass]="{ 'is-invalid': submitted && f.contributor_mobile.errors }"   class="form-control">
                                    <div *ngIf="submitted && f.contributor_mobile.errors" class="invalid-feedback">
                                            <div *ngIf="f.contributor_mobile.errors.required">PhoneNumber is required</div>
                                            <div *ngIf="f.contributor_mobile.errors.pattern">PhoneNumber should be 10 number digits</div>
                                    </div>
                                </div>                       
                            </div>    
                            <div class="row form-group">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <label>Contributor Type</label>
<!--                                    <input type="text" formControlName="contributor_type" [ngClass]="{ 'is-invalid': submitted && f.contributor_type.errors }" class="form-control rounded-0">-->
                                    <select formControlName="contributor_type" [ngClass]="{ 'is-invalid': submitted && f.contributor_type.errors }" class="form-control">
                                        <option value="">Select</option>
                                        <option value="sale">Sale</option>
                                        <option value="doner">Doner</option>
                                    </select>
                                    <div *ngIf="submitted && f.contributor_type.errors" class="invalid-feedback">
                                            <div *ngIf="f.contributor_type.errors.required">Contributor Type is required</div>
                                    </div>
                                </div>                      
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <label>Id proof (Aadhar/Voter ID/Pan Card/Passport) Any</label>
<!--                                    <input type="text"  formControlName="contributor_idproof" [ngClass]="{ 'is-invalid': submitted && f.contributor_idproof.errors }" class="form-control">-->
                                    <input type="file" formControlName="contributor_idproof" [ngClass]="{ 'is-invalid': submitted && f.contributor_idproof.errors }" class="form-control" id="file" (change)="handleFileInput($event.target.files)">
                                    <div *ngIf="submitted && f.contributor_idproof.errors" class="invalid-feedback">
                                            <div *ngIf="f.contributor_idproof.errors.required">Id proof is required</div>
                                    </div>
                                </div>                       
                            </div>       
                            <div class="row form-group">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <label>Bank Holder Name</label>
                                    <input type="text"  formControlName="bank_holder_name" [ngClass]="{ 'is-invalid': submitted && f.bank_holder_name.errors }"  class="form-control rounded-0">
                                    <div *ngIf="submitted && f.bank_holder_name.errors" class="invalid-feedback">
                                            <div *ngIf="f.bank_holder_name.errors.required">Bank holder name is required</div>
                                    </div>
                                </div>                      
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <label>Bank Name</label>
                                    <input type="text"   formControlName="bank_name" [ngClass]="{ 'is-invalid': submitted && f.bank_name.errors }" class="form-control">
                                    <div *ngIf="submitted && f.bank_name.errors" class="invalid-feedback">
                                            <div *ngIf="f.bank_name.errors.required">Bank name is required</div>
                                    </div>
                                </div>                   
                            </div>     
                           <div class="row form-group">
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <label>Bank Account Number</label>
                                    <input type="text" formControlName="bank_account_number" [ngClass]="{ 'is-invalid': submitted && f.bank_account_number.errors }" class="form-control rounded-0">
                                    <div *ngIf="submitted && f.bank_account_number.errors" class="invalid-feedback">
                                            <div *ngIf="f.bank_account_number.errors.required">Bank account number is required</div>
                                            <div *ngIf="f.bank_account_number.errors.pattern">Invalid Bank Number</div>

                                    </div>
                                </div>                      
                                <div class="col-lg-6 col-md-6 col-sm-6">
                                    <label>IFSC Number</label>
                                    <input type="text" formControlName="ifsc_number" [ngClass]="{ 'is-invalid': submitted && f.ifsc_number.errors }" class="form-control">
                                    <div *ngIf="submitted && f.ifsc_number.errors" class="invalid-feedback">
                                            <div *ngIf="f.ifsc_number.errors.required">IFSC number is required</div>
                                    </div>
                                </div>                       
                            </div>    
                        
                            <div class="form-group">                         
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" formControlName="contributor_acceptTerms" [ngClass]="{ 'is-invalid': submitted && f.contributor_acceptTerms.errors }"  id="customCheck">
                                    <label class="custom-control-label" for="customCheck">Include my portfolio under the <a href="javascript:void()" target="_blank">Extended License</a> sale terms</label>
                                    <div *ngIf="submitted && f.contributor_acceptTerms.errors" class="invalid-feedback">
                                            <div *ngIf="f.contributor_acceptTerms.errors.required">Please accept Terms & Conditions</div>
                                    </div>  
                                </div>
                            </div>                                         
                            <div class="form-group pt-3">                            
                                <button type="button"[disabled]="loading" type="submit" class="btn btn-success btn-block text-white p-3 text-uppercase"><strong>Sign Up
                                </strong></button>                                
                            </div>                     
                        </form>
                        <form [formGroup]="contributorotpForm" (ngSubmit)="onSubmitotp()"   class="loignForm pt-3 pb-3 pl-5 pr-5" *ngIf="otp==true">

                           <h3 class="f-26 mb-3 font-normal text-center">Sign Up As A Image Footage Content Contributor</h3>
                            <div class="success" *ngIf="success_message!=null" style="color:green;">{{success_message}}</div>
                            <div class="error" *ngIf="error_message!=null" style="color:red;">{{error_message}}</div>
                           <div class="row form-group mt-4" *ngIf="completflag==false" >
                               <div class="col-lg-6 col-md-6 col-sm-6 pl-2">
                                   <label>Enter OTP</label>
                                   <input type="text" formControlName="otp" [ngClass]="{ 'is-invalid': submitted && o.otp.errors }" class="form-control rounded-0">
                                   <div *ngIf="submitted && o.otp.errors" class="invalid-feedback">
                                       <div *ngIf="o.otp.errors.required">OTP is Required</div>
                                   </div>
                               </div>
                               <div class="col-lg-6 col-md-6 col-sm-6 pr-2">
                                        <input type="button" class="btn btn-success btn-block text-white p-1 text-uppercase" value="Resend OTP" (click)="resend_otp()" />
                               </div>
                           </div>
                           <div class="form-group pt-3" *ngIf="completflag==false">
                               <button type="button"[disabled]="loading" type="submit" class="btn btn-success btn-block text-white p-3 text-uppercase"><strong>Verify OTP
                               </strong></button>
                           </div>
                       </form>

                   </div>
                </div>                
            </div>
        </div>                 
    </div>
</section>

<ng-container *ngIf="showloginPopup">
    <app-login [openLoginPopup]="showloginPopup" (closeLoginPopup)="hideLoginPopup($event)"></app-login>
</ng-container>
