 body{ font-weight:normal;background: #f1f5f6;}
 #mainNav{background:#000;}
 hr {
    border-top: 1px solid #ddd!important;
}
.con-bg {
    background: url(../../assets/images/beauty.jpg) center;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
}
.layer {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.font-normal {
    font-weight: normal !important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    color: #13113a;
    line-height: 1.2;
    margin-bottom: 0;
    margin-top: 0;
    font-weight: 700;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
}
