 <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700,800&display=swap&subset=cyrillic-ext,latin-ext,vietnamese" rel="stylesheet"> 
      <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<section class="mt-0">
    <div class="container"> 
         <div class="col-md-11 col-xl-11 col-lg-11 col-sm-11 m-auto">

             <div class="card shadow">
                <div class="row">
               <div class="col-lg-5 col-md-5 col-sm-6 con-bg">
                <div class="layer">
                     <div class="p-5">
                       <div class="col-12">
                       <p class="text-white f-24 mb-0"><i class="flaticon-user f-30"></i> Register</p>
                       <p class="text-light">Sign up for a Contributor account.</p>
                     </div>


                     <div class="col-12 pt-5 pb-5">
                       <p class="text-white f-24 mb-0"><i class="flaticon-upload f-30"></i> Upload</p>
                       <p class="text-light">Upload your original photos, vector illustrations or video footage.</p>
                     </div>


                     <div class="col-12">
                       <p class="text-white f-24 mb-0"><i class="flaticon-money f-30"></i> Earn!
</p>
                       <p class="text-light">Whenever a Buyer downloads your content, you earn!
<a href="#" class="text-warning">*Earn up to 60% commissions.</a></p>
                     </div>
                   </div>
                 </div>
                 
               </div>
               
               
            
               
               <div class="col-lg-7 col-md-7 col-sm-6">
                

<form class="loignForm pt-3 pb-3 pl-5 pr-5 Contributor_form">
  <p class="text-right">Already a member? <a href="#"> Sign in Here</a></p>
                 <h3 class="f-26 mb-3 font-normal text-center">Sign Up As A Image Footage Content Contributor</h3>

                   <div class="row form-group mt-4">
                   <div class="col-lg-6 col-md-6 col-sm-6 pl-2">
                     <label>User Name</label>
                     <input type="text" class="form-control rounded-0">
                   </div>
                  
                   <div class="col-lg-6 col-md-6 col-sm-6 pr-2">
                     <label>Email Name</label>
                     <input type="email" class="form-control">
                   </div>
                   
                    </div>
                   

                   <div class="row form-group mt-4 pos-rel">
                   <div class="col-lg-6 col-md-6 col-sm-6 pl-2">
                     <label>Password</label>
                     <input type="text" class="form-control rounded-0">
                     <a href="#" class="icon_view"><i class="flaticon-view"></i></a>
                   </div>
                  
                   <div class="col-lg-6 col-md-6 col-sm-6 pr-2">
                     <label>Phone No</label>
                     <input type="tel" class="form-control">
                   </div>
                   
                    </div>

                   <div class="row form-group">
                   <div class="col-lg-6 col-md-6 col-sm-6">
                     <label>First Name</label>
                     <input type="text" class="form-control rounded-0">
                   </div>
                  
                   <div class="col-lg-6 col-md-6 col-sm-6">
                     <label>Last Name</label>
                     <input type="text" class="form-control">
                   </div>
                   
                    </div>


                    <div class="row form-group">
                   <div class="col-lg-6 col-md-6 col-sm-6">
                     <label>Company Name</label>
                     <input type="text" class="form-control rounded-0">
                   </div>
                  
                   <div class="col-lg-6 col-md-6 col-sm-6">
                     <label>Street</label>
                     <input type="text" class="form-control">
                   </div>                   
                    </div>



                    <div class="row form-group">
                   <div class="col-lg-6 col-md-6 col-sm-6">
                     <label>City</label>
                     <input type="text" class="form-control rounded-0">
                   </div>
                  
                   <div class="col-lg-6 col-md-6 col-sm-6">
                     <label>State</label>
                     <input type="text" class="form-control">
                   </div>
                   
                    </div>

                    <div class="row form-group">
                   <div class="col-lg-6 col-md-6 col-sm-6">
                     <label>Zip/Postal code</label>
                     <input type="text" class="form-control rounded-0">
                   </div>
                  
                  <div class="col-md-6 col-lg-6 col-sm-6">
                     <label>Country</label>
                     <select class="form-control">
                      <option value="">India</option>
                      <option value="">Canada</option>
                      <option value="">USA</option>
                      <option value="">Aus</option>
                     </select>
                   </div>
                   
                    </div>
                    
                 <div class="row form-group pt-4">
                   <div class="col-md-6 col-lg-6 col-sm-6">
                     <label>How do we pay you?</label>
                     <select class="form-control">
                      <option value="">PayPal</option>
                      <option value="">Skrill</option>
                     </select>
                   </div>
                   
                   <div class="col-md-6 col-lg-6 col-sm-6">
                     <label>Preferred payment limit</label>
                     <select class="form-control">
                      <option value="">USD $100</option>
                      <option value="">USD $200</option>
                     </select>
                   </div>
                   </div>

                   <div class="form-group">
                     <label>Your payment Email Address to receive payments</label>
                     <input type="text" class="form-control rounded-0">
                   </div>


                   <div class="form-group">
                     
                     <div class="custom-control custom-checkbox">
  <input type="checkbox" class="custom-control-input" id="customCheck">
  <label class="custom-control-label" for="customCheck">Include my portfolio under the <a href="#" target="_blank">Extended License</a> sale terms</label>
</div>
                   </div>
                                     
                   <div class="form-group pt-3">
                   
                     <button type="button" class="btn btn-success btn-block text-white p-3 text-uppercase"><strong>Sign Up
                     </strong></button>
                    
                   </div>
                    
                   
                 </form>

</div>
               </div>
            
            </div>
          </div>
              
         
            
    </div>
  </section>