<section class="contact-page-area section-gap">
    
        <tabs>
          <tab tabTitle="Images">
          
          	<!-- Start Container -->			
          
          
          <div class="container">
          <div class="row justify-content-center">
	<!--Monthly packs!-->
	<div class="col-md-3 pricing hvr-float">
		<div class="klausheader">
		<h5>Monthly Packs</h5>
		<span class="klaus_package">Royalty Free Images</span>
		<!--<span class="klaus_price skinonecolor">19,95 $</span>
		<p>/per month</p>-->
		</div>
		
		<div class="klaus_features skinoneklaus_features">
		<li><input type="radio" /> 10 images => INR 2000.00 </li>
		<li class="klaus_plancolor"><i class="fa fa-check-circle"></i> One Page Scroll-down Layout</li>
		<li><i class="fa fa-check-circle"></i> Pricing is for 5 vert. sections</li>
		<li class="klaus_plancolor"><i class="fa fa-times-circle"></i> Responsive / Mobile Ready</li>
		<li><i class="fa fa-times-circle"></i> Bootstrap Framework</li>
		<li class="klaus_plancolor"><i class="fa fa-times-circle"></i> CSS3 &amp; jQuery Powered</li>
		</div>	
		
		<div class="klaus_getaquote skinonegetquote"><li><a href="http://bryanmaxim.com/envato/klaus/preview/klaus-v1.html#">BUY NOW</a></li></div>
	</div>
	<!--End Monthly Packs!-->
	
	<!--Annual Packs!-->
	<div class="col-md-3 pricing hvr-float">
		<div class="klausheader">
		<h5>Annual Packs</h5>
		<span class="klaus_package">Royalty Free Images</span>
		<!--<span class="klaus_price skinonecolor">29,95 $</span>
		<p>/per month</p>-->
		</div>
		
		<div class="klaus_features skinoneklaus_features">
		<li><i class="fa fa-check-circle"></i> Design + HTML5 </li>
		<li class="klaus_plancolor"><i class="fa fa-check-circle"></i> One Page Scroll-down Layout</li>
		<li><i class="fa fa-check-circle"></i> Pricing is for 5 vert. sections</li>
		<li class="klaus_plancolor"><i class="fa fa-times-circle"></i> Responsive / Mobile Ready</li>
		<li><i class="fa fa-times-circle"></i> Bootstrap Framework</li>
		<li class="klaus_plancolor"><i class="fa fa-times-circle"></i> CSS3 &amp; jQuery Powered</li>
		</div>	
		
		<div class="klaus_getaquote skinonegetquote"><li><a href="http://bryanmaxim.com/envato/klaus/preview/klaus-v1.html#">BUY NOW</a></li></div>
	</div>
	<!--End Annual Packs!-->
	
	<!--Begin Plan Business!-->
	<!--<div class="col-md-3 pricing hvr-float">
		<div class="klausheader">
		<div class="klaus_featured skinonebg">Featured</div>
		<h5>Business</h5>
		<span class="klaus_package">package</span>
		<span class="klaus_price skinonecolor">39,95 $</span>
		<p>/per month</p>
		</div>
		
		<div class="klaus_features skinoneklaus_features">
		<li><i class="fa fa-check-circle"></i> Design + HTML5 </li>
		<li class="klaus_plancolor"><i class="fa fa-check-circle"></i> One Page Scroll-down Layout</li>
		<li><i class="fa fa-check-circle"></i> Pricing is for 5 vert. sections</li>
		<li class="klaus_plancolor"><i class="fa fa-times-circle"></i> Responsive / Mobile Ready</li>
		<li><i class="fa fa-times-circle"></i> Bootstrap Framework</li>
		<li class="klaus_plancolor"><i class="fa fa-times-circle"></i> CSS3 &amp; jQuery Powered</li>
		</div>	
		
		<div class="klaus_getaquote skinonegetquote"><li><a href="http://bryanmaxim.com/envato/klaus/preview/klaus-v1.html#">GET A QUOTE</a></li></div>
	</div>-->
	<!--End Plan Business!-->
	
	<!--Download Within a Year!-->
	<div class="col-md-3 pricing skinoneultimate hvr-float">
		<div class="klausheader skinoneucolor">
		<h5>Download Within a Year</h5>
		<span class="klaus_package">Royalty Free Images</span>
		<!--<span class="klaus_price skinonecolor">49,95 $</span>
		<p>/per month</p>-->
		</div>
		
		<div class="klaus_features skinoneklaus_features skinoneucolor">
		<li><i class="fa fa-check-circle"></i> Design + HTML5 </li>
		<li class="skinoneklaus_plancolor"><i class="fa fa-check-circle"></i> One Page Scroll-down Layout</li>
		<li><i class="fa fa-check-circle"></i> Pricing is for 5 vert. sections</li>
		<li class="skinoneklaus_plancolor"><i class="fa fa-times-circle"></i> Responsive / Mobile Ready</li>
		<li><i class="fa fa-times-circle"></i> Bootstrap Framework</li>
		<li class="skinoneklaus_plancolor"><i class="fa fa-times-circle"></i> CSS3 &amp; jQuery Powered</li>
		</div>	
		
		<div class="klaus_getaquote skinonegetquote skinoneucolorget"><li><a href="http://bryanmaxim.com/envato/klaus/preview/klaus-v1.html#">BUY NOW</a></li></div>
	</div>
	<!--End Download Within a Year!-->
    </div>
	
</div>
			<!--End Container!-->
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          
          </tab>
          <tab tabTitle="Footages">Tab 2 Content</tab>
        </tabs>
	
</section>