<section class="contact-page-area section-gap">
    
        <tabs >
          <tab tabTitle="Images" >
          	<!-- Start Container -->			
          		<div class="container" >
          <div class="row justify-content-center">
	<!--Monthly packs!-->
	<div class="col-md-3 pricing hvr-float">
		<div class="klausheader">
        <span class="sub_plans">Subscriptions Plans</span>
		<h5>Monthly Packs</h5>
		<span class="klaus_package">Royalty Free Images</span>
		<!--<span class="klaus_price skinonecolor">19,95 $</span>
		<p>/per month</p>-->
		</div>
		
		<div class="klaus_features skinoneklaus_features">
		<li><input type="radio" /> 10 images => INR 2000.00 </li>
		<li class="klaus_plancolor"><input type="radio" /> 25 images => INR 3750.00</li>
		<li><input type="radio" /> 50 images => INR 6000.00</li>
		<li class="klaus_plancolor"><input type="radio" /> 100 images => INR 9000.00</li>
		<li><input type="radio" /> 200 images => INR 8000.00</li>
        <li class="klaus_plancolor"><input type="radio" /> 780 images => INR 15,600.00</li>
		</div>	
		
		<div class="klaus_getaquote skinonegetquote"><li><a href="">BUY NOW</a></li></div>
	</div>
	<!--End Monthly Packs!-->
	
	<!--Annual Packs!-->
	<div class="col-md-3 pricing hvr-float">
		<div class="klausheader">
        <span class="sub_plans">Subscriptions Plans</span>
		<h5>Annual Packs</h5>
		<span class="klaus_package">Royalty Free Images</span>
		<!--<span class="klaus_price skinonecolor">29,95 $</span>
		<p>/per month</p>-->
		</div>
		
		<div class="klaus_features skinoneklaus_features">
		<li><input type="radio" /> 10 images => INR 19200.00 </li>
		<li class="klaus_plancolor"><input type="radio" /> 25 images => INR 33,750.00</li>
		<li><input type="radio" /> 50 images => INR 50,400.00</li>
		<li class="klaus_plancolor"><input type="radio" /> 100 images => INR 70,200.00</li>
		<li><input type="radio" /> 200 images => INR 57600.00</li>
        <li class="klaus_plancolor"><input type="radio" /> 780 images => INR 1,12,320.00</li>
		</div>	
		
		<div class="klaus_getaquote skinonegetquote"><li><a href="">BUY NOW</a></li></div>
	</div>
	<!--End Annual Packs!-->
	
	<!--Begin Plan Business!-->
	<!--<div class="col-md-3 pricing hvr-float">
		<div class="klausheader">
		<div class="klaus_featured skinonebg">Featured</div>
		<h5>Business</h5>
		<span class="klaus_package">package</span>
		<span class="klaus_price skinonecolor">39,95 $</span>
		<p>/per month</p>
		</div>
		
		<div class="klaus_features skinoneklaus_features">
		<li><i class="fa fa-check-circle"></i> Design + HTML5 </li>
		<li class="klaus_plancolor"><i class="fa fa-check-circle"></i> One Page Scroll-down Layout</li>
		<li><i class="fa fa-check-circle"></i> Pricing is for 5 vert. sections</li>
		<li class="klaus_plancolor"><i class="fa fa-times-circle"></i> Responsive / Mobile Ready</li>
		<li><i class="fa fa-times-circle"></i> Bootstrap Framework</li>
		<li class="klaus_plancolor"><i class="fa fa-times-circle"></i> CSS3 &amp; jQuery Powered</li>
		</div>	
		
		<div class="klaus_getaquote skinonegetquote"><li><a href="http://bryanmaxim.com/envato/klaus/preview/klaus-v1.html#">GET A QUOTE</a></li></div>
	</div>-->
	<!--End Plan Business!-->
	
	<!--Download Within a Year!-->
	<div class="col-md-3 pricing skinoneultimate hvr-float">
		<div class="klausheader skinoneucolor">
        <span class="down_plans">Download Packs</span>
		<h5>Download Within a Year</h5>
		<span class="klaus_package">Royalty Free Images</span>
		<!--<span class="klaus_price skinonecolor">49,95 $</span>
		<p>/per month</p>-->
		</div>
		
		<div class="klaus_features skinoneklaus_features skinoneucolor">
		<li><input type="radio" /> 10 images => INR 3550.00 </li>
		<li class="skinoneklaus_plancolor"><input type="radio" /> 25 images => INR 16,500.00</li>
		<li><input type="radio" /> 50 images => INR 31,500.00</li>
		<li class="skinoneklaus_plancolor"><input type="radio" /> 100 images => INR 56,800.00</li>
		<li><input type="radio" /> 200 images => INR 99,400.00</li>
        <li class="skinoneklaus_plancolor"><input type="radio" /> 500 images => INR 1,95,500.00</li>
		</div>	
		
		<div class="klaus_getaquote skinonegetquote skinoneucolorget"><li><a href="">BUY NOW</a></li></div>
	</div>
	<!--End Download Within a Year!-->
    </div>
	
</div>
			<!--End Container!-->
           </tab>
          <tab tabTitle="Footages">
          	<!-- Start Container -->		
          		<div class="container" >
          <div class="row justify-content-center">
	<!--Monthly packs!-->
	<div class="col-md-3 pricing hvr-float" style="height: 365px;">
		<div class="klausheader" style="height: 110px;">
		<h5>HD(1080) Footages</h5>
		</div>
		<div class="klaus_features skinoneklaus_features">
		<li><input type="radio" /> 5 Footages => INR 37,500.00 </li>
		<li class="klaus_plancolor"><input type="radio" /> 10 Footages => INR 67,000.00</li>
		<li><input type="radio" /> 25 Footages => INR 1,40,000.00</li>
		<li class="klaus_plancolor"><input type="radio" /> 50 Footages => INR 2,50,000.00</li>
		</div>	
		<div class="klaus_getaquote skinonegetquote"><li><a href="">BUY NOW</a></li></div>
	</div>
	<!--End Monthly Packs!-->
	
	<!--Annual Packs!-->
	<div class="col-md-3 pricing hvr-float" style="height: 365px;">
		<div class="klausheader" style="height: 110px;">
		<h5>4K Footages</h5>
		</div>
		
		<div class="klaus_features skinoneklaus_features">
		<li><input type="radio" /> 5 Footages => INR 66,000.00 </li>
		<li class="klaus_plancolor"><input type="radio" /> 10 Footages => INR 1,24,000.00</li>
		<li><input type="radio" /> 25 Footages => INR 2,67,500.00</li>
		<li class="klaus_plancolor"><input type="radio" /> 50 Footages => INR 5,00,000.00</li>
		</div>
		<div class="klaus_getaquote skinonegetquote"><li><a href="">BUY NOW</a></li></div>
	</div>
	<!--End Annual Packs!-->
	<!--Download Within a Year!-->
	<div class="col-md-3 pricing skinoneultimate hvr-float" style="height: 365px;">
		<div class="klausheader skinoneucolor" style="height: 110px;">
		<h5>Single Purchase</h5>
		</div>
		<div class="klaus_features skinoneklaus_features skinoneucolor">
		<li><input type="radio" /> HD Footage => INR 11,500.00 </li>
		<li class="skinoneklaus_plancolor"><input type="radio" /> 4K Footage => INR 16,500.00</li>
        <li></li>
        <li></li>
		</div>	
		
		<div class="klaus_getaquote skinonegetquote skinoneucolorget"><li><a href="">BUY NOW</a></li></div>
	</div>
	<!--End Download Within a Year!-->
    </div>
	
</div>
			<!--End Container!-->
          </tab>
        </tabs>
	
</section>




