body{ font-weight:normal;/*background: #f1f5f6;*/}
.skinonegetquote li button {
    background: #38b880;
}
a {
    cursor:pointer;
}
.cursor-pointer{
    cursor: pointer;
}
.klaus_getaquote li button {
    color: #fff !important;
    float: left;
    width: 100%;
    height: 36px;
    /*padding-top: 8px;*/
    border-radius: 5px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
	cursor:pointer;
	outline: none;
    border: none
}
#mainNav{padding-bottom: 0px;padding-top: 0px;background: #000 !important;}

@charset "utf-8";

.clear {clear:both;}
/*Klaus Structure*/
.sub_plans{
    line-height: 36px;
    width: 100%;
    height: 40px;
    background-color: #fdbf14;
    display: block;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
.down_plans{
    line-height: 36px;
    width: 100%;
    height: 40px;
    background-color: #ffff;
    display: block;
    color: #38b880 !important;
    font-size: 18px;
    font-weight: 600;
}
.pricing {
    background:#fff;
    height:570px;
    text-align:center;
    cursor:default;
    padding:0;
    margin-bottom:30px;
    border-right:1px solid #f0f0f0;
    margin-right: 13px;
	text-transform: uppercase;
}

.klausheader {height:108px;border-bottom:1px solid #f0f0f0;}
.pricing h5 {color:#2d2f37;font-size:20px;font-weight:700;text-transform:uppercase;float:left;width:100%;margin:0;padding-top:30px;padding-bottom:10px;}
.pricing p {color:#9fa5ae;font-size:16px;font-weight:300;float:left;width:100%;margin-top:-10px}
.klaus_package {color:#2d2f37;font-size:11px;font-weight:300;text-transform:uppercase;/*float:left;*/width:100%;/*text-align:right;*/}
.klaus_price {font-size:46px;font-weight:300;float:left;width:100%;margin-top:10px;}
.klaus_featured {
    width:130px;
    height:25px;
    position:absolute;
    top:0;
    left:50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    background:#ccc;
    border-radius:0px 0px 5px 5px;
    font-size:15px;
    padding-top:1px;
    text-transform:uppercase;
    color:#fff;
    letter-spacing:0.8px;
}

.klaus_features {
    border-bottom:1px solid #f0f0f0;
}

.klaus_features li {
    height:40px;
    list-style:none;
    text-align:left;
    font-size:14px;
    color:#54565b;
    font-weight:400;
    padding-top:10px;
    padding-left:10px;
}
.klaus_features li i {
    padding-right:10px;
    font-size:16px;
}
.klaus_plancolor {background:#f4f4f4;}
.klaus_getaquote {width:180px;height:36px;margin-left:auto;margin-right:auto;}
.klaus_getaquote li {list-style:none;height:36px;margin-top:28px;}
.klaus_getaquote li a {color:#fff;float:left;width:100%;height:36px;padding-top:8px;border-radius:5px;-webkit-transition: all 0.3s ease;-moz-transition: all 0.3s ease;transition: all 0.3s ease;}
.klaus_getaquote li a:hover{text-decoration:none;}


/*Skin v1*/

.skinonecolor {color:#38b880;}
.skinonebg {background:#38b880;}
.skinoneklaus_features i {color:#38b880;}
.skinonegetquote li a {background:#38b880;}
.skinonegetquote li a:hover{background:#47cc92;}
.skinoneultimate {background:#38b880;border:0;color:#fff;}
.skinoneucolor {border-bottom:1px solid #33ab77;}
.skinoneucolor h5 {color:#fff;}
.skinoneucolor span {color:#fff;}
.skinoneucolor p {color:#fff;}
.skinoneucolor li {color:#fff;}
.skinoneucolor i {color:#fff;}
.skinoneklaus_plancolor {background:#33ab77;}
.skinoneucolorget li a {background:#fff;color:#3db983;}
.skinoneucolorget li a:hover {background:#65ebb1;color:#fff;}
@media screen and (min-width: 800px) {
    .fordesk_plan{
		margin-left: 131px;
	}
	.dpm{
		width: 50.5%;
		margin-left: 144px;
	}

}
.checkmark {
    top: 11px !important;
}

/* for on and off switch */
ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.about {
  margin: 70px auto 40px;
  padding: 8px;
  width: 260px;
  font: 10px/18px 'Lucida Grande', Arial, sans-serif;
  color: #666;
  text-align: center;
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  background: #eee;
  background: rgba(250, 250, 250, 0.8);
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 6px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.3), inset 0 0 0 1px rgba(255, 255, 255, 0.1), 0 0 6px rgba(0, 0, 0, 0.2);
}
.about a {
  color: #333;
  text-decoration: none;
  border-radius: 2px;
  -webkit-transition: background 0.1s;
  -moz-transition: background 0.1s;
  -o-transition: background 0.1s;
  transition: background 0.1s;
}
.about a:hover {
  text-decoration: none;
  background: #fafafa;
  background: rgba(255, 255, 255, 0.7);
}

.about-links {
  height: 30px;
}
.about-links > a {
  float: left;
  width: 50%;
  line-height: 30px;
  font-size: 12px;
}

.about-author {
  margin-top: 5px;
}
.about-author > a {
  padding: 1px 3px;
  margin: 0 -1px;
}

/*
 * Copyright (c) 2012-2013 Thibaut Courouble
 * http://www.cssflow.com
 *
 * Licensed under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 */
.switch {
  position: relative;
  margin: 20px auto;
  height: 39px;
  width: 200px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 99px;
  line-height: 38px;
  font-size: 16px;
  color: rgb(251, 249, 249);
  text-align: center;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
  cursor: pointer;
}
.switch-label:active {
  font-weight: bold;
}

.switch-label-off {
  padding-left: 2px;
}

.switch-label-on {
  padding-right: 2px;
}

/*
 * Note: using adjacent or general sibling selectors combined with
 *       pseudo classes doesn't work in Safari 5.0 and Chrome 12.
 *       See this article for more info and a potential fix:
 *       http://css-tricks.com/webkit-sibling-bug/
 */
.switch-input {
  display: none;
}
.switch-input:checked + .switch-label {
  font-weight: bold;
  color: rgba(0, 0, 0, 0.65);
  text-shadow: 0 1px rgba(255, 255, 255, 0.25);
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 99px;
  /* Note: left: 50% doesn't transition in WebKit */
}

.switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  width: 99px;
  height: 35px;
  background: #65bd63;
  border-radius: 3px;
  background-image: -webkit-linear-gradient(top, #9dd993, #65bd63);
  background-image: -moz-linear-gradient(top, #9dd993, #65bd63);
  background-image: -o-linear-gradient(top, #9dd993, #65bd63);
  background-image: linear-gradient(to bottom, #9dd993, #65bd63);
  -webkit-box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px rgba(255, 255, 255, 0.5), 0 0 2px rgba(0, 0, 0, 0.2);
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
.switch-blue .switch-selection {
  background: #3aa2d0;
  background-image: -webkit-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -moz-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: -o-linear-gradient(top, #4fc9ee, #3aa2d0);
  background-image: linear-gradient(to bottom, #4fc9ee, #3aa2d0);
}
.switch-yellow .switch-selection {
  background: #c4bb61;
  width:99px;
  background-image: -webkit-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: -moz-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: -o-linear-gradient(top, #e0dd94, #c4bb61);
  background-image: linear-gradient(to bottom, #e0dd94, #c4bb61);
}
.purple-gradient {
    background: -webkit-linear-gradient(left, #544195 0%, #832E68 100%) !important;
    background: linear-gradient(to left, #544195 0%, #832E68 100%) !important;
    background: -moz-linear-gradient(left, #544195 0%, #832E68 100%) !important;
    padding: 50px 0px 25px;
    margin-top: 86px;
	margin-top: 4px;
}
