<div class="loader-bg align-items-center" *ngIf="loadingData">
    <!--    <div class="loader">-->
    <!--        Loading-->
    <!--        <span></span>-->
    <!--    </div>-->
    <div class="loader2"><img src="assets/images/loader.gif" width="300px"></div>
</div>
<!--<section class="purple-gradient">-->
<!--  <div class="container" *ngIf="paymentShow==false">-->
<!--  <div class="switch switch-yellow">-->
<!--      <input type="radio" class="switch-input" name="view3" value="week3" id="week3" checked>-->
<!--      <label for="week3" class="switch-label switch-label-off" (click)="showpriceimg()">Images</label>-->
<!--      <input type="radio" class="switch-input" name="view3" value="month3" id="month3">-->
<!--      <label for="month3" class="switch-label switch-label-on" (click)="showpricefoot()">Footages</label>-->
<!--      <span class="switch-selection"></span>-->
<!--    </div>-->
<!--    <div class="text-white text-center">-->
<!--  &lt;!&ndash;<h1 class="text-white">Images for every project, plans for every budget</h1>-->
<!--  <p>Access over 320 million images with 1,65,000 new images added every day.</p>&ndash;&gt;-->
<!--</div>-->
<!--&lt;!&ndash;<h3 class="text-white pt-5 pb-3">Plans for individuals</h3>&ndash;&gt;-->
<!--<div class="row justify-content-center" *ngIf="pimages">-->
<!--  <div class="col-lg-4 col-md-5 col-sm-5">-->
<!--  -->
<!--  <div class="card">-->
<!--    <div class="card-header text-center">-->
<!--     <h3 class="text-center" style="color:#000;">Subscriptions Plans</h3>-->
<!--     <p class="mb-1" style="color:#000;">Royalty Free Images</p>-->
<!--   </div>-->
<!--   <div class="card-body">-->
<!--    <form [formGroup]="subscriptionmonthlyform" (ngSubmit)="onSubmitmonthsubscription()" *ngIf="monthly">-->
<!--     <div class="row">-->
<!--      <div class="col-md-12">-->
<!--      <h5 class='text-center'>Monthly Packs</h5>-->
<!--     -->
<!--       <table class="table table-hover">-->
<!--         -->
<!--         <tbody>-->
<!--           <tr *ngFor="let pack of plansData.monthly_pack;let i= index">-->
<!--             <td class="border-top-0">-->
<!--               -->
<!--               <label class="custmLable">-->
<!--                <span class="float-left">-->
<!--                    <b class="f-14">{{pack.package_name}}</b>-->
<!--                </span>-->
<!--                <span class="float-right">-->
<!--                    <b class="f-14">INR {{pack.package_price}}</b>-->
<!--				</span>-->
<!--              <input  type="radio" name="submplan"  formControlName="submplan" value="{{pack.package_id}}" [ngClass]="{ 'is-invalid': submitted && h.submplan.errors }">-->
<!--              <span class="checkmark"></span>-->
<!--            </label>-->
<!--             </td>-->
<!--            -->
<!--           </tr>-->
<!--         </tbody>-->
<!--       </table>-->
<!--       -->
<!--     </div>-->
<!--     -->
<!--   </div>-->
<!--   <div class="form-group pt-3 m-auto col-lg-6 col-md-6 col-sm-6">-->
<!--                             <button type="submit" class="btn btn-danger btn-rounded pl-4 pr-4 btn-block text-white p-3 text-uppercase">Buy Now</button>   -->
<!--                             <p class="pt-3"><a  (click)="showprice()" style="color:#000;">See Annual Pricing</a></p>            -->
<!--     </div>-->
<!--     </form>-->
<!--     <form [formGroup]="subscriptionform" (ngSubmit)="onSubmitsubscription()" *ngIf="yearly">-->
<!--     <div class="row">-->
<!--      <div class="col-md-12">-->
<!--     		<h5 class='text-center' >Annual Packs</h5>-->
<!--       <table class="table table-hover">-->
<!--         -->
<!--         <tbody>-->
<!--           <tr *ngFor="let pack of plansData.yearly_pack;let i= index">-->
<!--             <td class="border-top-0">-->
<!--               -->
<!--               <label class="custmLable">-->
<!--                <span class="float-left">-->
<!--                    <b class="f-14">{{pack.package_name}}</b>-->
<!--                </span>-->
<!--                <span class="float-right">-->
<!--                    <b class="f-14">INR {{pack.package_price}}</b>-->
<!--				</span>-->
<!--              <input  type="radio" name="subplan"  formControlName="subplan" value="{{pack.package_id}}" [ngClass]="{ 'is-invalid': submitted && h.subplan.errors }">-->
<!--              <span class="checkmark"></span>-->
<!--            </label>-->
<!--             </td>-->
<!--            -->
<!--           </tr>-->
<!--         </tbody>-->
<!--       </table>-->
<!--       -->
<!--     </div>-->
<!--     -->
<!--   </div>-->
<!--   <div class="form-group pt-3 m-auto col-lg-6 col-md-6 col-sm-6">-->
<!--                             <button type="submit" class="btn btn-danger btn-rounded pl-4 pr-4 btn-block text-white p-3 text-uppercase">Buy Now</button>   -->
<!--                             <p class="pt-3"><a (click)="showprice()" style="color:#000;">See Monthly Pricing</a></p>            -->
<!--     </div>-->
<!--     </form>-->
<!--   </div>-->
<!--</div>-->
<!--  </div>-->
<!--  <div class="col-lg-4 col-md-5 col-sm-5 pl-0 pr-0">-->
<!--  -->
<!--  <div class="card">-->
<!--    <div class="card-header text-center">-->
<!--     <h3 class="text-center " style="color:#000;">Download Packs</h3>-->
<!--     <p class="mb-1" style="color:#000;">Royalty Free Images</p>-->
<!--   </div>-->
<!--   <div class="card-body">-->
<!--     <div class="row">-->
<!--     <form [formGroup]="planform" (ngSubmit)="onSubmit()" class="col-md-12">-->
<!--     <h5 class="text-center">Download Within A Year</h5>-->
<!--       <table class="table table-hover">-->
<!--         -->
<!--         <tbody>-->
<!--           <tr *ngFor="let pack of plansData.download_pack;let i= index">-->
<!--             <td class="border-top-0">-->
<!--               <label class="custmLable">-->
<!--                <span class="float-left">-->
<!--                    <b class="f-14">{{pack.package_name}}</b><small></small>-->
<!--                </span>-->
<!--                <span class="float-right">-->
<!--                    <b class="f-14">INR {{pack.package_price}}</b>-->
<!--                </span>-->
<!--                  <input type="radio"  type="radio" name="plan"  formControlName="plan" value="{{pack.package_id}}" [ngClass]="{ 'is-invalid': submitted && f.plan.errors }">-->
<!--                  <span class="checkmark"></span>-->
<!--               </label>-->
<!--             </td>-->
<!--            -->
<!--           </tr>-->
<!--       </tbody>-->
<!--       </table>-->
<!--       <div class="form-group pt-3 m-auto col-lg-6 col-md-6 col-sm-6">-->
<!-- <button type="submit" class="btn btn-danger btn-rounded pl-4 pr-4 btn-block text-white p-3 text-uppercase">Buy Now</button>-->
<!-- <p class="pt-3"><a style='color:#fff;'>See Monthly Pricing</a></p>  -->
<!--   </div>-->
<!--   	 </form>-->
<!-- </div>-->
<!--   </div>-->
<!--</div>-->
<!--  </div>-->
<!--</div>-->
<!--<div class="row justify-content-center" *ngIf="pfootages">-->
<!--	 <div class="col-lg-4 col-md-5 col-sm-5">-->
<!--  -->
<!--  <div class="card">-->
<!--    <div class="card-header text-center">-->
<!--     <h3 class="text-center" style="color:#000;">HD(1080) Footages</h3>-->
<!--   </div>-->
<!--   <div class="card-body">-->
<!--    <form [formGroup]="footagehdform" (ngSubmit)="onSubmitfoothd()">-->
<!--     <div class="row" style="margin-top: -21px;">-->
<!--      <div class="col-md-12">-->
<!--      -->
<!--       <table class="table">-->
<!--         -->
<!--         <tbody>-->
<!--         <tr>-->
<!--             <td style="margin:3px 9px 5px 2px;" >-->
<!--                                    <span class="row" style="color:#938b76;font-weight: 700;">-->
<!--                                        <span class="col-md-6 text-right">-->
<!--                                            Individual-->
<!--                                        </span>-->
<!--                                        <span class="col-md-6 text-left">-->
<!--                                        &nbsp;&nbsp;&nbsp;INR 11500 -->
<!--                                        </span>-->
<!--                                    </span>-->
<!--              </td>-->
<!--         </tr>-->
<!--           <tr *ngFor="let pack of footageplansData.download_pack.HD;let i= index">-->
<!--             <td class="border-top-0">-->
<!--               -->
<!--               <label class="custmLable">-->
<!--                <span class="float-left">-->
<!--                    <b class="f-14">{{pack.package_name}}</b>-->
<!--                </span>-->
<!--                <span class="float-right">-->
<!--                    <b class="f-14">INR {{pack.package_price}}</b>-->
<!--				</span>-->
<!--              <input  type="radio" name="hdfplan"  formControlName="hdfplan" value="{{pack.package_id}}" [ngClass]="{ 'is-invalid': submitted && h.submplan.errors }">-->
<!--              <span class="checkmark"></span>-->
<!--            </label>-->
<!--             </td>-->
<!--            -->
<!--           </tr>-->
<!--         </tbody>-->
<!--       </table>-->
<!--       -->
<!--     </div>-->
<!--     -->
<!--   </div>-->
<!--   <div class="form-group pt-3 m-auto col-lg-6 col-md-6 col-sm-6">-->
<!--                             <button type="submit" class="btn btn-danger btn-rounded pl-4 pr-4 btn-block text-white p-3 text-uppercase">Buy Now</button>     </div>-->
<!--     </form>-->
<!--     -->
<!--   </div>-->
<!--</div>-->
<!--  </div>-->
<!--  <div class="col-lg-4 col-md-5 col-sm-5 pl-0 pr-0">-->
<!--  -->
<!--  <div class="card">-->
<!--    <div class="card-header text-center">-->
<!--     <h3 class="text-center " style="color:#000;">4K Footages</h3>-->
<!--   </div>-->
<!--   <div class="card-body">-->
<!--     <div class="row" style="margin-top: -21px;">-->
<!--     <form [formGroup]="footagekform" (ngSubmit)="onSubmitfk()" class="col-md-12">-->
<!--       <table class="table ">-->
<!--         -->
<!--         <tbody>-->
<!--         <tr>-->
<!--            <td style="margin:3px 9px 5px 2px;" >-->
<!--                            <span class="row" style="color:#938b76;font-weight: 700;">-->
<!--                                <span class="col-md-6 text-right">-->
<!--                                	Individual-->
<!--                                </span>-->
<!--                                <span class="col-md-6 text-left">-->
<!--                                	&nbsp;&nbsp;&nbsp;INR 16500 -->
<!--                                </span>-->
<!--                            </span>-->
<!--            </td>-->
<!--         </tr>-->
<!--           <tr *ngFor="let pack of footageplansData.download_pack['4K'];let i= index">-->
<!--           -->
<!--           -->
<!--           -->
<!--        -->
<!--           -->
<!--           -->
<!--           -->
<!--             <td class="border-top-0">-->
<!--               <label class="custmLable">-->
<!--                <span class="float-left">-->
<!--                    <b class="f-14">{{pack.package_name}}</b><small></small>-->
<!--                </span>-->
<!--                <span class="float-right">-->
<!--                    <b class="f-14">INR {{pack.package_price}}</b>-->
<!--                </span>-->
<!--                  <input type="radio"  type="radio" name="kfplan"  formControlName="kfplan" value="{{pack.package_id}}" [ngClass]="{ 'is-invalid': submitted && f.plan.errors }">-->
<!--                  <span class="checkmark"></span>-->
<!--               </label>-->
<!--             </td>-->
<!--            -->
<!--           </tr>-->
<!--            -->
<!--           -->
<!--           -->
<!--         </tbody>-->
<!--       </table>-->
<!--       <div class="form-group pt-3 m-auto col-lg-6 col-md-6 col-sm-6">-->
<!-- <button type="submit" class="btn btn-danger btn-rounded pl-4 pr-4 btn-block text-white p-3 text-uppercase">Buy Now</button>-->
<!--   </div>-->
<!--   	 </form>-->
<!-- </div>-->
<!--   </div>-->
<!--</div>-->
<!--  </div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="container"  *ngIf="paymentShow">-->
<!--        <div class="row justify-content-center">-->
<!--            &lt;!&ndash;Monthly packs!&ndash;&gt;-->
<!--            <div class="col-md-3 pricing hvr-float" style="height: 377px;">-->
<!--                <div class="klausheader" style="height: 110px;">-->
<!--                    <h5>{{selectedPlanType}}</h5>-->
<!--                </div>-->
<!--                <div class="klaus_features skinoneklaus_features">-->
<!--                    <li>{{selectedData.package_name}} => INR {{selectedData.package_price}}</li>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash;End Monthly Packs!&ndash;&gt;-->
<!--            &lt;!&ndash;Annual Packs!&ndash;&gt;-->
<!--            <div class="col-md-3 pricing hvr-float" style="height: 377px;">-->
<!--                <div class="klausheader" style="height: 110px;">-->
<!--                    <h5>Payment Method</h5>-->
<!--                </div>-->
<!--                <div class="klaus_features skinoneklaus_features">-->
<!--                    <div class="text-center m-auto">-->
<!--                        <img src="/assets/images/atom.png" alt="atom" class="mb-3 img-fluid cursor-pointer" (click)="purchagePlanPayment('atom')" width="120">-->
<!--                    </div>-->
<!--                    <div class="text-center m-auto">-->
<!--                        <img src="/assets/images/payu.png" alt="payumoney" class="mb-3 img-fluid cursor-pointer" (click)="purchagePlanPayment('payu')" width="120">-->
<!--                    </div>-->
<!--                    <div class="text-center m-auto">-->
<!--                        <img src="/assets/images/rozorpay.png" alt="Rozorpay" class="mb-3 img-fluid cursor-pointer" (click)="purchagePlanPayment('rozerpay')" width="120">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--            &lt;!&ndash;End Annual Packs!&ndash;&gt;-->
<!--        </div>-->
<!--    </div>-->
<!--</section>-->
<section class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="banner-content text-center">
        <h1>Pricing, made simple.</h1>
        <p>We are a privately owned group offering a variety of services that include,
            <br/>
            stock imagery,stock footage, photography
        </p>
    </div>
</section>
<div class="pt-5 pb-5" style="background: #475057">
    <div class="container" *ngIf="paymentShow==false">
        <div class="col-lg-8 col-md-8 col-sm-10 m-auto">
            <div class="text-center">
                <h2 class="f-36 text-white">OUR PLANS</h2>
                <p class="text-gray">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                    Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                </p>
                <div class="switch switch-yellow">
                    <input type="radio" class="switch-input" name="view3" value="week3" id="week3" checked>
                    <label for="week3" class="switch-label switch-label-off" (click)="showpriceimg()">Images</label>
                    <input type="radio" class="switch-input" name="view3" value="month3" id="month3">
                    <label for="month3" class="switch-label switch-label-on" (click)="showpricefoot()">Footages</label>
                    <span class="switch-selection"></span>
                </div>
            </div>
        </div>

<!--        Images-->
        <div class="pricing-tables attached" *ngIf="pimages">
            <div class="row flex-center">

<!--            Monthly-->

                <div class="col-sm-3 col-md-3">
                    <form [formGroup]="subscriptionmonthlyform" (ngSubmit)="onSubmitmonthsubscription()">
                    <div class="plan  first">
                        <div class="head">
                            <h2>Subscriptions Plans</h2>
                            <h6>Royalty Free Images</h6>
                            <div><span class="text-success f-14">Monthly Packs</span></div>
                        </div>
                        <ul class="item-list">
                            <li *ngFor="let pack of plansData.monthly_pack;let i= index">
                             <span class="float-left">
                             <input  type="radio" name="submplan"  formControlName="submplan" value="{{pack.package_id}}" [ngClass]="{ 'is-invalid': submitted && h.submplan.errors }">
                             </span>
                                <span class="float-left ml-10">  {{pack.package_name}}</span>
                                <span>  {{pack.package_price | currency:'INR':true}} </span>

                            </li>
                        </ul>
                        <button type="submit" class="btn btn-dark">Order Now !</button>
                    </div>
                    </form>
                </div>


<!--            Yearly-->


                <div class="col-sm-3 col-md-3 ">
                    <form [formGroup]="subscriptionform" (ngSubmit)="onSubmitsubscription()">
                    <div class="plan recommended">
                        <div class="head">
                            <h2>Subscriptions Plans</h2>
                            <h6>Royalty Free Images</h6>
                            <div><span class="text-white f-14">Annual Packs</span></div>
                        </div>
                        <ul class="item-list">
                            <li *ngFor="let pack of plansData.yearly_pack;let i= index">
                                <div>
                                    <div class="float-left">
                           <span>
                           <input  type="radio" name="subplan"  formControlName="subplan" value="{{pack.package_id}}" [ngClass]="{ 'is-invalid': submitted && h.subplan.errors }">
                           </span>
                                        <span class="ml-10">  {{pack.package_name}}</span>
                                    </div>
                                    <div><span class=""> {{pack.package_price | currency:'INR':true}} </span>
                                    </div>
                                </div>

                            </li>
                        </ul>
                        <button type="submit" class="btn btn-white">Order Now !</button>
                    </div>
                    </form>
                </div>


<!--            Download-->


                <div class="col-sm-3 col-md-3">
                    <form [formGroup]="planform" (ngSubmit)="onSubmit()" class="col-md-12">
                    <div class="plan last">
                        <div class="head">
                            <h2>Download Packs</h2>
                            <h6>Royalty Free Images</h6>
                            <div><span class="text-success f-14">Download Within A Year</span></div>
                        </div>
                        <ul class="item-list">
                            <li *ngFor="let pack of plansData.download_pack;let i= index">
                     <span class="float-left">
                     <input type="radio"  type="radio" name="plan"  formControlName="plan" value="{{pack.package_id}}" [ngClass]="{ 'is-invalid': submitted && f.plan.errors }">
                     </span>
                                <span class="float-left ml-10">  {{pack.package_name}}</span>
                                <span> {{pack.package_price | currency:'INR':true}} </span>

                            </li>
                        </ul>
                        <button type="submit" class="btn btn-dark">Order Now !</button>
                    </div>
                    </form>
                </div>


            </div>
            <!-- row-->
        </div>
        <div class="pricing-tables attached" *ngIf="pfootages">
            <div class="row flex-center">

<!--            HD Footage-->

                <div class="col-sm-3 col-md-3">
                    <form [formGroup]="footagehdform" (ngSubmit)="onSubmitfoothd()">
                    <div class="plan  first">
                        <div class="head">
                            <h2>HD(1080) Footages</h2>
                        </div>
                        <ul class="item-list">
                            <li>
                                <span class="float-left ml-10">Individual</span>
                                <span> {{"11500" | currency:'INR':true}} </span>
                            </li>
                            <li *ngFor="let pack of footageplansData.download_pack.HD;let i= index">
                             <span class="float-left">
                              <input  type="radio" name="hdfplan"  formControlName="hdfplan" value="{{pack.package_id}}" [ngClass]="{ 'is-invalid': submitted && h.submplan.errors }">

                             </span>
                                <span class="float-left ml-10">  {{pack.package_name}}</span>
                                <span>  {{pack.package_price | currency:'INR':true}} </span>

                            </li>
                        </ul>
                        <button type="submit" class="btn btn-dark">Order Now !</button>
                    </div>
                    </form>
                </div>


<!--            4K Footage-->

                <div class="col-sm-3 col-md-3 ">
                    <form [formGroup]="footagekform" (ngSubmit)="onSubmitfk()" class="col-md-12">
                    <div class="plan recommended">
                        <div class="head">
                            <h2>4K Footages</h2>
                         </div>
                        <ul class="item-list">
                            <li>
                                <span class="float-left ml-10">Individual</span>
                                <span> {{"16500" | currency:'INR':true}}  </span>
                            </li>
                            <li *ngFor="let pack of footageplansData.download_pack['4K'];let i= index">
                                <div>
                                    <div class="float-left">
                           <span>
                            <input type="radio"  type="radio" name="kfplan"  formControlName="kfplan" value="{{pack.package_id}}" [ngClass]="{ 'is-invalid': submitted && f.plan.errors }">
                           </span>
                                        <span class="ml-10">  {{pack.package_name}}</span>
                                    </div>
                                    <div><span class=""> {{pack.package_price | currency:'INR':true}} </span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <button type="submit" class="btn btn-white">Order Now !</button>
                    </div>
                    </form>
                </div>

            </div>
            <!-- row-->
        </div>
    </div>
    <div class="container"  *ngIf="paymentShow">
        <div class="row justify-content-center">
            <!--Monthly packs!-->
            <div class="col-md-3 plan  hvr-float" style="height: 377px;">
                <div class="head" style="height: 110px;">
                    <h5>{{selectedPlanType}}</h5>
                </div>
                <div>{{selectedData.package_name}} => {{selectedData.package_price | currency:'INR':true}} </div>
                <div>
                    <button type="button" (click)="changePlan()" style="margin-top:130px;"  class="btn btn-dark">Change Plan</button>
                </div>
            </div>
            <!--End Monthly Packs!-->

            <!--Annual Packs!-->
            <div class="col-md-3 plan recommended hvr-float" style="height: 377px;">
                <div class="head" >
                    <h5>Payment Method</h5>
                </div>

                <div class="klaus_features skinoneklaus_features">
                    <div class="text-center mt-3">
                        <img src="/assets/images/atom.png" alt="atom" class="mb-3 img-fluid cursor-pointer" (click)="purchagePlanPayment('atom')" width="120">
                    </div>
                    <div class="text-center m-auto">
                        <img src="/assets/images/payu.png" alt="payumoney" class="mb-3 img-fluid cursor-pointer" (click)="purchagePlanPayment('payu')" width="120">
                    </div>
                    <div class="text-center m-auto">
                        <img src="/assets/images/rozorpay.png" alt="Rozorpay" class="mb-3 img-fluid cursor-pointer" (click)="purchagePlanPayment('rozerpay')" width="120">
                    </div>
                </div>

            </div>
            <!--End Annual Packs!-->

        </div>

    </div>
    <ng-container *ngIf="showloginPopup">
        <app-login [openLoginPopup]="showloginPopup" (closeLoginPopup)="hideLoginPopup($event)"></app-login>
    </ng-container>
