<section class="mt-5">

    <div class="container">

        <div class="col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-10 offset-sm-1">

            <div class="card z-depth-0">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="p-5 text-center">
                            <i class="fa fa-chek-circle-o text-success" aria-hidden="true"></i>
                            <img src="assets/images/check.png">
                            <div class="clearfix"></div>
                            <h3 class="f-20 mb-3 text-success">ORDER CONFIRMED</h3>
                            <p>Thank you,your confirmation has been successful and your booking is now confirmed.</p>

                            <div class="mt-5 pt-5">
                                <button type="button" class="btn btn-success btn-block text-white  p-3 text-uppercase"><strong>Go to your Order
                                </strong></button>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="bg-light">
                            <div class="p-3">

                                <p class="f-20 mb-0"><b>Illustration in Sketch or AI</b></p>
                                <p><small>Includes: Sketch,PSD,PNG,PDF,SVG,AI</small></p>

                                <ul class="pt-3">
                                    <li class="mb-3">Order ID :IC-1234,IC-5678</li>
                                    <li class="mb-3">Transaction ID :12345</li>
                                </ul>
                            </div>

                            <table class="table mb-0">

                                <tbody>
                                <tr>
                                    <td>
                                        <button class="btn btn-default pl-5 pr-5">*3</button>
                                    </td>
                                    <td>$36.00</td>
                                </tr>
                                <tr>
                                    <td>
                                        <p><b>Sub Total</b></p>
                                    </td>
                                    <td><b>$36.00</b></td>
                                </tr>

                                <tr>
                                    <td>
                                        <p><b>Charges</b></p>
                                    </td>
                                    <td><b>$6.00</b></td>
                                </tr>
                                <tr>
                                    <td>
                                        <h4><b>Total</b></h4>
                                    </td>
                                    <td><h4><b>$36.00</b></h4></td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>


                </div>


            </div>




            <div class="card z-depth-0 mt-3">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="p-5">

                            <h3 class="f-20 mb-3 text-success"><img src="./Image Footage_files/check.png"> ORDER CONFIRMED</h3>
                            <p class="text-success">Thank you,your confirmation has been successful and your booking is now confirmed.A confirmation email has been sent to <b class="text-success">jeo@gmail.com</b></p>


                            <p class="f-20"><b>Order Details</b> </p>

                            <div class="thumbnail border-1">

                                <table class="table mb-0 border-0">

                                    <tbody>
                                    <tr>
                                        <td class="text-right">
                                            <span class="text-success">Product  :</span>
                                        </td>
                                        <td>Illustration in Sketch or AI</td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">
                                            <span class="text-success">Quantity :</span>
                                        </td>
                                        <td>2</td>
                                    </tr>

                                    <tr>
                                        <td class="text-right">
                                            <span class="text-success">Order ID :</span>
                                        </td>
                                        <td>IC-1234,IC-5678</td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">
                                            <span class="text-success">Transaction ID :</span>
                                        </td>
                                        <td>12345</td>
                                    </tr>

                                    <tr>
                                        <td class="text-right">
                                            <span class="text-success">Company Name  :</span>
                                        </td>
                                        <td>webtechssolutions</td>
                                    </tr>

                                    <tr>
                                        <td class="text-right">
                                            <span class="text-success">Total Price :</span>
                                        </td>
                                        <td>$100</td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>

                        </div>
                    </div>



                </div>


            </div>






        </div>

        <div class="clearfix"></div>
        <div class="col-md-5 col-sm-5 col-lg-5 m-auto">
            <div class="card z-depth-0 mt-3">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="p-3">
                            <div class="text-center">
                                <img src="./Image Footage_files/check.png">
                                <h3 class="f-20 mb-3 text-success"> ORDER CONFIRMED</h3>
                                <p>Thank you,your confirmation has been successful and your booking is now confirmed.A confirmation email has been sent to <b class="text-success">jeo@gmail.com</b></p>

                            </div>
                            <p class="f-16 pt-3"><b>Order Details</b> </p>
                            <hr>
                            <div class="thumbnail">

                                <table class="table mb-0 border-0">

                                    <tbody>
                                    <tr>
                                        <td class="text-right">
                                            <span><b>Product  :</b></span>
                                        </td>
                                        <td>Illustration in Sketch or AI</td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">
                                            <span><b>Quantity :</b></span>
                                        </td>
                                        <td>2</td>
                                    </tr>

                                    <tr>
                                        <td class="text-right">
                                            <span><b>Order ID :</b></span>
                                        </td>
                                        <td>IC-1234,IC-5678</td>
                                    </tr>
                                    <tr>
                                        <td class="text-right">
                                            <span><b>Transaction ID :</b></span>
                                        </td>
                                        <td>12345</td>
                                    </tr>

                                    <tr>
                                        <td class="text-right">
                                            <span><b>Company Name  :</b></span>
                                        </td>
                                        <td>webtechssolutions</td>
                                    </tr>

                                    <tr>
                                        <td class="text-right">
                                            <span><b>Total Price :</b></span>
                                        </td>
                                        <td>$100</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                        </div>

                    </div>
                </div>



            </div>


        </div>



    </div>
</section>
