<div class="loader-bg" *ngIf="loadingData">
    <!--    <div class="loader">-->
    <!--        Loading-->
    <!--        <span></span>-->
    <!--    </div>-->
    <div class="loader2"><img src="assets/images/loader.gif" width="500px"></div>
</div>
<section>
 <div class="container">
          <div class="card pb-3 shadow-sm" *ngIf="wishListDataItems.length>0">
            <form method="#">
              <div class="table-responsive">
                <table class="table cart-table">
                  <tbody>
                  <tr *ngFor="let wishList of wishListDataItems;let i= index">
                      <td width="3%"> <div class="custom-control custom-checkbox">
<!--                          <input type="checkbox" class="custom-control-input" id=$index name="'example'+i">-->
<!--                          <label class="custom-control-label" for=$index></label>-->
                      </div>
                      </td>
                      <td width="25%" align="center">
                          <div class="product-info">
                              ( {{wishList.product.product_id}} )<br/>
                              <a href="javascript:void(0)" *ngIf="wishList.product_web=='2'" >

                                  <img src="{{wishList.product_thumb}}" alt="product-img" />
                              </a>
                              <a href="javascript:void(0)" *ngIf="wishList.product_web=='3'" >
                                  <video  width="200" height="150" [poster]="'https://p5iconsp.s3-accelerate.amazonaws.com/'+wishList.product_main_footage" controls controlsList="nodownload" onmouseover="this.play()" onmouseout="this.load()">
                                      <source src="{{wishList.product_thumb}}" type="video/mp4">
                                      Your browser does not support the video tag.
                                  </video>
                              </a>

                          </div>

                      </td>

                      <td width="50%">
                          <p class="mb-1 text-black f-18"><strong>{{wishList.product_name}}</strong></p>
                          <p class="mb-1 f-16"><strong>Size:</strong>  {{wishList.standard_size}}</p>
                          <p class="mb-1">{{wishList.product_desc}}</p>

                          <div class="clearfix"></div>
                          <div class="mt-2">
                              <a  class="btn btn-danger btn-sm f-12" (click)="removeProductFromCart(wishList)"><i class="fa fa-times-circle"></i> Remove</a>
                                <a  class="btn btn-success btn-sm f-12 text-white ml-1" (click)="addtolightbox(wishList)"><i class="fa fa-heart"></i> Move to Wish list</a>
                          </div>

                      </td>
                      <td width="25%" align="right"><p class="f-18 text-black"><strong>{{wishList.total | number }} INR</strong></p>

                      </td>
                  </tr>

                  </tbody>
                </table>
              </div>

              <hr>
            
                <div class="col-12">
                <div class="p-3 row">
                  <div class="col-md-4 col-sm-4 col-lg-4">
                  <!--<a href="javascript:void();" id="promocode" (click)="promocode()">Have a promo code ?</a>-->
                  <div class="show-promocode" *ngIf="promocodeflag">
                  <div class="row">
                    <div class="col-md-8 col-sm-8 col-lg-8">                        
                      <input type="text" name="" class="form-control" placeholder="Coupon Code">
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4 pl-1">                        
                      <button class="btn btn-success">Apply</button>
                    </div>
                  </div>
                  </div>
                </div>
                 <div class="col-md-8 col-sm-8 col-lg-8">
                  <ul class="list-unstyled text-right text-black f-18 text-black">
                    <li class="pb-3 fw-6 ">Sub Total <span class="d-inline-block w-100px">{{showTotalPrice()}} INR</span></li>
                    <li class="pb-5 fw-6 ">Taxes <span class="d-inline-block w-100px">{{showTax()}} INR</span></li>
                    <li class="pb-2 fw-8 f-22">Grand Total <span class="d-inline-block w-100px">{{showTotalPrice() + showTax()}} INR</span></li>
                  </ul>
                  </div>
                  </div>
                  <div class="my-3">
                   <hr>
              <a href="javascript:void(0)"  class="btn btn-success float-right pt-3 pb-3 pl-5 pr-5 f-20 text-uppercase" (click)="redirectToCheckout()"><strong>Checkout</strong></a>
              </div>
                </div>
              
             
            </form>
          </div>
     <div class="card pb-3 shadow-sm" *ngIf="wishListDataItems.length==0">
        Your Cart is Empty.
     </div>
  </div>
</section>
