body{ font-weight:normal; background: #f1f5f6 !important;}
#mainNav{background:#000;}
hr {
    border-top: 1px solid #ddd!important;
}
.btn {
    border-radius: 30px;
}
.btn-danger {
    color: #fff;
    background-color: #f23a2e;
    border-color: #f23a2e;
}
.btn-success {
    color: #212529;
    background-color: #8bc34a;
    border-color: #8bc34a;
}
