<section>
 <div class="container">
          <div class="card pb-3 shadow-sm" *ngIf="wishListDataItems.length>0">
            <form method="#">
              <div class="table-responsive">
                <table class="table cart-table">
                  <tbody>
                    <tr *ngFor="let wishList of wishListDataItems;let i= index">
                      <td width="25%" align="center">
                          <div class="product-info">
                              <a href="javascript:void(0)">
                                <img src="{{wishList.product_thumb}}" alt="product-img" />
                              </a>
                              <div class="pt-3 cart_option">
<!--                                  <a href="javascript:void(0)" class="f-22"><i class="fa fa-plus-circle"></i></a>-->
                                  <a href="javascript:void(0)"  class="f-22 pl-1" (click)="removeProductFromCart(wishList)"><i class="fa fa-times-circle"></i></a>
                              </div>
                          </div>                       
                      </td>                      
                      <td width="50%">
                         <p class="mb-1 text-black f-18"><strong>{{wishList.product_name}}</strong></p>
                         <p class="mb-1 f-16"><strong>Size:</strong>  {{wishList.standard_size}}</p>
                         <p class="mb-1">{{wishList.product_desc}}</p>
                      </td>
                       <td width="25%" align="right"><p class="f-18 text-black"><strong>{{wishList.total}} INR</strong></p>
                       </td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <hr>
            
                <div class="col-12">
                <div class="p-3 row">
                  <div class="col-md-4 col-sm-4 col-lg-4">
                  <a href="javascript:void();" id="promocode">Have a promo code ?</a>
                  <div class=" show-promocode">
                  <div class="row">
                    <div class="col-md-8 col-sm-8 col-lg-8">                        
                      <input type="text" name="" class="form-control" placeholder="Coupon Code">
                    </div>
                    <div class="col-md-4 col-sm-4 col-lg-4 pl-1">                        
                      <button class="btn btn-success">Apply</button>
                    </div>
                  </div>
                  </div>
                </div>
                 <div class="col-md-8 col-sm-8 col-lg-8">
                  <ul class="list-unstyled text-right text-black f-18 text-black">
                    <li class="pb-3 fw-6 ">Sub Total <span class="d-inline-block w-100px">{{showTotalPrice()}} INR</span></li>
                    <li class="pb-5 fw-6 ">Taxes <span class="d-inline-block w-100px">10.00 INR</span></li>
                    <li class="pb-2 fw-8 f-22">Grand Total <span class="d-inline-block w-100px">{{showTotalPrice() + 10}} INR</span></li>
                  </ul>
                  </div>
                  </div>
                  <div class="my-3">
                   <hr>
              <a href="javascript:void(0)"  class="btn btn-success float-right pt-3 pb-3 pl-5 pr-5 f-20 text-uppercase" (click)="redirectToCheckout()"><strong>Checkout</strong></a>
              </div>
                </div>
              
             
            </form>
          </div>
     <div class="card pb-3 shadow-sm" *ngIf="wishListDataItems.length==0">
        Your Cart is Empty.
     </div>
  </div>
</section>