@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
.banner-content{
	margin-top:-29px;
}
}
#mainNav{padding-bottom: 0px;padding-top: 0px;background: #000 !important;}
.banner-area {
    min-height: 250px;
}