
<section class="banner-area relative">
    <div class="overlay overlay-bg"></div>
    <div class="banner-content text-center">
      <h1>About Image Footage</h1>
      <p>We are a privately owned group offering a variety of services that include,
        <br />
         stock imagery,stock footage, photography
      </p>
    </div>
  </section>
  <section class="pt-5 f-3 l-space  f-16 text-black bg-white">
  
      <div class="container">
      
      <p class="">We are a privately owned group offering a variety of services that include stock imagery,stock footage, photography, image rendering, computer graphics (CG), 3D, and print publishing.</p>
  <p>
  The companies within the group cater to the ever evolving visual content and technology demands of leading corporationscreative agencies, and media organisations in the Asia Pacific & Middle Eastern Regions.With our networking capabilities, complementary resources, and the collaborative power to penetrate new markets,
  </p>
  <p>
  we add immense value to our affiliate businesses and clients. Our global creative network combines an array of industryprofessionals and supply of visual content to leading media and marketing enterprises across the Asia Pacific and the Middle East.</p>
  <p>
  
  Speed and technology are critical to our operations as we make things happen for you as a creative partner.</p>
      
      </div>
    </section>
    
      