<!-- 
    <div class="loader-bg align-items-center" *ngIf="loadingData">
    <!--    <div class="loader">-->
    <!--        Loading-->
    <!--        <span></span>-->
    <!--    </div>-->
    <!-- <div class="loader2"><img src="assets/images/loader.gif" width="300px"></div>
</div> -->
      
      <div class="clearfix"></div>
      <div class="video-background-holder">
         <div class="video-background-overlay"></div>
         <video playsinline="playsinline" autoplay="autoplay" [muted]="'muted'" loop="loop" #htmlVideoElement onmouseover="this.play()"   onmouseout="this.load()">
            <source src="https://imagefootage.com/video/VIDEO_2_25MB_home.mp4" type="video/mp4">
         </video>
         <div class="row justify-content-center align-items-center">
            <div class="video-background-content container">
               <div class="col-md-9 col-sm-10 col-lg-8 m-auto">
                  <div class="text-white">
                     <h1 class="display-4"><strong>Awesome Content.Amazing Deals<br>
                        Inspired storytelling</strong>
                     </h1>
                     <form class="search_m mt-3">
                        <div class="input-group search-bar">
                           <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Your search for creative stock assets ends here..">
                           <i class="fa fa-search text-gray"></i>
                           <div class="input-group-btn">
                              <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Photos + Videos
                              </button>
                              <div class="dropdown-menu">
                                 <a class="dropdown-item" href="javascript:void()">Photos + Videos</a>
                                 <a class="dropdown-item" href="javascript:void()"><i class=""></i> Photos Only</a>
                                 <a class="dropdown-item" href="javascript:void()">Videos Only</a>
                              </div>
                           </div>
                        </div>
                     </form>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="site-wrap">
         <main class="main-content mt-3">
               <div class="container mt-3">
                  <h2 class="text-white f-28">Popular Collections</h2>
                  <p class="text-white f-18">See What's trending...</p>
                  <div id="myCarousel" class="carousel slide popularcar">
                     <ul class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                     </ul>
                     <!-- The slideshow -->
                     <div class="carousel-inner">
                        <div class="carousel-item active">
                           <div class="row">
                              <div class="col-lg-4 col-md-4 col-sm-4 col-12 mb-3 pl-10 pr-10">
                                 <div class="card popularCate">
                                    <a href="#">
                                    <img src="https://mh-1-rest.panthermedia.net/media/no-wm/3ea351649b648d4803111496120ced56be7b5988/0028000000/28302000/28302926_detail.jpg" alt="Card image">
                                    <h3>Covid 19</h3>
                                    <div class="popularOverlay"></div>
                                 </a>
                                 </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-12 mb-3 pl-10 pr-10">
                                 <div class="card popularCate">
                                    <img src="https://mh-1-rest.panthermedia.net/media/no-wm/3ea351649b648d4803111496120ced56be7b5988/0028000000/28302000/28302926_detail.jpg" alt="Card image">
                                    <h3>Covid 19</h3>
                                    <div class="popularOverlay"></div>
                                 </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-12 mb-3 pl-10 pr-10">
                                 <div class="card popularCate">
                                    <img src="https://mh-1-rest.panthermedia.net/media/no-wm/3ea351649b648d4803111496120ced56be7b5988/0028000000/28302000/28302926_detail.jpg" alt="Card image">
                                    <h3>Covid 19</h3>
                                    <div class="popularOverlay"></div>
                                 </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-12 mb-3 pl-10 pr-10">
                                 <div class="card popularCate">
                                    <img  src="https://mh-1-rest.panthermedia.net/media/no-wm/3ea351649b648d4803111496120ced56be7b5988/0028000000/28302000/28302926_detail.jpg" alt="Card image">
                                    <h3>Covid 19</h3>
                                    <div class="popularOverlay"></div>
                                 </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-12 mb-3 pl-10 pr-10">
                                 <div class="card popularCate">
                                    <img  src="https://mh-1-rest.panthermedia.net/media/no-wm/3ea351649b648d4803111496120ced56be7b5988/0028000000/28302000/28302926_detail.jpg" alt="Card image">
                                    <h3>Covid 19</h3>
                                    <div class="popularOverlay"></div>
                                 </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-12 mb-3 pl-10 pr-10">
                                 <div class="card popularCate">
                                    <img  src="https://mh-1-rest.panthermedia.net/media/no-wm/3ea351649b648d4803111496120ced56be7b5988/0028000000/28302000/28302926_detail.jpg" alt="Card image">
                                    <h3>Covid 19</h3>
                                    <div class="popularOverlay"></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                           <div class="row">
                              <div class="col-lg-4 col-md-4 col-sm-4 col-12 mb-3 pl-10 pr-10">
                                 <div class="card popularCate">
                                    <a href="#">
                                    <img src="https://mh-1-rest.panthermedia.net/media/no-wm/3ea351649b648d4803111496120ced56be7b5988/0028000000/28302000/28302926_detail.jpg" alt="Card image">
                                    <h3>Covid 19</h3>
                                    <div class="popularOverlay"></div>
                                 </a>
                                 </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-12 mb-3 pl-10 pr-10">
                                 <div class="card popularCate">
                                    <img src="https://mh-1-rest.panthermedia.net/media/no-wm/3ea351649b648d4803111496120ced56be7b5988/0028000000/28302000/28302926_detail.jpg" alt="Card image">
                                    <h3>Covid 19</h3>
                                    <div class="popularOverlay"></div>
                                 </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-12 mb-3 pl-10 pr-10">
                                 <div class="card popularCate">
                                    <img src="https://mh-1-rest.panthermedia.net/media/no-wm/3ea351649b648d4803111496120ced56be7b5988/0028000000/28302000/28302926_detail.jpg" alt="Card image">
                                    <h3>Covid 19</h3>
                                    <div class="popularOverlay"></div>
                                 </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-12 mb-3 pl-10 pr-10">
                                 <div class="card popularCate">
                                    <img  src="images/img_9.jpg" alt="Card image">
                                    <h3>Covid 19</h3>
                                    <div class="popularOverlay"></div>
                                 </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-12 mb-3 pl-10 pr-10">
                                 <div class="card popularCate">
                                    <img  src="https://mh-1-rest.panthermedia.net/media/no-wm/3ea351649b648d4803111496120ced56be7b5988/0028000000/28302000/28302926_detail.jpg" alt="Card image">
                                    <h3>Covid 19</h3>
                                    <div class="popularOverlay"></div>
                                 </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-12 mb-3 pl-10 pr-10">
                                 <div class="card popularCate">
                                    <img  src="https://mh-1-rest.panthermedia.net/media/no-wm/3ea351649b648d4803111496120ced56be7b5988/0028000000/28302000/28302926_detail.jpg" alt="Card image">
                                    <h3>Covid 19</h3>
                                    <div class="popularOverlay"></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                              <div class="col-lg-4 col-md-4 col-sm-4 col-12 mb-3 pl-10 pr-10">
                                 <div class="card popularCate">
                                    <a href="#">
                                    <img src="https://mh-1-rest.panthermedia.net/media/no-wm/3ea351649b648d4803111496120ced56be7b5988/0028000000/28302000/28302926_detail.jpg" alt="Card image">
                                    <h3>Covid 19</h3>
                                    <div class="popularOverlay"></div>
                                 </a>
                                 </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-12 mb-3 pl-10 pr-10">
                                 <div class="card popularCate">
                                    <img src="https://mh-1-rest.panthermedia.net/media/no-wm/3ea351649b648d4803111496120ced56be7b5988/0028000000/28302000/28302926_detail.jpg" alt="Card image">
                                    <h3>Covid 19</h3>
                                    <div class="popularOverlay"></div>
                                 </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-12 mb-3 pl-10 pr-10">
                                 <div class="card popularCate">
                                    <img src="https://mh-1-rest.panthermedia.net/media/no-wm/3ea351649b648d4803111496120ced56be7b5988/0028000000/28302000/28302926_detail.jpg" alt="Card image">
                                    <h3>Covid 19</h3>
                                    <div class="popularOverlay"></div>
                                 </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-12 mb-3 pl-10 pr-10">
                                 <div class="card popularCate">
                                    <img  src="https://mh-1-rest.panthermedia.net/media/no-wm/3ea351649b648d4803111496120ced56be7b5988/0028000000/28302000/28302926_detail.jpg" alt="Card image">
                                    <h3>Covid 19</h3>
                                    <div class="popularOverlay"></div>
                                 </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-12 mb-3 pl-10 pr-10">
                                 <div class="card popularCate">
                                    <img  src="https://mh-1-rest.panthermedia.net/media/no-wm/3ea351649b648d4803111496120ced56be7b5988/0028000000/28302000/28302926_detail.jpg" alt="Card image">
                                    <h3>Covid 19</h3>
                                    <div class="popularOverlay"></div>
                                 </div>
                              </div>
                              <div class="col-lg-4 col-md-4 col-sm-4 col-12 mb-3 pl-10 pr-10">
                                 <div class="card popularCate">
                                    <img  src="https://mh-1-rest.panthermedia.net/media/no-wm/3ea351649b648d4803111496120ced56be7b5988/0028000000/28302000/28302926_detail.jpg" alt="Card image">
                                    <h3>Covid 19</h3>
                                    <div class="popularOverlay"></div>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>



                <div class="container mt-5 pt-3">


                  <div class="takeAlook">
                       <div class="col-lg-6 col-md-6 col-sm-7 col-12 pl-0">
                          <div class="takeAlookDiv">
                             <h3>The Earth is healing</h3>
                             <p>amidst the pandemic</p>
                             <button class="btn btn-success">TAKE A LOOK</button>
                          </div>
                       </div>
                  </div>
                    
              
               </div>
           
           
               <div class="container mt-5 pt-3">
                <h3  class="text-white f-28">Our Footage Specials</h3>
              <p class="text-white f-18">Move great lengths...</p>
               <div class="row align-items-stretch">
                           <div class="col-lg-3 col-md-4 col-sm-4 col-12 mb-2">
                                 <div class="card popularCate popLoc">
                                    <img  src="https://mh-1-rest.panthermedia.net/media/no-wm/3ea351649b648d4803111496120ced56be7b5988/0028000000/28302000/28302926_detail.jpg" alt="">
                                    <h3>Newyork</h3>
                                    <div class="popularOverlay"></div>
                                 </div>
                              </div>
                               <div class="col-lg-3 col-md-4 col-sm-4 col-12 mb-2">
                                 <div class="card popularCate popLoc">
                                    <img  src="https://mh-1-rest.panthermedia.net/media/no-wm/3ea351649b648d4803111496120ced56be7b5988/0028000000/28302000/28302926_detail.jpg" alt="Card image">
                                    <h3>Paris</h3>
                                    <div class="popularOverlay"></div>
                                 </div>
                              </div>

                              <div class="col-lg-3 col-md-4 col-sm-4 col-12 mb-2">
                                 <div class="card popularCate popLoc">
                                    <img  src="https://mh-1-rest.panthermedia.net/media/no-wm/3ea351649b648d4803111496120ced56be7b5988/0028000000/28302000/28302926_detail.jpg" alt="">
                                    <h3>Canada</h3>
                                    <div class="popularOverlay"></div>
                                 </div>
                              </div>


                               <div class="col-lg-3 col-md-4 col-sm-4 col-12 mb-2">
                                 <div class="card popularCate popLoc">
                                    <img  src="https://mh-1-rest.panthermedia.net/media/no-wm/3ea351649b648d4803111496120ced56be7b5988/0028000000/28302000/28302926_detail.jpg" alt="Card image">
                                    <h3>United States</h3>
                                    <div class="popularOverlay"></div>
                                 </div>
                              </div>
                 </div>
               </div>
            



         </main>
      </div>
     
     