body{
            background: #262626 !important;
         }
         body,html,h1,h2,h3,h4,h5,h6,p,span,a,ul,li,ol,button,input,select,textarea,option{
         font-family: 'Poppins', sans-serif !important;
         }
         #mainNav .navbar-nav .nav-item .nav-link{
         color: #fff !important;
         text-transform: capitalize !important;
         }
         .video-background-holder{
         overflow: hidden;
         }
         .display-4 {
         font-size: 2.3rem;
         font-weight: 300;
         line-height: 1.5;
         }
         .video-background-content {
         position: absolute;
         z-index: 2;
         top: 50%;
         left: 0;
         }
         .search-bar .fa-search{
         left: 16px;
         right: 0px;
         display: inline-block;
         width: 30px;
         top: 20px;
         }
         .search_m .form-control {
         border: none !important;
         background: #fff;
         height: 70px;
         color: #333;
         font-size: 1rem;
         padding-left:0px;
         padding: 5px;
         text-indent: 40px;
         border-right: 1px solid #6a6363;
         border-radius: 10px;
         }
         .search-bar input.form-control, .search-bar .btn {
         height: 65px !important;
         }
         .search_m .btn {
         text-transform: capitalize;
         border-left: 1px solid #bcbcbc;
         border-radius: 0px 10px 10px 0px;
         }
         .search_m .dropdown-menu.show>a {
         text-transform: capitalize;
         padding: 8px 10px;
         font-size: 0.9rem;
         }
         .search_m .dropdown-menu{
         padding: 0px;
         }
         .popularCate{
         border: none;
         border-radius: 6px;
         min-height: 280px;
         max-height: 280px;
         overflow: hidden;
         transition: 0.5s;
         cursor: pointer;
         }
         .popularCate img{
         position: relative;
         border-radius: 6px;
         max-width: 100%;
          height: 100%;
           transition: 0.5s;
         }
         .popularCate:hover img{
            transform: scale(1.1,1.1);
            cursor: pointer;
         }
         .popularCate h3{
         position: absolute;top: 50%; left: 0px; color: #fff;right: 0px; bottom: 0px; text-align: center;    z-index: 999;
         }
         .popLoc h3{
           position: absolute;top: initial !important; left: 0px; color: #fff;right: 0px; bottom: 0px; text-align: center;z-index: 999; font-size: 1.3rem;

         }
         .popularOverlay{
         position: absolute;
         background: rgba(0,0,0,0.3);
         height: 100%;
         top: 0px;
         width: 100%;
         }
         .popularcar .carousel-indicators li{
         width: 10px;
         height: 10px;
         border-radius: 50%;
         }
         .popularcar .carousel-indicators{
                bottom: -40px;
         }
         .popularcar .carousel-item a{
            border-radius: 0px !important;
            padding: 0px !important;
         }

         .popLoc{
           overflow: hidden;
         min-height: 350px;
         max-height: 350px;
         }
         .popLoc img{
           transition: 0.5s;
         }
         .popLoc:hover img{
          transform: scale(1.1,1.1);
         }
      

         .navbar-dark.fixed-top.active {
           background-color: rgba(0,0,0,0.9) !important;
         }
         .nft{
            background: #1d2225 !important;
         }
         .nft h3{
          font-size: 15px;
          font-weight: 600;
         }
         .nft ul li a{
            font-size: 14px;
            padding: 6px 0px;
         }
         #basic-addon2{
            cursor: pointer;
            background: none;
            border: none;
            border-bottom: 1px #ced2d3 solid;
            border-radius: 0px;
         }
         .emailAddress{
            border-bottom-width: 1px;
            border-bottom-color: #ced2d3;
         }

         .pl-10{
                 padding-left: 10px !important;
            } 
            .pr-10{
               padding-right: 10px !important;

            }
            .takeAlook{
              height:188px;
                /* background: url(images/wallpaper-hd.jpg) 100% center no-repeat;*/
               background-size: cover;
               border-radius: 6px;
            }
            .takeAlookDiv{
               background: #093a1c;
               padding:25px 15px;
               text-align: center;
               color: #fff;
               border-radius: 6px 0px 0px 6px;
            }
            .takeAlookDiv h3{
               font-size: 32px;
               font-weight: 600;
            }
             .takeAlookDiv p{
               font-size: 18px;
             }
             .takeAlookDiv button{
               padding: 10px 30px; color: #fff !important; 
             }