<div class="mt-4 col-8 offset-2">
  <div class="card">
    <div class="card-header">Register Here</div>
    <div class="card-body">
      <form #signupForm=ngForm (ngSubmit)="onSubmit()">
        <div class="form-group row">
          <label for="inputName3" class="col-sm-2 col-form-label">User Name</label>
          <div class="col-sm-10">
            <input type="text" name="name" class="form-control" id="inputname3" placeholder="Name" [(ngModel)]="form.name" required>
            <div class="alert alert-danger" [hidden]="!error.name">
              {{error.name}}
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputName3" class="col-sm-2 col-form-label">First Name</label>
          <div class="col-sm-10">
            <input type="text" name="name" class="form-control" id="inputname3" placeholder="Name" [(ngModel)]="form.first_name" required>
            <div class="alert alert-danger" [hidden]="!error.first_name">
              {{error.first_name}}
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputName3" class="col-sm-2 col-form-label">Last Name</label>
          <div class="col-sm-10">
            <input type="text" name="name" class="form-control" id="inputname3" placeholder="Name" [(ngModel)]="form.last_name" required>
            <div class="alert alert-danger" [hidden]="!error.last_name">
              {{error.last_name}}
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputName3" class="col-sm-2 col-form-label">Mobile</label>
          <div class="col-sm-10">
            <input type="text" name="mobile" class="form-control" id="inputname3" placeholder="Mobile" [(ngModel)]="form.mobile" required>
            <div class="alert alert-danger" [hidden]="!error.mobile">
              {{error.mobile}}
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Phone</label>
          <div class="col-sm-10">
            <input type="text" name="phone" class="form-control" id="inputEmail3" placeholder="Phone" [(ngModel)]="form.phone" required>
            <div class="alert alert-danger" [hidden]="!error.phone">
              {{error.phone}}
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Occupation</label>
          <div class="col-sm-10">
            <input type="text" name="occupation" class="form-control" id="inputEmail3" placeholder="Occupation" [(ngModel)]="form.occupation" required>
            <div class="alert alert-danger" [hidden]="!error.occupation">
              {{error.occupation}}
            </div>
          </div>
        </div>
         <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Title</label>
          <div class="col-sm-10">
            <input type="text" name="title" class="form-control" id="inputEmail3" placeholder="Title" [(ngModel)]="form.title" required>
            <div class="alert alert-danger" [hidden]="!error.title">
              {{error.title}}
            </div>
          </div>
        </div>
         <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Company</label>
          <div class="col-sm-10">
            <input type="text" name="company" class="form-control" id="inputEmail3" placeholder="Company" [(ngModel)]="form.company" required>
            <div class="alert alert-danger" [hidden]="!error.company">
              {{error.company}}
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Flat Number</label>
          <div class="col-sm-10">
            <input type="text" name="flat_number" class="form-control" id="flat_number" placeholder="Flat Number" [(ngModel)]="form.flat_number" required>
            <div class="alert alert-danger" [hidden]="!error.flat_number">
              {{error.flat_number}}
            </div>
          </div>
        </div>
         <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Street</label>
          <div class="col-sm-10">
            <input type="text" name="street" class="form-control" id="inputEmail3" placeholder="Street" [(ngModel)]="form.street" required>
            <div class="alert alert-danger" [hidden]="!error.street">
              {{error.street}}
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Area</label>
          <div class="col-sm-10">
            <input type="text" name="area" class="form-control" id="inputEmail3" placeholder="Area" [(ngModel)]="form.area" required>
            <div class="alert alert-danger" [hidden]="!error.area">
              {{error.area}}
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">City</label>
          <div class="col-sm-10">
            <input type="text" name="city" class="form-control" id="inputEmail3" placeholder="City" [(ngModel)]="form.city" required>
            <div class="alert alert-danger" [hidden]="!error.city">
              {{error.city}}
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">State</label>
          <div class="col-sm-10">
            <input type="text" name="state" class="form-control" id="inputEmail3" placeholder="State" [(ngModel)]="form.state" required>
            <div class="alert alert-danger" [hidden]="!error.state">
              {{error.state}}
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Country</label>
          <div class="col-sm-10">
            <input type="text" name="country" class="form-control" id="inputEmail3" placeholder="Country" [(ngModel)]="form.country" required>
            <div class="alert alert-danger" [hidden]="!error.country">
              {{error.country}}
            </div>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Pincode</label>
          <div class="col-sm-10">
            <input type="text" name="pincode" class="form-control" id="inputEmail3" placeholder="Pincode" [(ngModel)]="form.pincode" required>
            <div class="alert alert-danger" [hidden]="!error.pincode">
              {{error.pincode}}
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputPasswordConfirmation3" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10">
            <input type="password" name="password" class="form-control" id="inputPasswordConfirmation3" placeholder="Confirm Password"
              [(ngModel)]="form.password" required>
            <div class="alert alert-danger" [hidden]="!error.password">
              {{error.password}}
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Confirm Password</label>
          <div class="col-sm-10">
            <input type="password" name="password_confirmation" class="form-control" id="inputPassword3" placeholder="Password" [(ngModel)]="form.password_confirmation"
              required>
          </div>
        </div>
		<div class="form-group row">
        Terms & Conditions
        <input type="checkbox" name="terms_conditions"  id="terms_conditions" [(ngModel)]="form.terms_conditions" required />
        </div>
        <div class="form-group row">
          <div class="col-sm-10 offset-2">

            <button type="submit" class="btn btn-primary" [disabled]="!signupForm.valid">Sign Up</button>

            <a routerLink="/login" class="btn btn-info float-right">Sign in</a>

          </div>
        </div>

      </form>
    </div>
  </div>
</div>