
  <footer class="nft">
         <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4">
                  <h3>MORE</h3>
                  <ul>
                     <li><a routerLink="/aboutUs">ABOUT US</a></li>
                     <li><a href="/contactUs">OUR PRICES & LICENSES</a></li>
                     <li><a href="#">PICTURE SEARCH</a></li>
                     <li><a href="#">CONTRIBUTE TO IMAGE FOOTAGE</a></li>
                     <li><a href="#">TERMS & CONDITIONS</a></li>
                     <li><a href="#">PRIVACY POLICY</a></li>
                  </ul>
                  </div>

                  <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4">
                  <h3>MEDIA TYPES</h3>
                  <ul>
                     <li><a href="#">PHOTOS</a></li>
                     <li><a href="#">VIDEOS</a></li>
                     <li><a href="#">ILLUSTRATIONS</a></li>
                     <li><a href="#">EDITORIAL</a></li>
                  </ul>
                  </div>


               <div class="col-md-4 col-sm-4 col-lg-4 col-xl-4">
                  <h3>CONTACT US</h3>
                  <p class="text-white f-18"><b>1800 419 8123</b> <small class="f-12">(TOLL-FREE)</small></p>
                   <p class="f-14"><a href="#" class="text-white">info@imagefootage.com</a></p>
                   <p class="mt-3 text-white f-14 fw-6">STRAIGHT FROM IMAGE FOOTAGE,GET THE NEWSLETTER</p>

                    <div class="col-lg-10 col-md-10 col-sm-11">
                   <form>
                       <div class="input-group mb-3">
                       <input type="text" class="form-control emailAddress" placeholder="Email Address" aria-label="Recipient's username" aria-describedby="basic-addon2">
                       <div class="input-group-append">
                         <span class="input-group-text" id="basic-addon2"><i class="fa fa-chevron-right"></i></span>
                       </div>

                     </div>
                   </form>
                 </div>
                </div>
              
              
            </div>
            <div class="clearfix"></div>
            <hr>
            <div class="row justify-content-center">
               <div class="col-md-12 text-center">
                  <p>Get the license to your dreams.A 100% Image Footage guarantee</p>
               </div>
            </div>
           
                <div class="col-md-12 text-right py-2">
               <p class="f-12 mb-0">
                 <img src="images/copyright.png" height="30"> Copyright 2020 Image Footage
               </p>
            </div>
           


         </div>
      </footer>
    
    