<footer appNoRightClick>

    <div class="container-fluid">
        <div class="col-lg-11 col-md-11 col-sm-12 m-auto">


            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <h3>About Image Footage</h3>
                    <p>We are a privately owned diversified and deeply leveraged group, offering a variety of creative stock imagery & stock footage content.</p>

                </div>

                <div class="col-md-3 col-sm-3 offset-md-1 offset-sm-1">
                    <h3>Quick Links</h3>
                    <ul>
                        <li><a routerLink="/aboutUs">About Us</a></li>
                        <li><a routerLink="/contactUs">Contact Us</a></li>
                        <li><a routerLink="/license">License Agreement</a></li>
                        <li><a routerLink="/terms">Terms & Conditions</a></li>
                        <li><a routerLink="/privacy">Privacy Policy</a></li>
                        <!--<li><a routerLink="/tagging">Tagging tutorial</a></li>-->

                    </ul>

                </div>

                <div class="col-md-4 col-sm-4">
                    <h3>Contact Info</h3>

                    <p class="tollfree">  Toll free: 1800 419 8123</p>
                    <p><a href="#" class="text-white">info@imagefootage.com</a></p>
                    <p><a href="#"  class="text-white">admin@imagefootage.com</a></p>


                </div>

            </div>

            <div class="clearfix"></div>
            <hr>
            <div class="row justify-content-center">
                <div class="col-md-12 text-center py-3">
                    <p><i>Copyright @ 2020 Image Footage. All Rights Reserved.</i></p>
                </div>
            </div>

        </div>
    </div>


</footer>
  
