<div class="loader-bg align-items-center" *ngIf="loadingData">
    <!--    <div class="loader">-->
    <!--        Loading-->
    <!--        <span></span>-->
    <!--    </div>-->
    <div class="loader2"><img src="assets/images/loader.gif" width="300px"></div>
</div>
<section class="mt-1">

    <div class="container">

        <div class="col-lg-8 col-md-8 col-sm-10 m-auto">

            <div class="card z-depth-0">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 hidden-xs" style="background: #ffcac6">
                        <!--  <div class="layer">  </div>   -->


                        <img src="/assets/images/resetpassword.png" class="img-fluid">

                    </div>

                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="bg-white p-5">
                        <div class="switch switch-yellow" >
      <input type="radio" class="switch-input" name="view3" value="week3" id="week3" checked>
      <label for="week3" class="switch-label switch-label-off" (click)="showtoemail()">To Email</label>
      <input type="radio" class="switch-input" name="view3" value="month3" id="month3">
      <label for="month3" class="switch-label switch-label-on" (click)="showtomobile()">To Mobile</label>
      <span class="switch-selection"></span>
    </div>
                            <div class="p-3" *ngIf="toemail">

                                <p class="f-20 mb-0"><b>Reset Password</b></p>
                                <p><small>Enter the email associated with your account and we'll send an email with instructions to reset your passowrd.</small></p>
                                <form class="loignForm" [formGroup]="resetpasswordForm" (ngSubmit)="onSubmit()">
                                <div class="form-group mt-5">
                                        <label class="text-uppercase f-12 text-black">Email </label>

                                    <input type="email"  formControlName="user_email" class="form-control"  [ngClass]="{ 'is-invalid': submitted && f.user_email.errors }">
                                    <div *ngIf="submitted && f.user_email.errors" class="invalid-feedback">
                                        <div *ngIf="f.user_email.errors.required">Email is required</div>
                                        <div *ngIf="f.user_email.errors.email">Email must be a valid email address</div>
                                    </div>
                                    </div>
<!--                                    <div class="form-group mt-4">-->
<!--                                        <label class="text-uppercase f-12 text-black">Password</label>-->
<!--                                        <input type="Password" class="form-control" placeholder="">-->
<!--                                    </div>-->


<!--                                    <div class="form-group mt-4">-->
<!--                                        <label class="text-uppercase f-12 text-black">Confirm Password</label>-->
<!--                                        <input type="Password" class="form-control" placeholder="">-->
<!--                                    </div>-->



                                    <div class="form-group mt-5">

                                        <button type="submit" [disabled]="loading" class="btn btn-success btn-block text-white  p-3 text-uppercase">SUBMIT</button>

                                    </div>

                                </form>
                            </div>
                            <div class="p-3" *ngIf="tomobile">

                                <p class="f-20 mb-0"><b>Reset Password</b></p>
                                <p><small>Enter the email associated with your account and we'll send an email with instructions to reset your passowrd.</small></p>
                                <form class="loignForm" [formGroup]="requestOtpForm" (ngSubmit)="requestOtp()" *ngIf="step1otp">
                                <div class="form-group mt-5">
                                     <label class="text-uppercase f-12 text-black">Mobile Number</label>
                                    <input type="text"  formControlName="user_mobile" class="form-control"  [ngClass]="{ 'is-invalid': submitted && o.user_mobile.errors }">
                                    <div *ngIf="submitted && o.user_mobile.errors" class="invalid-feedback">
                                        <div *ngIf="o.user_mobile.errors.required">Mobile number is required</div>
                                    </div>
                                    </div>
                                    <div class="form-group mt-5">
                                        <button type="submit" [disabled]="loading" class="btn btn-success btn-block text-white  p-3 text-uppercase">SUBMIT</button>
                                    </div>
                                </form>
                                <form class="loignForm" [formGroup]="requestOtpForm2" (ngSubmit)="onChangePass()" *ngIf="step2otp" >
                                <!--<div class="form-group mt-5">
                                        <label class="text-uppercase f-12 text-black">Mobile</label>

                                    <input type="text" id='umobotp' readonly="readonly" formControlName="user_mobile1" class="form-control"  [ngClass]="{ 'is-invalid': submitted && r.user_mobile1.errors }" ng-model="fmobile" value="{{fmobile}}">
                                    <div *ngIf="submitted && r.user_mobile1.errors" class="invalid-feedback">
                                        <div *ngIf="r.user_mobile1.errors.required">Mobile number is required</div>
                                    </div>
                                    </div>-->
                                
                                    <div class="form-group mt-5">
                                        <label class="text-uppercase f-12 text-black">Otp</label>

                                    <input type="text"  formControlName="user_otp" class="form-control"  [ngClass]="{ 'is-invalid': submitted && r.user_otp.errors }">
                                    <div *ngIf="submitted && r.user_otp.errors" class="invalid-feedback">
                                        <div *ngIf="r.user_otp.errors.required">User otp is required</div>
                                    </div>
                                    </div>
                                    
                                    <div class="form-group mt-4">
                                        <label class="text-uppercase f-12 text-black">Password</label>
                                        <input type="Password" formControlName="user_password" class="form-control" placeholder="" [ngClass]="{ 'is-invalid': submitted && r.user_password.errors }">
                                        <div *ngIf="submitted && r.user_password.errors" class="invalid-feedback">
                                        <div *ngIf="r.user_password.errors.required">User otp is required</div>
                                    </div>
                                        
                                    </div>


                                    <div class="form-group mt-4">
                                        <label class="text-uppercase f-12 text-black">Confirm Password</label>
                                        <input type="Password" class="form-control" formControlName="user_rpassword" placeholder="" [ngClass]="{ 'is-invalid': submitted && r.user_rpassword.errors }">
                                         <div *ngIf="submitted && r.user_rpassword.errors" class="invalid-feedback">
                                            <div *ngIf="r.user_rpassword.errors.required">Confirm Password is required</div>
                                            <div *ngIf="r.user_rpassword.errors.mustMatch">Passwords must match</div>
                                        </div>
                                    </div>



                                    <div class="form-group mt-5">

                                        <button type="submit" [disabled]="loading" class="btn btn-success btn-block text-white  p-3 text-uppercase">SUBMIT</button>

                                    </div>

                                </form>
                            </div>


                        </div>
                    </div>


                </div>


            </div>





        </div>


    </div>

</section>
