body{ font-weight:normal;background: #f1f5f6;}
#mainNav{background:#000;}
hr {
    border-top: 1px solid #ddd!important;
}
.table.border-0>tbody>tr>td{border:none;}
.border-1{border: 1px solid #ddd;}
