name: Imagefootage Workflow

on:
  push:
    branches:
      - staging

jobs:
  deploy:
    name: Deploying latest changes on staging server
    runs-on: ubuntu-latest
    steps:
    - name: updating code on server
      uses: appleboy/ssh-action@v0.1.6
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        key: ${{ secrets.KEY }}
        script: whoami
