on:
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2      
      - name: Install SSH Key
        uses: appleboy/ssh-action@master
        with:
          key: ${{ secrets.MAIN_SSH_KEY }}
          host: ${{ secrets.MAIN_HOST }}
          username: ${{ secrets.MAIN_USER }}
          script: |
              ls
