on:
  push:
    branches:
      - master
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2      
      - name: Install SSH Key
        uses: appleboy/ssh-action@master
        with:
          key: ${{ secrets.MAIN_SSH_KEY }}
          
          script: |
              ssh ${{ secrets.MAIN_USER }}@${{ secrets.MAIN_HOST }} "ls"
