on:
  push:
    branches:
      - stage


jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
        -   uses: actions/checkout@v1

        -   name: Setup SSH Keys and known_hosts
            env:
                SSH_AUTH_SOCK: /tmp/ssh_agent.sock
            run: |
                ssh-agent -a $SSH_AUTH_SOCK > /dev/null
                ssh-add - <<< "${{ secrets.SSH_PRIVATE_KEY }}"

        -   name: Some task that fetches dependencies
            env:
                SSH_AUTH_SOCK: /tmp/ssh_agent.sock

                script: |
                  cd /var/www/imagefootage/backend
                  git pull origin stage
                  php artisan optimize
