
<div class="video-background-holder">
  <div class="video-background-overlay"></div>
  <video playsinline="playsinline" autoplay  loop [muted]="'muted'" poster="https://imagefootage.com/video/Screenshot.png" >
        <source src="https://imagefootage.com/video/cpw-converted and-taken 27 sec.mp4" type="video/mp4" >
    </video>
  <div class="video-background-content container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="col-md-10 col-sm-10 col-lg-10 m-auto">
      <div class="w-100 text-white vedio_text">
        <h1 class="display-4" style="font-size: 2rem"><strong>Bring Your Vision to Life Without <br>Compromise</strong></h1>
           
          <form class="search_m">
    <div class="input-group search-bar">
          <div class="input-group-btn" ngbDropdown >
            <button type="button" class="btn btn-secondary" id="dropdownBasic1" ngbDropdownToggle >
             <span *ngIf='searchBoxLabel == 1'>Photos Only</span>
             <span *ngIf='searchBoxLabel == 2'>Videos Only</span>
             <span *ngIf='searchBoxLabel == 3'>Photos + Videos</span>


            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu" style="top:-192px !important;min-width: 200px;">
              <a class="dropdown-item" href="javascript:void(0)" (click)="searchDropDownClick('1')" ngbDropdownItem style="padding: 15px 10px;"><i class=""></i> Photos Only</a>
              <a class="dropdown-item" href="javascript:void(0)" (click)="searchDropDownClick('3')" ngbDropdownItem style="padding: 15px 10px;">Photos + Videos</a>
              <a class="dropdown-item" href="javascript:void(0)" (click)="searchDropDownClick('2')" ngbDropdownItem style="padding: 15px 10px;">Videos Only</a>
               </div>
          </div>
          <input type="text" class="form-control" #searchBoxEle  aria-label="Text input with dropdown button" (keyup.enter)="searchAosData(searchBoxEle.value)">
          <a href="javascript:void(0)" class="iconSearch" (click)="searchAosData(searchBoxEle.value)"><span class="fa fa-search text-gray"></span></a>
        </div>
  </form>
      </div>
    </div>
    </div>
  </div>
</div>
<!--<header class="masthead">
    <div class="container">
        <div class="row justify-content-center">
            <video id="theVideo" autoplay="autoplay" loop="loop" controls="controls" muted="muted" style="position: absolute;
    display: block;
    z-index: -1;
    top: 0;
    left: 0;
    object-fit: cover;
    height: 100%;
    min-width: 100%;" poster="https://imagefootage.com/img/bg.png"><source src="https://imagefootage.com/video/VIDEO_2_25MB_home.mp4" type="video/mp4"></video>
        </div>
      <div class="intro-text">
      
        <div class="intro-lead-in text-warning">Bring Your Vision to Life</div>
        <div class="intro-heading text-uppercase">Without Compromise</div>
        <div class="col-md-9 col-sm-9 m-auto">
            <form class="search_m">
    <div class="input-group">
          <div class="input-group-btn" ngbDropdown >
            <button type="button" class="btn btn-secondary" id="dropdownBasic1" ngbDropdownToggle>
             <span *ngIf='searchBoxLabel == 1'>Photos Only</span>
             <span *ngIf='searchBoxLabel == 2'>Videos Only</span>
             <span *ngIf='searchBoxLabel == 3'>Photos + Videos</span>


            </button>
            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-menu">
              <a class="dropdown-item" href="javascript:void(0)" (click)="searchDropDownClick('1')" ngbDropdownItem><i class=""></i> Photos Only</a>
              <a class="dropdown-item" href="javascript:void(0)" (click)="searchDropDownClick('3')" ngbDropdownItem>Photos + Videos</a>
              <a class="dropdown-item" href="javascript:void(0)" (click)="searchDropDownClick('2')" ngbDropdownItem>Videos Only</a>
               </div>
          </div>
          <input type="text" class="form-control" #searchBoxEle  aria-label="Text input with dropdown button">
          <a href="javascript:void(0)" class="iconSearch" (click)="searchAosData(searchBoxEle.value)"><span class="icon-search"></span></a>
        </div>
  </form>
        
        </div>
      </div>
    </div>
  </header>-->

  <div class="site-wrap">
    <div class="container-fluid text-center my-5">
      <div class="row mx-auto my-auto">
          <div id="recipeCarousel" class="carousel slide w-100">
              <div class="carousel-inner" role="listbox">
               <ngb-carousel [showNavigationArrows]="true" [showNavigationIndicators]="false" [interval]="0" [pauseOnHover]="true">
                    <div class="carousel-item">
                        <ng-template ngbSlide *ngFor="let carouseimges of carouselSliderImages;let i= index">
                          <div class="col-11 m-auto">
                              <div class="row">
                                    <div class="col-md-2 col-sm-2 col-4 text-center" *ngFor="let images of carouseimges.categoryNames">
                                      <a href="javascript:void(0)" [routerLink]="['/search']" [queryParams]="{type:1,keyword:images.category_name}">{{images.category_name}}</a>
                                    </div>
                              </div>
                          </div>
                        </ng-template>
                    </div>
                </ngb-carousel>

                
              </div>

            </div>
        </div>
      </div>
      <main class="main-content mt-3">
          <div class="container-fluid photos">
            <div class="row align-items-stretch">

                <div [ngClass]="getClassName(aosimges)" data-aos="fade-up" data-aos-delay="200"  *ngFor="let aosimges of aoslSliderImagesData | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize;let i= index">
                    <a *ngIf="aosimges.product_web == '2' || aosimges.product_web == '1'" routerLink="/detail/{{aosimges.api_product_id}}/{{aosimges.product_web}}/{{aosimges.product_main_type}}" class="d-block photo-item">

                      <img  src="{{aosimges.product_thumbnail}}" alt="Image" class="img-fluid">

                        <!-- <iframe  *ngIf="aosimges.mimetype != 'image/jpeg'" src="https://www.youtube.com/embed/xcJtL7QggTI?rel=0&amp;autoplay=0&mute=1" webkitallowfullscreen mozallowfullscreen allowfullscreen height="300" width="100%"></iframe>  -->
                      <div class="photo-text-more">
                      
                        <div class="photo-text-more">
                        <h3 class="heading">{{aosimges.product_title}}</h3>
                        <span class="meta">{{aosimges.product_description}}</span>
                        <p class="icons_thum">
                            <span><i class="fa fa-image"></i></span>
                            <span><i class="fa fa-heart"></i></span>
                            <span><i class="fa fa-plus"></i></span>
                        </p>
                      </div>
                      </div>
                    </a>
                    <a  *ngIf="aosimges.product_web == '3'" routerLink="/detail/{{aosimges.api_product_id}}/{{aosimges.product_web}}/{{aosimges.product_main_type}}" class="d-block ">
                         <video  width="400" height="300" [muted]="'muted'" controls autoplay onmouseover="this.play()" style="width: 100% !important;    background: #7d494957;">
                            <source src="{{aosimges.product_thumbnail}}" type="video/mp4" >
                            Your browser does not support the video tag.
                        </video>
                        <!-- <iframe  *ngIf="aosimges.mimetype != 'image/jpeg'" src="https://www.youtube.com/embed/xcJtL7QggTI?rel=0&amp;autoplay=0&mute=1" webkitallowfullscreen mozallowfullscreen allowfullscreen height="300" width="100%"></iframe>  -->
                 </a>
                </div>

           </div>

            

            <div class="col-md-5 col-sm-6 col-12 m-auto pagination_d " *ngIf="aoslSliderImagesData.length !=0"> 
                    <ngb-pagination [collectionSize]="aoslSliderImagesData.length"  [pageSize]="pageSize"
                     [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false"
                     (pageChange)="onPageChange($event)" [boundaryLinks]="true"></ngb-pagination>
            </div>

          </div>
      </main>
          


    </div>
<!-- <app-hero-search></app-hero-search> -->
