<div class="loader-bg align-items-center" *ngIf="loadingData">
   <!--    <div class="loader">-->
   <!--        Loading-->
   <!--        <span></span>-->
   <!--    </div>-->
   <div class="loader2"><img src="assets/images/loader.gif"></div>
</div>
<div class="clearfix"></div>
<div class="video-background-holder">
   <div class="video-background-overlay"></div>
   <video playsinline="playsinline" autoplay loop [muted]="'muted'">
      <source src="https://imagefootage.com/video/cpw-converted and-taken 27 sec.mp4" type="video/mp4" defered>
   </video>
   <div class="row justify-content-center align-items-center">
      <div class="video-background-content container">
         <div class="col-md-9 col-sm-10 col-lg-8 m-auto">
            <div class="text-white">
               <h1 class="display-4"><strong>Awesome Content. Amazing Deals.<br>
                     Inspired storytelling</strong>
               </h1>
               <form class="search_m mt-3">
                  <div class="input-group search-bar">
                     <input type="text" class="form-control" #searchBoxEle aria-label="Text input with dropdown button"
                        placeholder="Your search for creative stock assets ends here.."
                        (keyup.enter)="searchAosData(searchBoxEle.value)">
                     <i class="fa fa-search text-gray"></i>
                     <div class="input-group-btn d-none d-md-block " ngbDropdown>

                        <select class="btn btn-secondary" (change)="searchDropDownClick($event.target.value)">
                           <option value="2" [selected]="selectedCategory == '2'">Footages</option>
                           <option value="1" [selected]="selectedCategory == '1'">Images</option>
                           <option value="3" [selected]="selectedCategory == '3'">Editorial Images</option>
                           <option value="4" [selected]="selectedCategory == '4'">Editorial Footages</option>
                        </select>
                     </div>
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>
</div>

<div class="site-wrap">
   <main class="main-content mt-3">
      <div class="container mt-3">
         <h2 class="text-white f-28">Popular Collections</h2>
         <p class="text-white f-18">See What's trending...</p>
         <div id="myCarousel" class="carousel slide popularcar">
            <ul class="carousel-indicators">
               <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
               <li data-target="#myCarousel" data-slide-to="1"></li>
               <li data-target="#myCarousel" data-slide-to="2"></li>
               <li data-target="#myCarousel" data-slide-to="3"></li>
            </ul>
            <!-- The slideshow -->
            <div class="carousel-inner">
               <div class="carousel-item active">
                  <div class="row">
                     <div class="col-lg-4 col-md-4 col-sm-4 col-12 mb-3 pl-10 pr-10"
                        *ngFor="let carouseimges of categoriesHome[0];let i= index">
                        <div class="card popularCate">
                           <a href="javascript:void(0)" [routerLink]="['/search']"
                              [queryParams]="{type:1,keyword:carouseimges.category_name}">
                              <img
                                 src="{{ allcategoryData && allcategoryData[carouseimges.category_name][0]['product_thumbnail'] }}"
                                 alt="Card image" style="width:360px;height:280px;">
                              <h3>{{carouseimges.category_name}}</h3>
                              <div class="popularOverlay"></div>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="row">
                     <div class="col-lg-4 col-md-4 col-sm-4 col-12 mb-3 pl-10 pr-10"
                        *ngFor="let carouseimges of categoriesHome[1];let i= index">
                        <div class="card popularCate">
                           <a href="javascript:void(0)" [routerLink]="['/search']"
                              [queryParams]="{type:1,keyword:carouseimges.category_name}">
                              <img
                                 src="{{ allcategoryData && allcategoryData[carouseimges.category_name][0]['product_thumbnail'] }}"
                                 alt="Card image" style="width:360px;height:280px;">
                              <h3>{{carouseimges.category_name}}</h3>
                              <div class="popularOverlay"></div>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="row">
                     <div class="col-lg-4 col-md-4 col-sm-4 col-12 mb-3 pl-10 pr-10"
                        *ngFor="let carouseimges of categoriesHome[2];let i= index">
                        <div class="card popularCate">
                           <a href="javascript:void(0)" [routerLink]="['/search']"
                              [queryParams]="{type:1,keyword:carouseimges.category_name}">
                              <img
                                 src="{{ allcategoryData && allcategoryData[carouseimges.category_name][0]['product_thumbnail'] }}"
                                 alt="Card image" style="width:360px;height:280px;">
                              <h3>{{carouseimges.category_name}}</h3>
                              <div class="popularOverlay"></div>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="carousel-item">
                  <div class="row">
                     <div class="col-lg-4 col-md-4 col-sm-4 col-12 mb-3 pl-10 pr-10"
                        *ngFor="let carouseimges of categoriesHome[3];let i= index">
                        <div class="card popularCate">
                           <a href="javascript:void(0)" [routerLink]="['/search']"
                              [queryParams]="{type:1,keyword:carouseimges.category_name}">
                              <img
                                 src="{{ allcategoryData && allcategoryData[carouseimges.category_name][0]['product_thumbnail'] }}"
                                 alt="Card image" style="width:360px;height:280px;">
                              <h3>{{carouseimges.category_name}}</h3>
                              <div class="popularOverlay"></div>
                           </a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

      </div>




      <div class="container mt-5 pt-3">


         <div class="takeAlook">
            <div class="col-lg-6 col-md-6 col-sm-7 col-12 pl-0">
               <div class="takeAlookDiv">
                  <h3>The Earth is healing</h3>
                  <p>amidst the pandemic</p>
                  <button class="btn btn-success">TAKE A LOOK</button>
               </div>
            </div>
         </div>


      </div>


      <div class="container mt-5 pt-3">
         <h3 class="text-white f-28">Our Footage Specials</h3>
         <p class="text-white f-18">Move great lengths...</p>
         <div class="row align-items-stretch">
            <div class="col-lg-3 col-md-4 col-sm-4 col-12 mb-2"
               *ngFor="let carouseimges of categoriesHome[1];let i= index">
               <div class="card popularCate popLoc" *ngIf="i < 4">
                  <a href="javascript:void(0)" [routerLink]="['/search']"
                     [queryParams]="{type:2,keyword:carouseimges.category_name}">
                     <img src="{{allcategoryData[carouseimges.category_name][0]['product_thumbnail']}}" alt=""
                        style="height:350px;">
                     <h3>{{carouseimges.category_name}}</h3>
                     <div class="popularOverlay"></div>
                  </a>
               </div>
            </div>
         </div>
      </div>
   </main>
</div>

<!-- <app-hero-search></app-hero-search> -->
<ng-container *ngIf="showloginPopup">
   <app-login [openLoginPopup]="showloginPopup" (closeLoginPopup)="hideLoginPopup($event)"></app-login>
</ng-container>

<!--<ng-container *ngIf="showcartprice">-->
<!--    <-->
<!--</ng-container>-->