.loader-bg{background:rgba(0,0,0,0.9); position: fixed; width: 100%; height: 100%; z-index: 999999; overflow: hidden; top: 0;}

body{
	background:#000;
}
.loader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); 
  width: 150px;
  height: 150px;
  background: transparent;
  border: 3px solid #3c3c3c;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-size: 20px;
  color: #fff000;
  letter-spacing:4px;
  text-transform: uppercase;
  text-shadow:0 0 10px #fff000;
  box-shadow: 0 0 20px rgba(0,0,0,.5);
      z-index: 9999;
}
.loader:before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #fff000;
  border-right: 3px solid #fff000;
  border-radius: 50%;
  animation: animateCircle 2s linear infinite;
}
.loader span {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin:left;
  animation: animate 2s linear infinite;
}
.loader span:before {
  content:'';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff000;
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px #fff000;
}

 @keyframes animateCircle
{
  0%
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform: rotate(45deg);
  }
  100%
  {
    transform: rotate(405deg);
  }
}
.dropdown-menu{
	        top: -232px !important;
}
/* for video */
.d-block {
    cursor: pointer;
}
.icons_thum a{
	color: #fed136 !important;
}
.icons_thum1 a{
	color: #fed136 !important;
}
.icons_thum1>span {
    width: 24px;
    height: 24px;
    background: rgba(0,0,0,0.3);
    border-radius: 50%;
    color: #fff;
    padding: 10px;
}
.icons_thum1 {
    position: fixed;
    right: 0px;
    right: 20px;
    top: 100px;
}
.main-content .photos .photo-item:hover .photo-text-more .icons_thum1 {
    position: fixed;
    top: 100px;
}
.main-content .photos .photo-text-more {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: 30px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.main-content .photos .d-block:hover .photo-text-more {
    margin-top: 0;
    opacity: 1;
    visibility: visible;
}
.span_for_video_home{
	height:300px;
}
/* for video end  */
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
	  .search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
	  .search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
	  .search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
	  .search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
.span_for_video_home{
	height:200px;
}
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
	  .search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
	  .search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
  .search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
.span_for_video_home{
	height:200px;
}
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
.search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
.search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
.search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
.search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
.search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
.search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
.span_for_video_home{
	height:200px;
}
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
.search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
.search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}
/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {
.search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: portrait) {
.search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: landscape) {
.search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
.search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
.search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
.search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}

/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {
.search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {
.search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {
.search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}
.wishlistbefore{
    color:#fcbe11;
}
.wishlistafter{
    color:red;
}

.owl-stage{display:flex}
.popularCate{
  border: none;
  border-radius: 6px;
  min-height: 280px;
  max-height: 280px;
  overflow: hidden;
  transition: 0.5s;
  cursor: pointer;
  }
  .popularCate img{
  position: relative;
  border-radius: 6px;
  max-width: 100%;
  height: 100%;
   transition: 0.5s;
  }
  .popularCate:hover img{
    transform: scale(1.1,1.1);
    cursor: pointer;
  }
  .popularCate h3{
  position: absolute;top: 50%; left: 0px; color: #fff;right: 0px; bottom: 0px; text-align: center;    z-index: 999;
  }
  .popLoc h3{
   position: absolute;top: initial !important; left: 0px; color: #fff;right: 0px; bottom: 0px; text-align: center;z-index: 999; font-size: 1.3rem;
  
  }
  .popularOverlay{
  position: absolute;
  background: rgba(0,0,0,0.3);
  height: 100%;
  top: 0px;
  width: 100%;
  }
  .popularcar .carousel-indicators li{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  }
  .popularcar .carousel-indicators{
        bottom: -40px;
  }
  .popularcar .carousel-item a{
    border-radius: 0px !important;
    padding: 0px !important;
  }
  
  .popLoc{
   overflow: hidden;
  min-height: 350px;
  max-height: 350px;
  }
  .popLoc img{
   transition: 0.5s;
  }
  .popLoc:hover img{
  transform: scale(1.1,1.1);
  }
  
  
  .navbar-dark.fixed-top.active {
   background-color: rgba(0,0,0,0.9) !important;
  }
  .nft{
    background: #1d2225 !important;
  }
  .nft h3{
  font-size: 15px !important;
  font-weight: 600 !important;
  }
  .nft ul li a{
    font-size: 14px;
    padding: 6px 0px;
  }
  #basic-addon2{
    cursor: pointer;
    background: none;
    border: none;
    border-bottom: 1px #ced2d3 solid;
    border-radius: 0px;
  }
  .emailAddress{
    border-bottom-width: 1px;
    border-bottom-color: #ced2d3;
  }
  .pl-10{
         padding-left: 10px !important;
    } 
    .pr-10{
       padding-right: 10px !important;
  
    }
    .takeAlook{
       height:188px;
       background: url(../../assets/images/wallpaper-hd.jpg) 100% center no-repeat;
       background-size: cover;
       border-radius: 6px;
    }
    .takeAlookDiv{
       background: #093a1c;
       padding:25px 15px;
       text-align: center;
       color: #fff;
       border-radius: 6px 0px 0px 6px;
    }
    .takeAlookDiv h3{
       font-size: 32px;
       font-weight: 600;
    }
     .takeAlookDiv p{
       font-size: 18px;
     }
     .takeAlookDiv button{
       padding: 10px 30px; color: #fff !important; 
     }
  
