.loader-bg{background:rgba(0,0,0,0.9); position: fixed; width: 100%; height: 100%; z-index: 999999; overflow: hidden; top: 0;}

body{
	background:#000;
}
.loader{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%); 
  width: 150px;
  height: 150px;
  background: transparent;
  border: 3px solid #3c3c3c;
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-size: 20px;
  color: #fff000;
  letter-spacing:4px;
  text-transform: uppercase;
  text-shadow:0 0 10px #fff000;
  box-shadow: 0 0 20px rgba(0,0,0,.5);
      z-index: 9999;
}
.loader:before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #fff000;
  border-right: 3px solid #fff000;
  border-radius: 50%;
  animation: animateCircle 2s linear infinite;
}
.loader span {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin:left;
  animation: animate 2s linear infinite;
}
.loader span:before {
  content:'';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff000;
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px #fff000;
}

 @keyframes animateCircle
{
  0%
  {
    transform: rotate(0deg);
  }
  100%
  {
    transform: rotate(360deg);
  }
}
@keyframes animate
{
  0%
  {
    transform: rotate(45deg);
  }
  100%
  {
    transform: rotate(405deg);
  }
}
.dropdown-menu{
	        top: -232px !important;
}
/* for video */
.d-block {
    cursor: pointer;
}
.icons_thum a{
	color: #fed136 !important;
}
.icons_thum1 a{
	color: #fed136 !important;
}
.icons_thum1>span {
    width: 24px;
    height: 24px;
    background: rgba(0,0,0,0.3);
    border-radius: 50%;
    color: #fff;
    padding: 10px;
}
.icons_thum1 {
    position: fixed;
    right: 0px;
    right: 20px;
    top: 100px;
}
.main-content .photos .photo-item:hover .photo-text-more .icons_thum1 {
    position: fixed;
    top: 100px;
}
.main-content .photos .photo-text-more {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    width: 100%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    margin-top: 30px;
    -webkit-transition: .3s all ease;
    -o-transition: .3s all ease;
    transition: .3s all ease;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.main-content .photos .d-block:hover .photo-text-more {
    margin-top: 0;
    opacity: 1;
    visibility: visible;
}
/* for video end  */
/* ----------- iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
	  .search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
	  .search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
	  .search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
	  .search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}

}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
	  .search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
	  .search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
  .search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
.search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
.search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
.search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
.search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
.search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
.search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
.search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
.search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}
/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {
.search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: portrait) {
.search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) 
  and (orientation: landscape) {
.search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}

/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
.search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}

/* Portrait */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: portrait) {
.search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}

/* Landscape */
@media screen 
  and (device-width: 320px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) 
  and (orientation: landscape) {
.search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}

/* ----------- Galaxy S6 ----------- */

/* Portrait and Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {
.search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}

/* Portrait */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: portrait) {
.search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}

/* Landscape */
@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) 
  and (orientation: landscape) {
.search_m .input-group-btn {
    min-width: 90px;
}
.search_m .btn {
	 min-width: 90px;
}
.carousel-item a{
	margin-top:10px;
	font-size: 10px;
    padding: 14px 0px;
}
}
