*, *::before, *::after {
	/*font-family: Open Sans,Helvetica,Arial,sans-serif !important;*/
}
body {
  line-height: 1.7;
  color: #a6a6a6;
  font-weight: 400;
  font-size: 1rem;
  background: #000;
  /*font-family: 'Poppins', sans-serif !important;*/
  font-family: Open Sans,Helvetica,Arial,sans-serif !important;
   }
::-moz-selection {
  background: #000;
  color: #fff; }
::selection {
  background: #000;
  color: #fff; }
a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  a:hover {
    text-decoration: none; }
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {/*font-family: 'Poppins', sans-serif !important;*/ font-family:Open Sans,Helvetica,Arial,sans-serif !important;}
.f-8{font-size:8px !important}
.f-10{font-size:10px !important}
.f-11{font-size:11px !important}
.f-12{font-size:12px !important}
.f-14{font-size:14px !important}
.f-15{font-size:15px !important}
.f-16{font-size:16px !important}
.f-18{font-size:18px !important}
.f-20{font-size:20px !important}
.f-22{font-size:22px !important}
.f-24{font-size:24px !important}
.f-26{font-size:26px !important}
.f-28{font-size:28px !important}
.f-30{font-size:30px !important}
.f-32{font-size:32px !important}
.f-34{font-size:34px !important}
.f-36{font-size:36px !important}
.f-40{font-size:40px !important}
.f-42{font-size:42px !important}
.f-44{font-size:44px !important}
.f-46{font-size:46px !important}

.f-3{font-weight: 300 !important;}
.f-4{font-weight: 400 !important;}
.f-5{font-weight: 500 !important;}
.f-6{font-weight: 600 !important;}
.f-7{font-weight: 700 !important;}
.f-9{font-weight: 900 !important;}
.l-space{letter-spacing: 0.3 !important;}

.border-2 {
  border-width: 2px; }

.text-black {
  color: #1e1e1e!important; }

.bg-black {
  background: #000 !important; }

.color-black-opacity-5 {
  color: rgba(0, 0, 0, 0.5); }

.color-white-opacity-5 {
  color: rgba(255, 255, 255, 0.5); }

.offcanvas-menu .site-wrap {
  position: absolute;
  overflow: hidden; }

.site-wrap:before {
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden; }

.offcanvas-menu .site-wrap {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 2;
  overflow: hidden; }
  .offcanvas-menu .site-wrap:before {
    opacity: 1;
    visibility: visible; }

.btn {
  border-radius: 30px; }
  .btn:hover, .btn:active, .btn:focus {
    outline: none;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }
  .btn.btn-black {
    color: #fff;
    background-color: #000; }
    .btn.btn-black:hover {
      color: #000;
      background-color: #fff; }
  .btn.btn-outline-white {
    border: 1px solid #fff; }
    .btn.btn-outline-white:hover {
      background: #fff;
      color: #ef6c57 !important; }
  .btn.btn-md {
    padding: 15px 30px;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: .1em; }

.line-height-1 {
  line-height: 1 !important; }

.bg-black {
  background: #000; }

.form-control {
  border: none;
  border-bottom: 2px solid gray;
  border-radius: 0;
  background: none;
  color: #000;
  padding-left: 0;
  padding-right: 0; }
  #multiple-select-container-1 .content,#multiple-select-container-1 .caret{color:#fff !important;}
  .dropdown-select  .form-control{color:#333 !important;}
  .form-control:active, .form-control:focus {
    color: #fff;
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    border-color: #fff; }

.site-section {
  padding: 2.5em 0; }
  @media (min-width: 768px) {
    /*body{overflow:auto;}*/
    .site-section {
      padding: 5em 0; } }
  .site-section.site-section-sm {
    padding: 4em 0; }

.site-section-heading {
  padding-bottom: 20px;
  margin-bottom: 50px;
  position: relative;
  font-size: 2.5rem; }

  @media (min-width: 768px) {
    .site-section-heading {
      font-size: 4rem; } }
  .site-section-heading:after {
    content: "";
    left: 0%;
    bottom: 0;
    position: absolute;
    width: 100px;
    height: 3px;
    background: #ef6c57; }
  .site-section-heading.text-center:after {
    content: "";
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    content: "";
    left: 50%;
    bottom: 0;
    position: absolute;
    width: 100px;
    height: 3px;
    background: #ef6c57; }

.border-top {
  border-top: 1px solid #edf0f5 !important; }

.site-footer {
  padding: 4em 0;
  background: #333333; }
  @media (min-width: 768px) {
    .site-footer {
      padding: 8em 0; } }
  .site-footer .border-top {
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important; }
  .site-footer p {
    color: #737373; }
  .site-footer h2, .site-footer h3, .site-footer h4, .site-footer h5 {
    color: #fff; }
  .site-footer a {
    color: #999999; }
    .site-footer a:hover {
      color: white; }
  .site-footer ul li {
    margin-bottom: 10px; }
  .site-footer .footer-heading {
    font-size: 16px;
    color: #fff; }

.bg-text-line {
  display: inline;
  background: #000;
  -webkit-box-shadow: 20px 0 0 #000, -20px 0 0 #000;
  box-shadow: 20px 0 0 #000, -20px 0 0 #000; }

.text-white-opacity-05 {
  color: rgba(255, 255, 255, 0.5); }

.text-black-opacity-05 {
  color: rgba(0, 0, 0, 0.5); }

.hover-bg-enlarge {
  overflow: hidden;
  position: relative; }
  @media (max-width: 991.98px) {
    .hover-bg-enlarge {
      height: auto !important; } }
  .hover-bg-enlarge > div {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .8s all ease-in-out;
    -o-transition: .8s all ease-in-out;
    transition: .8s all ease-in-out; }
  .hover-bg-enlarge:hover > div, .hover-bg-enlarge:focus > div, .hover-bg-enlarge:active > div {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
  @media (max-width: 991.98px) {
    .hover-bg-enlarge .bg-image-md-height {
      height: 300px !important; } }

.bg-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed; }
  .bg-image.overlay {
    position: relative; }
    .bg-image.overlay:after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 0;
      width: 100%;
      background: rgba(0, 0, 0, 0.7); }
  .bg-image > .container {
    position: relative;
    z-index: 1; }

@media (max-width: 991.98px) {
  .img-md-fluid {
    max-width: 100%; } }

@media (max-width: 991.98px) {
  .display-1, .display-3 {
    font-size: 3rem; } }

.play-single-big {
  width: 90px;
  height: 90px;
  display: inline-block;
  border: 2px solid #fff;
  color: #fff !important;
  border-radius: 50%;
  position: relative;
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }
  .play-single-big > span {
    font-size: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-40%, -50%);
    -ms-transform: translate(-40%, -50%);
    transform: translate(-40%, -50%); }
  .play-single-big:hover {
    width: 120px;
    height: 120px; }

.overlap-to-top {
  margin-top: -150px; }

.ul-check {
  margin-bottom: 50px; }
  .ul-check li {
    position: relative;
    padding-left: 35px;
    margin-bottom: 15px;
    line-height: 1.5; }
    .ul-check li:before {
      left: 0;
      font-size: 20px;
      top: -.3rem;
      font-family: "icomoon";
      content: "\e5ca";
      position: absolute; }
  .ul-check.white li:before {
    color: #fff; }
  .ul-check.success li:before {
    color: #8bc34a; }
  .ul-check.primary li:before {
    color: #ef6c57; }

.select-wrap, .wrap-icon {
  position: relative; }
  .select-wrap .icon, .wrap-icon .icon {
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 22px; }
  .select-wrap select, .wrap-icon select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%; }

.top-bar {
  border-bottom: 1px solid #e9ecef !important; }

/* Navbar */
.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: relative;
  width: 100%; }
  .site-navbar.transparent {
    background: transparent; }
  .site-navbar.absolute {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
  .site-navbar .site-logo {
    position: relative;
    left: 0;
    top: -5px; }
  .site-navbar .site-navigation.border-bottom {
    border-bottom: 1px solid #f3f3f4 !important; }
  .site-navbar .site-navigation .site-menu {
    margin-bottom: 0; }
    .site-navbar .site-navigation .site-menu .active > a {
      color: #ef6c57;
      display: inline-block;
      padding: 5px 20px; }
    .site-navbar .site-navigation .site-menu a {
      text-decoration: none !important;
      display: inline-block; }
    .site-navbar .site-navigation .site-menu > li {
      display: inline-block; }
      .site-navbar .site-navigation .site-menu > li > a {
        padding: 5px 10px;
        color: #fff;
        display: inline-block;
        text-decoration: none !important; }
        .site-navbar .site-navigation .site-menu > li > a:hover {
          color: #ef6c57; }
    .site-navbar .site-navigation .site-menu .has-children {
      position: relative; }
      .site-navbar .site-navigation .site-menu .has-children > a {
        position: relative;
        padding-right: 20px; }
        .site-navbar .site-navigation .site-menu .has-children > a:before {
          position: absolute;
          content: "\e313";
          font-size: 16px;
          top: 50%;
          right: 0;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%);
          font-family: 'icomoon'; }
      .site-navbar .site-navigation .site-menu .has-children .dropdown {
        visibility: hidden;
        opacity: 0;
        top: 100%;
        position: absolute;
        text-align: left;
        border-top: 2px solid #ef6c57;
        -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
        box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
        border-left: 1px solid #edf0f5;
        border-right: 1px solid #edf0f5;
        border-bottom: 1px solid #edf0f5;
        padding: 0px 0;
        margin-top: 20px;
        margin-left: 0px;
        background: #fff;
        -webkit-transition: 0.2s 0s;
        -o-transition: 0.2s 0s;
        transition: 0.2s 0s; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
          position: absolute; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            bottom: 100%;
            left: 20%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
            border-color: rgba(136, 183, 213, 0);
            border-bottom-color: #fff;
            border-width: 10px;
            margin-left: -10px; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown a {
          text-transform: none;
          letter-spacing: normal;
          -webkit-transition: 0s all;
          -o-transition: 0s all;
          transition: 0s all;
          color: #343a40; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
          color: #ef6c57 !important; }
        .site-navbar .site-navigation .site-menu .has-children .dropdown > li {
          list-style: none;
          padding: 0;
          margin: 0;
          min-width: 200px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
            padding: 9px 20px;
            display: block; }
            .site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
              background: #f4f5f9;
              color: #25262a; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
            content: "\e315";
            right: 20px; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
            left: 100%;
            top: 0; }
          .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
            background: #f4f5f9;
            color: #25262a; }
      .site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
        color: #ef6c57; }
      .site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
        cursor: pointer; }
        .site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
          -webkit-transition-delay: 0s;
          -o-transition-delay: 0s;
          transition-delay: 0s;
          margin-top: 0px;
          visibility: visible;
          opacity: 1; }

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
  -ms-transform: translateX(110%);
  transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  -o-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out; }
  .offcanvas-menu .site-mobile-menu {
    -webkit-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%); }
  .site-mobile-menu .site-mobile-menu-header {
    width: 100%;
    float: left;
    padding-left: 20px;
    padding-right: 20px; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
      float: right;
      margin-top: 8px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
        font-size: 30px;
        display: inline-block;
        padding-left: 10px;
        padding-right: 0px;
        line-height: 1;
        cursor: pointer;
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
          color: #25262a; }
    .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
      float: left;
      margin-top: 10px;
      margin-left: 0px; }
      .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
        display: inline-block;
        text-transform: uppercase; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
          max-width: 70px; }
        .site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
          text-decoration: none; }
  .site-mobile-menu .site-mobile-menu-body {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: relative;
    padding: 0 20px 20px 20px;
    height: calc(100vh - 52px);
    padding-bottom: 150px; }
  .site-mobile-menu .site-nav-wrap {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative; }
    .site-mobile-menu .site-nav-wrap a {
      padding: 10px 20px;
      display: block;
      position: relative;
      color: #212529; }
      .site-mobile-menu .site-nav-wrap a:hover {
        color: #ef6c57; }
    .site-mobile-menu .site-nav-wrap li {
      position: relative;
      display: block; }
      .site-mobile-menu .site-nav-wrap li.active > a {
        color: #ef6c57; }
    .site-mobile-menu .site-nav-wrap .arrow-collapse {
      position: absolute;
      right: 0px;
      top: 10px;
      z-index: 20;
      width: 36px;
      height: 36px;
      text-align: center;
      cursor: pointer;
      border-radius: 50%; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
        background: #f8f9fa; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse:before {
        font-size: 12px;
        z-index: 20;
        font-family: "icomoon";
        content: "\f078";
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%) rotate(-180deg);
        -ms-transform: translate(-50%, -50%) rotate(-180deg);
        transform: translate(-50%, -50%) rotate(-180deg);
        -webkit-transition: .3s all ease;
        -o-transition: .3s all ease;
        transition: .3s all ease; }
      .site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%); }
    .site-mobile-menu .site-nav-wrap > li {
      display: block;
      position: relative;
      float: left;
      width: 100%; }
      .site-mobile-menu .site-nav-wrap > li > a {
        padding-left: 20px;
        font-size: 20px; }
      .site-mobile-menu .site-nav-wrap > li > ul {
        padding: 0;
        margin: 0;
        list-style: none; }
        .site-mobile-menu .site-nav-wrap > li > ul > li {
          display: block; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > a {
            padding-left: 40px;
            font-size: 16px; }
          .site-mobile-menu .site-nav-wrap > li > ul > li > ul {
            padding: 0;
            margin: 0; }
            .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
              display: block; }
              .site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
                font-size: 16px;
                padding-left: 60px; }
    .site-mobile-menu .site-nav-wrap[data-class="social"] {
      float: left;
      width: 100%;
      margin-top: 30px;
      padding-bottom: 5em; }
      .site-mobile-menu .site-nav-wrap[data-class="social"] > li {
        width: auto; }
        .site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
          padding-left: 15px !important; }

/* Blocks */
.header-bar {
  float: right;
  width: 250px;
  height: 100vh;
  min-height: 400px;
  overflow: auto;
  background: #000;
  padding: 30px;
  text-align: right;
  position: fixed;
  right: 0;
  top: 0; }
  @media (max-width: 991.98px) {
    .header-bar {
      width: 100%;
      position: relative;
      float: none;
      height: 70px !important;
      min-height: 70px; } }
  .header-bar .site-logo {
    margin-bottom: 30px; }
    @media (max-width: 991.98px) {
      .header-bar .site-logo {
        margin-right: auto;
        margin-bottom: 0; } }
    .header-bar .site-logo a {
      font-size: 20px;
      color: #fff;
      text-transform: uppercase;
      font-weight: bold; }
  .header-bar .main-menu {
    margin-left: auto; }
    @media (max-width: 991.98px) {
      .header-bar .main-menu {
        display: none; } }
  .header-bar ul {
    text-align: right;
    padding: 0;
    margin: 0 0 30px 0; }
    @media (max-width: 991.98px) {
      .header-bar ul {
        display: inline-block;
        margin-bottom: 0; } }
    .header-bar ul li {
      list-style: none;
      margin-bottom: 5px; }
      @media (max-width: 991.98px) {
        .header-bar ul li {
          display: inline-block; } }
      .header-bar ul li a {
        display: block;
        padding: 4px 0;
        color: #fff;
        text-transform: uppercase;
        font-size: .8rem; }
        @media (max-width: 991.98px) {
          .header-bar ul li a {
            padding: 4px 10px; } }
      .header-bar ul li.active a {
        color: #ef6c57; }
    .header-bar ul.social li {
      display: inline-block; }
      .header-bar ul.social li a {
        padding: 10px; }
      .header-bar ul.social li:last-child a {
        padding-right: 0; }

.main-content {
/*  float: left;
  width: calc(100% - 250px); */
  padding:10px;}
  @media (max-width: 991.98px) {
    .main-content {
      width: 100%;
      position: relative;
      float: none; } }
  .main-content .container-fluid {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0; }
    @media (max-width: 991.98px) {
      .main-content .container-fluid {
        padding-left: 15px;
        padding-right: 15px; } }
  .main-content .photos .photo-item {
   /* position: relative;*/ }
    .main-content .photos .photo-item:after {
      position: absolute;
      content: "";
      left: 0;
      right: 0;
      bottom: 0;
      top: 0;
      background: rgba(0, 0, 0, 0.6);
      z-index: 1;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease;
      opacity: 0;
      visibility: hidden; }
    .main-content .photos .photo-item .photo-text-more {
      position: absolute;
      z-index: 3;
      top: 50%;
      left: 50%;
      width: 100%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      margin-top: 30px;
      -webkit-transition: .3s all ease;
      -o-transition: .3s all ease;
      transition: .3s all ease;
      opacity: 0;
      visibility: hidden;
      text-align: center; }
      .main-content .photos .photo-item .photo-text-more .icon {
        color: #fff;
        font-size: 20px; }
      .main-content .photos .photo-item .photo-text-more .heading {
        font-size: 16px;
        color: #fff;
        margin-bottom: 0; }
      .main-content .photos .photo-item .photo-text-more .meta {
        color: #cccccc;
        text-transform: uppercase;
        font-size: 12px; }
    .main-content .photos .photo-item img {
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      height: 300px;
      margin-bottom: 20px;     cursor: pointer; }
	  
	    .main-content .photos .cartItem .photo-item img {
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
      height: auto !important;
      margin-bottom: 20px; }
	  .cartItem{background:#201f1f;}
	  .cart_right .btn-group {width:100%;}
	  .cart_right .btn-group .btn{display: flex;
    flex: 1;
    margin-right: 1px;
    order: 0;
    flex-direction: column; border-radius:0px;border-right:1px solid #515151;}
.cart_right .btn-group .btn:last-child{border-right:none;}
.exclus{display:block !important;}
	  
	  
      @media (max-width: 575.98px) {
        .main-content .photos .photo-item img {
          height: 200px; } }
    .main-content .photos .photo-item:hover:after {
      opacity: 1;
      /*visibility: visible;*/ }
    .main-content .photos .photo-item:hover .photo-text-more {
      margin-top: 0;
      opacity: 1;
      visibility: visible; }


.site-mobile-menu .site-mobile-menu-body ul:first-child {
  margin-bottom: 20px !important;
  float: left; }

.site-mobile-menu .site-mobile-menu-body .site-nav-wrap + .site-nav-wrap {
  float: left;
  display: block;
  position: relative; }
  .site-mobile-menu .site-mobile-menu-body .site-nav-wrap + .site-nav-wrap li, .site-mobile-menu .site-mobile-menu-body .site-nav-wrap + .site-nav-wrap li a {
    float: none;
    width: auto;
    display: inline; }

.blog-entry .img-wrap {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 250px;
  flex: 0 0 250px; }
  .blog-entry .img-wrap img {
    border: 4px solid #fff; }

.blog-entry h2 {
  font-size: 24px; }
  .blog-entry h2 a {
    color: #fff; }

.blog-entry .meta {
  color: #737373; }

.custom-pagination {
  margin-top: 50px;
  margin-bottom: 50px; }
  .custom-pagination span, .custom-pagination a {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center; }
  .custom-pagination a {
    border-radius: 50%; }
    .custom-pagination a:hover {
      background: #ef6c57;
      color: #fff; }





.search_m {position:relative;}
.iconSearch{position:absolute;top: 8px;right: 8px;padding: 15px;}


.search_m .form-control{border:none !important; background:#fff; height:70px; color:#333; font-size:1.3rem; padding-left:10px;}
.search_m .btn{border-radius:0px; border:none; background:#fff; height:70px; min-width:200px; color:#000; text-transform:uppercase;border-right: 1px solid #bcbcbc;}


.search_m.header_serach .form-control{border:none !important; background:#fff; height:45px; color:#333; font-size:1rem; padding-left:10px;}
.search_m.header_serach .btn{border-radius:0px; border:none; background:#fff; height:45px; min-width:120px; color:#000; text-transform:uppercase;border-right: 1px solid #bcbcbc; font-size:12px;}
.search_m .show > .btn-secondary.dropdown-toggle {
    color: #000;
    background-color: #fff;
    border-color: #fff;
}
.search_m.header_serach .dropdown-menu.show{border-radius:0px; min-width:120px; font-size:13px;}
.search_m .dropdown-menu.show{border-radius:0px; min-width:200px;}
.search_m .dropdown-menu.show>a{text-transform:uppercase; padding:15px 10px;}
.search_m .input-group-btn{min-width:200px;}
.search_m.header_serach .input-group-btn{min-width:120px;}

.carousel-item a{color:#a3a2a2; text-transform:uppercase; font-size:14px; padding:15px 25px; display:block; border-radius:25px; background: #202020;}

.carousel-item a:hover{background:#f3c31d; color:#000; font-weight:700;}
.carousel-control-prev{justify-content: left;}
.carousel-control-next{justify-content: right;}
.carousel-control-prev,.carousel-control-next{width:auto;}

.pagination_d .page-link,.page-item.disabled .page-link{
  border:none;
  background:none;
    padding: 0.5rem 1.75rem;
	color:#a3a2a2;
}
.page-item.active .page-link{
  background: none;
}
.pagination_d .page-link:hover{background:#f3c31d; color:#000;}

footer{padding:50px 0px 0px; background:#242424;}
footer h3{font-size:18px; color:#fff;}
footer ul{margin:0px; padding:0px;}
footer ul>li{list-style:none;}
footer ul>li>a{color:#a3a2a2; padding:10px 0px; display:block;}
footer ul>li>a:hover{color:#f3c31d;}
.tollfree{color:#fff; font-size:24px; font-weight:normal;}
hr{border-top: 1px solid rgba(255, 255, 255, 0.3) !important;}
iframe{border:none;}
.search_menu{margin-bottom:50px;}
.search_menu>li{display:inline-block;}
.search_menu>li>a{color:#a3a2a2; padding:10px;}
.search_menu>li.active>a{background:#000; color:#fff;}
.search_menu>li>a:hover{background:#000; color:#fff;}
.bg-dark{background:#333 !important;}
.search_menu_l{padding:8px;}

.related_slider .carousel-item a{padding:0px;}
.related_slider .carousel-item a:hover{background:transparent;}
.text-primary{color:#3b5998 !important;}
.orSec {
    margin: 0 auto;
    width: 242px;
    border-bottom: 1px solid #cecece;
    position: relative;
}
.orSec .ortextNew {
    width: 20px;
    height: 20px;
    position: absolute;
    left: 50%;
    bottom: -5px;
    margin-left: -14px;
    line-height: 20px;
    font-size: 14px;
    padding: 4px 0;
    background: #fff;
}
.loignForm .form-control{border-bottom:none; border:1px #dedede solid; color:#333; padding:12px; height:45px; background:#fff;}
.loignForm label{color:#000 !important;}
.loignForm .form-control:focus{border-color:#3b5998;}
.rounded-radius{border-radius:45px !important;}
.cart_btn .rounded-radius{height:55px;}
.updateCart{line-height:40px !important;}
.updateCart:hover{background:#F93 !important; border-color:#F90 !important;}
.cartGroup>.btn.btn-light{background-color: #dae0e5;border-color: #d3d9df; font-size:13px;}
.cartGroup>.btn.btn-light:hover{background:#bdbdbd !important;}
.cart-table>thead>tr>th,.cart-table>tbody>tr>td{padding:30px 15px !important}
.checkout-table>thead>tr>th{padding:15px !important}
.cart-table>tbody>tr:first-child td{border:none !important;}
.checkout{box-shadow:0px -2px 5px #ddd; margin-top:-5%;}




/******* New styles**********//

.profile_list li a.nav-link{color:#333 !important;}
.catImg>img{width:50px; height: 50px; border-radius:50%;}

.video-background-holder {
  position: relative;
  background-color: black;
  height: calc(100vh - 0px);
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

.video-background-holder video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.video-background-content {
  position: relative;
  z-index: 2;
}

.video-background-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}
.vedio_text{position: absolute; margin-top: 160px;}
.icons_thum>span{width: 24px; height: 24px; background:rgba(0,0,0,0.3); border-radius:50%; color: #fff; padding: 10px;}
.icons_thum{position: fixed; right: 0px; right: 20px; top: 100px;}
.main-content .photos .photo-item:hover .photo-text-more .icons_thum{position: fixed; top: 100px;}
.related_key>a{margin-bottom: 10px;}
.lsp-1{letter-spacing: 2px;}
.mytabs>li>a{color: #a6a6a6;}
.nav-tabs.mytabs .nav-link.active,.nav-tabs.mytabs .nav-link.active:focus{/*border-bottom:3px solid #f89d13 !important;*/ /*background: none;*/ 
background:#f89d13 !important;border: none; /*color: #f89d13;*/ color:#fff;}
.nav-tabs.mytabs .nav-link{border: none;}
.nav-tabs.mytabs .nav-link:hover,.nav-tabs.mytabs .nav-link:focus{background: none; border: none; color: #a6a6a6;}
.btn-dark{background:#2b2b2c;}
.fw-3{font-weight: 300 !important;}
.fw-4{font-weight: 400 !important;}
.fw-6{font-weight: 600 !important;}
.fw-7{font-weight: 700 !important;}
.fw-8{font-weight: 800 !important;}
.text-underline{text-decoration: underline;}
.search-bar{position: relative;}
.search-bar .fa-search{position: absolute; top: 12px; right:16px; font-size: 22px; z-index:99999}
.search-bar input.form-control,.search-bar .btn{height:60px !important}
.text-gray{color:#a6a6a6;}




@media screen and  (min-width: 320px) and (max-width:479px) {

.vedio_text{bottom: 0px;}
.vedio_text>.display-4 {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.2;
}

}


form.search_m.header_serach .input-group.search-bar input.form-control{height:50px !important;}

.search_m.header_serach .btn{height:50px !important;}

form.search_m.header_serach .search-bar .fa-search {
    position: absolute;
    top: 16px;
    right: 20px;
    font-size: 20px;
}
